<div class="row justify-content-center align-items-center">
    <div class="card col-12" [formGroup]="voucherFilterForm" style="max-width: 1100px;">
        <div class="card-body p-0">
            <div class="row justify-content-center align-items-center card-title">
                <div class="col-12 text-center mt-1 mb-2">
                    <span class="title">Filtri</span>
                </div>
            </div>

            <div class="row justify-content-center align-items-center p-1">
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 mt-1 mb-1 pe-0">
                    <label class="form-label" for="date_from">Da</label>
                    <input type="date" class="form-control ps-1" id="date_from" formControlName="date_from"
                        style="border-radius: 5px 0 0 5px;"
                        [class.is-invalid]="voucherFilterForm.get('date_from')?.invalid && voucherFilterForm.get('date_from')?.touched">
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 mt-1 mb-1 ps-0">
                    <label class="form-label" for="date_to">A</label>
                    <input type="date" class="form-control ps-1" id="date_to" formControlName="date_to"
                        style="border-radius: 0 5px 5px 0;"
                        [class.is-invalid]="voucherFilterForm.get('date_to')?.invalid && voucherFilterForm.get('date_to')?.touched">
                </div>

                <div class="col-12 col-sm-6 col-lg-4 mt-1 mb-1">
                    <label class="form-label" for="customer">Cliente</label>
                    <input type="text" matInput [matAutocomplete]="customer" class="form-control" id="customer"
                        formControlName="customer"
                        [class.is-invalid]="voucherFilterForm.get('customer')?.invalid && submitted">
                    <mat-autocomplete #customer="matAutocomplete" [displayWith]="displayCustomerName">
                        <mat-option *ngFor="let option of filteredCustomer$ | async" [value]="option">
                            <div>
                                {{option.denominazione}}
                            </div>
                        </mat-option>
                    </mat-autocomplete>
                </div>

                <div class="col-12 col-sm-6 col-lg-4 mt-1 mb-1">
                    <label class="form-label" for="status">Stato</label>
                    <select type="string" class="form-select" id="status" formControlName="status"
                        [class.is-invalid]="voucherFilterForm.get('status')?.invalid && voucherFilterForm.get('status')?.touched">
                        <option [value]="null">{{"VOUCHER.ALLSTATUS" | translate}}</option>
                        <option *ngFor="let status of statusList" [ngValue]="status.id">
                            {{status.name}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-12 text-center mb-1">
                <button class="btn btn-outline-dark" (click)="filter()">
                    {{"VOUCHER.FILTER" | translate}}
                </button>
            </div>
        </div>
    </div>
</div>