<div class="container-fluid" style="min-width: 350px; max-width: 1000px; min-height: 94vh;">
    <div class="row justify-content-center mt-2">
        <div class="col-12 text-center">
            <span style="font-weight: bold; font-size: xx-large;">
                {{"SYSTEM.TICKETNEW.NEWTICKET" | translate}}
            </span>
        </div>
    </div>

    <div [formGroup]="newTicketForm"
        class="row justify-content-start align-items-end mb-2 ps-0 ps-sm-3 ps-md-1 ps-lg-4 pe-0 pe-sm-3 pe-md-1 pe-lg-4">

        <!-- PUBLIC -->
        <div class="col-8 col-sm-4 col-lg-2 mt-2" style="height: 28px;">
            <div class="form-check form-switch">
                <label for="public" class="form-check-label" style="font-weight: bold;">
                    {{"SYSTEM.TICKETNEW.PUBLIC" | translate}}
                </label>
                <input type="checkbox" class="form-check-input" role="switch" id="public" formControlName="public">
            </div>
        </div>

        <!-- SYSTEM INFO -->
        <div class="col-4 col-sm-8 col-lg-10 mt-2">
            <ng-container
                *ngIf="newTicketForm.get('idsystem')?.value != 0 && newTicketForm.get('idsystem')?.value != null">
                <span style="font-weight: bold;">
                    {{"SYSTEM.TICKETNEW.SYSTEMINFO" | translate}}
                </span>
                <button class="btn btn-sm btn-outline-dark ms-2" id="systeminfo" (click)="systemInfoPopup()">
                    <i class="bi bi-card-text"></i>
                </button>
            </ng-container>
        </div>

        <!-- ID TICKET -->
        <!-- <div class="col-4 col-sm-3 col-md-2">
            <label for="idticket" class="form-label">
                {{"SYSTEM.TICKETNEW.ID" | translate}}
            </label>
            <input type="text" class="form-control" id="idticket" formControlName="idticket">
        </div> -->

        <!-- NUM DATE -->
        <!-- <div class="col-8 col-sm-9 col-md-10">
            <label for="num_date" class="form-label">
                {{"SYSTEM.TICKETNEW.NUMDATE" | translate}}
            </label>
            <input type="text" class="form-control" id="num_date" formControlName="num_date" style="max-width: 200px;">
        </div> -->

        <!-- SYSTEM LIST -->
        <div class="col-12 col-md-6">
            <label class="form-label" for="systemName">
                {{"SYSTEM.TICKETNEW.SYSTEM" | translate}}
            </label>
            <input class="form-control" type="text" id="systemName" formControlName="systemName">
        </div>

        <div class="col-12 mt-3">
            <span style="font-weight: bold; font-size: large; border-bottom: 1px solid lightgray;">
                {{"SYSTEM.TICKETNEW.ANOMALYFOUNDED" | translate}}
            </span>
        </div>

        <!-- INVERTER LIST -->
        <div class="col-12 mt-2 mb-2 ps-md-3 ps-lg-5 pe-md-3 pe-lg-5 text-start" formArrayName="inverterList">
            <span class="listTitle">
                {{"SYSTEM.TICKETNEW.INVERTERLIST" | translate}}
            </span>
            <div class="row align-items-group mt-2" style="border-bottom: 1px solid lightgray;">
                <div class="col-12 col-sm-6 col-md-4 col-xl-3 text-start"
                    *ngFor="let inverter of inverterList.controls; let i = index" [formGroupName]="i">
                    <div class="form-check">
                        <label class="form-check-label ms-2" for="selected_inverter-{{i}}">
                            {{inverter.get('sn')?.value}}
                        </label>
                        <input class="form-check-input" type="checkbox" id="selected_inverter-{{i}}" formControlName="selected">
                    </div>
                </div>
            </div>
        </div>

        <!-- BATTERY LIST -->
        <div class="col-12 mt-2 mb-2 ps-md-3 ps-lg-5 pe-md-3 pe-lg-5 text-start" formArrayName="batteryList">
            <span class="listTitle">
                {{"SYSTEM.TICKETNEW.BATTERYLIST" | translate}}
            </span>
            <div class="row align-items-group mt-2" style="border-bottom: 1px solid lightgray;">

                <div class="col-12 col-sm-6 col-md-4 col-xl-3 text-start"
                    *ngFor="let battery of batteryList.controls; let i = index" [formGroupName]="i">
                    <div class="form-check">
                        <label class="form-check-label ms-2" for="selected_battery-{{i}}">
                            {{battery.get('sn')?.value}}
                        </label>
                        <input class="form-check-input" type="checkbox" id="selected_battery-{{i}}" formControlName="selected">
                    </div>
                </div>
            </div>
        </div>

        <!-- DESCRIPTION -->
        <div class="col-12 mt-2">
            <label for="description" class="form-label">
                {{"SYSTEM.TICKETNEW.DESCRIPTION" | translate}}
            </label>
            <textarea type="text" class="form-control" id="description" formControlName="description"
                rows="3" 
                [class.is-invalid]="newTicketForm.get('description')?.invalid && submitted"></textarea>
        </div>

        <!-- INTERNAL NOTES -->
        <div class="col-12 mt-2">
            <label for="note" class="form-label">
                {{"SYSTEM.TICKETNEW.INTERNALNOTES" | translate}}
            </label>
            <textarea type="text" class="form-control" id="note" formControlName="note"
                rows="2"></textarea>
        </div>


        <!-- ATTACHMENTS -->
        <div class="col-12 text-center mt-1">
            <span style="font-size: small; color: gray; font-style: italic;">
                {{"SYSTEM.TICKETNEW.MAXTHREE" | translate}}
            </span>
        </div>

        <div class="col-12 mt-2 text-end">
            <div class="row justify-content-center">
                <div *ngFor="let img of imagesList; let i = index" class="col-auto" style="position: relative;">
                    <img style="height: 50px; width: 40px; border: 1px solid lightgray; object-fit: cover;"
                        [src]="img.src" [title]="img.src">
                    <button class="btn btn-danger p-0" style="position: absolute; right: 8px; top: -4px"
                        (click)="deleteFile(i)">
                        <i class="bi bi-x"></i>
                    </button>
                </div>

                <div class="col-auto">
                    <label *ngIf="fileList.length < maxImages" for="fileUpload2"
                        class="btn btn-outline-dark mt-1">
                        <i class="bi bi-paperclip"></i>
                        <input type="file" id="fileUpload2" style="display: none;"
                            (change)="onFileSelected($event)" multiple>
                    </label>
                </div>
            </div>
        </div>

        <div *ngIf="newTicketForm.invalid && submitted" class="col-12 text-center mt-2">
            <span style="color: red; font-size: small;">
                {{"SYSTEM.TICKETNEW.MANDATORYFIELDS" | translate}}
            </span>
        </div>
    </div>

    <div class="row justify-content-center pt-2" style="border-top: 1px solid lightgray;">
        <div class="col-12 text-end">
            <button class="btn btn-success me-2" style="width: 100px;" (click)="create()">
                {{"SYSTEM.TICKETNEW.CREATE" | translate}}
            </button>
        </div>
    </div>
</div>