.form-label {
    font-weight: bold;
    margin-bottom: 0.1rem;
    padding-top: 0.5rem;
}

.listTitle {
    font-weight: bold;
}

::ng-deep .quillContainer .is-invalid {
    .ql-editor {
        border: 1px solid red !important;
    }
}