<div class="container-fluid ps-1 pe-1 pb-2 ps-md-2 pe-md-2 ps-xl-3 pe-xl-3">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-6">
            <span class="title me-2">
                {{'INVOICE.INFO.HEADINGCOMPONENT.TYPE' | translate}}:
            </span>
            <span class="content">
                {{heading?.type}}
            </span>
        </div>

        <div class="col-12 col-md-6">
            <span class="title me-2">
                {{'INVOICE.INFO.HEADINGCOMPONENT.FORMAT' | translate}}:
            </span>
            <span class="content">
                {{heading?.format}}
            </span>
        </div>

        <div class="col-12 col-md-6">
            <span class="title me-2">
                {{'INVOICE.INFO.HEADINGCOMPONENT.NUMBER' | translate}}:
            </span>
            <span class="content">
                {{heading?.number}}
            </span>
        </div>

        <div class="col-12 col-md-6">
            <span class="title me-2">
                {{'INVOICE.INFO.HEADINGCOMPONENT.CONFORMITY' | translate}}:
            </span>
            <span class="content">
                {{heading?.conformity}}
            </span>
        </div>

        <div class="col-12 col-md-6">
            <span class="title me-2">
                {{'INVOICE.INFO.HEADINGCOMPONENT.DATE' | translate}}:
            </span>
            <span class="content">
                {{heading?.date}}
            </span>
        </div>

        <div class="col-12 col-md-6">
            <span class="title">
                {{'INVOICE.INFO.HEADINGCOMPONENT.AMMINISTRATIVEREF' | translate}}:
            </span>
            <span class="content">
                {{heading?.administrativeref}}
            </span>
        </div>

        <div class="col-12 col-md-6">
            <span class="title me-2">
                {{'INVOICE.INFO.HEADINGCOMPONENT.CURRENCY' | translate}}:
            </span>
            <span class="content">
                {{heading?.currency}}
            </span>
        </div>

        <div class="col-12 col-md-6">
            <span class="title me-2">
                {{'INVOICE.INFO.HEADINGCOMPONENT.REASON' | translate}}:
            </span>
            <span class="content">
                {{heading?.reason}}
            </span>
        </div>
    </div>
</div>