<div class="container-fluid" style="background-color: #212529; min-width: 350px;">

    <div class="row d-flex d-md-none justify-content-center align-items-center p-2">
        <div class="col-12 text-center p-2">
            <img src="assets/img/logo.png" alt="">
        </div>
    </div>

    <div class="row justify-content-center p-4">
        <div class="col-6 col-md-4 text-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-xl-7 text-center mb-2">
                        <span class="footerTitle">CHI SIAMO</span>
                    </div>
                </div>
                <div class="row justify-content-center mb-2">
                    <div class="col-12 col-md-8 col-xl-7 text-center">
                        <span class="footerBody" style="font-size: small;">
                                Informatica al servizio
                                delle aziende
                        </span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <span class="footerBody" style="font-size: x-small;">
                        Wallnet s.n.c.<br>
                        Borgo San Lorenzo, FI<br>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-4 justify-content-center align-items-center d-none d-md-flex p-2">
            <img src="assets/img/logo.png" alt="">
        </div>

        <div class="col-6 col-md-4 text-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-xl-7 text-center mb-2">
                        <span class="footerTitle">CONTATTI</span>
                    </div>
                </div>
                <div class="row justify-content-center mb-3">
                    <div class="col-6 text-end">
                        <img class="icon" src="assets/img/facebook.png" alt="facebook page">
                    </div>
                    <div class="col-6 text-start">
                        <img class="icon" src="assets/img/web.png" alt="website">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-xl-7 text-center">
                        <span class="footerBody">
                            <p style="font-size: x-small;">
                                Tel. 055 0540978<br>
                                info&commat;wallnet.it
                            </p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>