<div class="container-fluid p-1 p-sm-2 p-md-3 p-lg-4" style="min-width: 375px;">
    <div class="row justify-content-center align-items-center mt-2 mb-2">
        <div class="col-12 text-center title">
            <label>Buoni Di Lavoro</label>
        </div>
    </div>

    <div class="row justify-content-center align-items-center p-3">
        <app-filters></app-filters>
    </div>

    <div class="row justify-content-center align-items-center p-3 mt-4">
        <div class="col-12 p-0" style="max-width: 1100px;">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" class="mat-table" matSort>

                    <!-- Numero Column -->
                    <ng-container matColumnDef="progressive">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Numero </th>
                        <td mat-cell *matCellDef="let element"> {{ element.progressive }} </td>
                    </ng-container>

                    <!-- Data Column -->
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data </th>
                        <td mat-cell *matCellDef="let element"> {{ element.voucher_date }} </td>
                    </ng-container>

                    <!-- Cliente Column -->
                    <ng-container matColumnDef="customer">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
                        <td mat-cell *matCellDef="let element"> {{ element.customer.nome }} </td>
                    </ng-container>

                    <!-- Stato Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Stato </th>
                        <td mat-cell *matCellDef="let element"> {{ element.status.name }} </td>
                    </ng-container>

                    <!-- Note Column -->
                    <ng-container matColumnDef="info">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Info </th>
                        <td mat-cell *matCellDef="let element">
                            <i class="bi bi-info-circle me-2" [matTooltip]="element.notes"></i>
                            <i class="bi bi-building" [matTooltip]="element.location"></i>
                        </td>
                    </ng-container>

                    <!-- Header and Row Definitions -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <!-- Paginator -->
                <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>