<h2 mat-dialog-title align="center" class="justify-content-center" style="background-color: #002D5D;">
    <span style="color: white; font-weight: bold; font-size: x-large;">{{"INVOICE.MODAL.MODIFYCUSTOMER" | translate
        }}</span>
</h2>

<mat-dialog-content *ngIf="idPopup == 1">
    <div [formGroup]="modifyCustomerForm" class="row justify-content-center align-items-center mt-1">
        <div class="col-12 mt-1 mb-1">
            <label class="form-label" for="type">{{"INVOICE.INFO.CUSTOMERCOMPONENT.TYPE" | translate }}</label>
            <input type="text" class="form-control" id="type" formControlName="type">
        </div>
        <div class="col-12 mt-1 mb-1">
            <label class="form-label" for="customer">{{"INVOICE.INFO.CUSTOMERCOMPONENT.CUSTOMER" | translate }}</label>
            <input type="text" class="form-control" id="customer" formControlName="customer">
        </div>

        <div class="col-12 col-sm-6 mt-1 mb-1">
            <label class="form-label" for="fiscalcode">{{"INVOICE.INFO.CUSTOMERCOMPONENT.FISCALCODE" | translate
                }}</label>
            <input type="text" class="form-control" id="fiscalcode" formControlName="fiscalcode">
        </div>
        <div class="col-12 mt-1 mb-1">
            <label class="form-label" for="vat">{{"INVOICE.INFO.CUSTOMERCOMPONENT.VAT" | translate }}</label>
            <input type="text" class="form-control" id="vat" formControlName="vat">
        </div>
    </div>
</mat-dialog-content>

<!-- CALLED FROM MODIFY CUSTOMER COMPONENT -->
<mat-dialog-content *ngIf="idPopup == 2">
    <div [formGroup]="customerGeneralForm" class="row justify-content-start mt-2">
        <!-- NATURAL PERSON -->
        <div class="col-12 form-check ps-2">
            <label class="form-check-label ms-2" for="naturalPerson">
                {{"INVOICE.CUSTOMER.NATURALPERSON" | translate}}
            </label>
            <input class="form-check-input mt-2 ms-1" type="checkbox" id="naturalPerson"
                formControlName="naturalPerson">
        </div>

        <ng-container *ngIf="customerGeneralForm.get('naturalPerson')?.value == 1; else companyBlock">
            <!-- NAME -->
            <div class="col-12 col-sm-6">
                <label class="form-label" for="name">
                    {{"INVOICE.CUSTOMER.NAME" | translate}}
                </label>
                <input class="form-control" type="text" id="name" formControlName="name"
                    [class.is-invalid]="customerGeneralForm.get('name')?.invalid && submitted">
            </div>

            <!-- SURNAME -->
            <div class="col-12 col-sm-6">
                <label class="form-label" for="surname">
                    {{"INVOICE.CUSTOMER.SURNAME" | translate}}
                </label>
                <input class="form-control" type="text" id="surname" formControlName="surname"
                    [class.is-invalid]="customerGeneralForm.get('surname')?.invalid && submitted">
            </div>
        </ng-container>

        <ng-template #companyBlock>
            <!-- BUSINESSNAME -->
            <div class="col-12">
                <label class="form-label" for="businessName">
                    {{"INVOICE.CUSTOMER.BUSINESSNAME" | translate}}
                </label>
                <input class="form-control" type="text" id="businessName" formControlName="businessName"
                    [class.is-invalid]="customerGeneralForm.get('businessName')?.invalid && submitted">
            </div>
        </ng-template>

        <!-- PEC -->
        <div class="col-12 col-sm-6 col-md-5 col-lg-4">
            <label class="form-label" for="pec">
                {{"INVOICE.CUSTOMER.PEC" | translate}}
            </label>
            <input class="form-control" type="text" id="pec" formControlName="pec"
                [class.is-invalid]="customerGeneralForm.get('pec')?.invalid && submitted">
        </div>

        <!-- COUNTRY -->
        <div class="col-12 col-sm-6 col-md-4">
            <label class="form-label" for="country">
                {{"INVOICE.CUSTOMER.COUNTRY" | translate}}
            </label>
            <select class="form-select" id="country" formControlName="country">
                <option [value]="null">
                    --
                </option>
                <option *ngFor="let country of countriesList" [ngValue]="country.id">
                    {{country.common_name}}
                </option>
            </select>
        </div>

        <!-- SDI -->
        <div class="col-12 col-sm-6 col-md-3">
            <label class="form-label" for="sdi">
                {{"INVOICE.CUSTOMER.SDI" | translate}}
            </label>
            <input class="form-control" type="text" id="sdi" formControlName="sdi">
        </div>

        <!-- FISCAL CODE -->
        <div class="col-12 col-sm-6">
            <label class="form-label" for="fiscalcode">
                {{"INVOICE.CUSTOMER.FISCALCODE" | translate}}
            </label>
            <input class="form-control" type="text" id="fiscalcode" formControlName="fiscalcode">
        </div>

        <!-- SAME CODE -->
        <div class="col-12 d-md-none ps-2 form-check">
            <label class="form-check-label ms-2" for="sameCode">
                {{"INVOICE.CUSTOMER.SAMECODE" | translate}}
            </label>
            <input class="form-check-input mt-2 ms-1" type="checkbox" id="sameCode" formControlName="sameCode"
                style="height: 20px; width: 20px;">
        </div>

        <!-- VAT -->
        <div class="col-12 col-sm-6">
            <label class="form-label" for="vat">
                {{"INVOICE.CUSTOMER.VAT" | translate}}
            </label>
            <input class="form-control" type="text" id="vat" formControlName="vat">
        </div>

        <!-- SAME CODE -->
        <div class="col-12 d-none d-md-inline ps-2 form-check">
            <label class="form-check-label ms-2" for="sameCode">
                {{"INVOICE.CUSTOMER.SAMECODE" | translate}}
            </label>
            <input class="form-check-input mt-2 ms-1" type="checkbox" id="sameCode" formControlName="sameCode"
                style="height: 20px; width: 20px;">
        </div>

        <div *ngIf="customerGeneralForm.invalid && submitted" class="col-12 text-center mt-2">
            <span style="font-size: small; color: red;">
                {{"INVOICE.CUSTOMER.MISSINGFIELDS" | translate}}
            </span>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end" style="border-top: 1px solid lightgray;">
    <button *ngIf="idPopup == 1" class="btn btn-outline-success me-2" style="width: 100px;" (click)="confirm()">
        {{"INVOICE.MODAL.CONFIRM" | translate }}
    </button>
    <button *ngIf="idPopup == 2" class="btn btn-outline-success me-2" (click)="save()">
        {{"INVOICE.CUSTOMER.ADD" | translate}}
    </button>
    <button class="btn btn-outline-dark me-2" style="width: 100px;" (click)="close()">
        {{"INVOICE.MODAL.CLOSE" | translate }}
    </button>
</mat-dialog-actions>