.title {
    font-size: xx-large;
    font-weight: bold;
}

.modifyIcon:hover {
    cursor: pointer;
}

input, textarea, select {
    font-weight: 150;
}

.btn-outline-dark {
    color: #002D5D;
    border-color: #002D5D;
}

.btn-outline-dark:hover {
    color: white;
    background-color: #002D5D;
}

.subtitle {
    font-weight: bold;
    font-size: x-large;
}

.iconSize {
    font-size: 24px;
    color: #002D5D;
}

.titleRecords {
    font-size: xx-large;
    font-weight: bold;
}

.tabTitle {
    font-size: x-large;
    font-weight: bold;
    color: #002D5D;
}