<div class="container-fluid" style="position: relative;">
    <div class="row justify-content-center align-items-center pt-4">
        <div class="col-auto text-center ps-3 pe-3 pt-1 pb-1 titleColumn">
            <span class="title">
                {{"INVOICE.CUSTOMER.CUSTOMERLIST.CUSTOMERLIST" | translate}}
            </span>
        </div>
    </div>

    <div class="row justify-content-center p-2 mt-4">
        <div [formGroup]="filterForm" class="col-12 cardElement" style="max-width: 1200px;">
            <div class="row">
                <div class="col-12 pb-1" style="border-bottom: 1px solid lightgrey;">
                    <span class="titleFilters">
                        {{"INVOICE.CUSTOMER.CUSTOMERLIST.SEARCH" | translate}}
                    </span>
                </div>

                <div class="col-12 col-sm-6 mt-2">
                    <!-- AUTOCOMPLETE DENOMINAZIONE -->
                    <label for="denomination" class="form-label">
                        {{"INVOICE.CUSTOMER.CUSTOMERLIST.DENOMINATION" | translate}}
                    </label>
                    <input type="text" class="form-control" name="denomination" id="denomination"
                        formControlName="denomination">
                </div>

                <div class="col-12 col-sm-6 mt-2">
                    <!-- AUTOCOMPLETE FISCAL CODE -->
                    <label for="denomination" class="form-label">
                        {{"INVOICE.CUSTOMER.CUSTOMERLIST.FISCALCODEVAT" | translate}}
                    </label>
                    <input type="text" class="form-control" name="denomination" id="denomination"
                        formControlName="denomination">
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-auto text-center">
            <!-- Contenitore scrollabile -->
            <div class="alphabet-scroll-container">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li *ngFor="let letter of alphabeth" class="page-item">
                            <a class="page-link clickableElement" [ngClass]="{'selectedLetter': letter.isSelected }"
                                (click)="letterFilter(letter.id)">

                                <ng-container *ngIf="letter.id === 27; else noTranslationBlock">
                                    {{ "INVOICE.CUSTOMER.CUSTOMERLIST.ALL" | translate }}
                                </ng-container>
                                <ng-template #noTranslationBlock>
                                    {{ letter.name }}
                                </ng-template>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 mt-4" style="max-width: 1400px;">
            <div class="mat-elevation-z8 mb-2">

                <div class="row justify-content-center p-3" style="border-radius: 20px;">
                    <div class="d-none d-md-inline col-4 text-start">
                        <span style="font-size: small;">{{"INVOICE.LIST.TOTALRESULTS" | translate }}:
                            {{totalResults}}
                        </span>
                    </div>

                    <div class="d-none d-md-inline col-4 text-center">
                        <span style="font-size: small;">{{"INVOICE.LIST.OBJPERPAGE" | translate }}:
                            {{itemsPerPage}}
                        </span>
                    </div>

                    <div class="col-6 d-sm-none text-start">
                        <span style="font-size: small;">
                            {{"INVOICE.LIST.ORDEREDBYDEFAULT" | translate}}
                        </span>
                    </div>

                    <div class="col-6 col-sm-12 col-md-4 text-end">
                        <span>
                            <button [disabled]="currentPage == 1" class="btn btn-link me-2 p-0" (click)="prevPage()">
                                <i class="bi bi-caret-left"></i>
                            </button>
                            <span style="font-size: small;">{{"INVOICE.LIST.PAGE" | translate }} {{currentPage}} di
                                {{totalPages}}
                            </span>
                            <button [disabled]="currentPage == totalPages" class="btn btn-link ms-2 p-0"
                                (click)="nextPage()">
                                <i class="bi bi-caret-right"></i>
                            </button>
                        </span>
                    </div>
                </div>

                <table mat-table [dataSource]="dataSource" class="mat-table mb-5" matSort style="border-top: 1px solid lightgray;"
                    matSortActive="lastupdate" matSortDirection="desc" matSortDisableClear>

                    <!-- Denominations Column -->
                    <ng-container matColumnDef="denomination">
                        <th mat-header-cell *matHeaderCellDef>
                            {{"INVOICE.CUSTOMER.CUSTOMERLIST.DENOMINATION" | translate}}
                        </th>
                        <td mat-cell *matCellDef="let element" (click)="goToCustomer(element.id)">
                            <span class="clickableElement" style="text-decoration: underline; color: blue;">
                                {{ element.denomination }}
                            </span>
                        </td>
                    </ng-container>

                    <!-- Fiscal Code Column -->
                    <ng-container matColumnDef="fiscalcode">
                        <th mat-header-cell *matHeaderCellDef class="limitedWidth headerScale">
                            {{"INVOICE.CUSTOMER.CUSTOMERLIST.FISCALCODE" | translate}}
                        </th>
                        <td mat-cell *matCellDef="let element" class="limitedWidth">
                            {{element.fiscalcode}}
                        </td>
                    </ng-container>

                    <!-- Vat Column -->
                    <ng-container matColumnDef="vat">
                        <th mat-header-cell *matHeaderCellDef class="d-none d-sm-table-cell limitedWidth">
                            {{"INVOICE.CUSTOMER.CUSTOMERLIST.VAT" | translate}}
                        </th>
                        <td mat-cell *matCellDef="let element" class="d-none d-sm-table-cell limitedWidth">
                            {{element.vat}}
                        </td>
                    </ng-container>

                    <!-- Main Address Column -->
                    <ng-container matColumnDef="mainAddress">
                        <th mat-header-cell *matHeaderCellDef class="d-none d-md-table-cell headerScale">
                            {{"INVOICE.CUSTOMER.CUSTOMERLIST.MAINADDRESS" | translate}}
                        </th>
                        <td mat-cell *matCellDef="let element" class="d-none d-md-table-cell text-truncate">
                            {{element.mainAddress}}
                        </td>
                    </ng-container>

                    <!-- Info Column -->
                    <ng-container matColumnDef="info">
                        <th mat-header-cell *matHeaderCellDef class="limitedWidth d-none d-lg-table-cell headerScale">
                            {{"INVOICE.CUSTOMER.CUSTOMERLIST.INFO" | translate}}
                        </th>
                        <td mat-cell *matCellDef="let element" class="limitedWidth d-none d-lg-table-cell">
                            {{element.info}}
                        </td>
                    </ng-container>

                    <!-- Header and Row Definitions -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="rowHover">
                    </tr>
                </table>

                <!-- <ng-template #smallTableBlock>
                <table mat-table [dataSource]="bankList" class="mat-table" matSort #sort="matSort"
                    matSortActive="lastupdate" matSortDirection="desc" matSortDisableClear>
                    Small Screen Column
                    <ng-container matColumnDef="smallScreenCol">
                        <th mat-header-cell *matHeaderCellDef class="d-none">
                            {{"INVOICE.BANK.DENOMINATIONIBAN"}}
                        </th>
                        <td mat-cell *matCellDef="let element" class="d-sm-none">
                            {{element.denomination}}
                            <br>
                            {{element.iban}}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsSmall" class="d-none"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsSmall;" class="rowHoverSm"
                        (click)="goToBank(row)">
                    </tr>
                </table>
            </ng-template> -->

            </div>
        </div>
    </div>


    <button class="btn btn-outline-primary stickyButton btn-circle sticky-footer ms-2" (click)="goToCustomer(0)">
        <i class="bi bi-plus-lg"></i>
    </button>
</div>