.form-label {
    font-size: small;
    font-weight: 800;
    margin-top: 0.3rem;
    margin-bottom: 0rem;
}

.btn-outline-dark {
    color: #002D5D;
    border-color: #002D5D;
}

.btn-outline-dark:hover {
    background-color: #002D5D;
    color: white;
}

.dropdown-custom {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: white;
    color: #002D5D;
    border-color: #002D5D;
    padding: 8px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 1000;
}

.dropdown-list {
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1050 !important;
}

.dropdown-list li {
    padding: 10px;
    cursor: pointer;
}

.dropdown-list li:hover {
    background: #f1f1f1;
}

.errorTxt {
    color: red; 
    font-size: small;
}