<!-- TABLE -->
<div class="row justify-content-center">
    <div class="col-12 mt-4" style="max-width: 1800px;">
        <div class="mat-elevation-z8 mb-2">

            <!-- PAGINATOR -->
            <div class="row justify-content-center p-3" style="border-radius: 20px;">
                <div class="d-none d-md-inline col-4 text-start">
                    <span style="font-size: small;">
                        {{"PAYMENTCONDITIONS.TABLE.TOTALRESULTS" | translate}}:
                        {{totalResults}}
                    </span>
                </div>

                <div class="d-none d-md-inline col-4 text-center">
                    <span style="font-size: small;">
                        {{"PAYMENTCONDITIONS.TABLE.ITEMSPERPAGE" | translate}}:
                        {{itemsPerPage}}
                    </span>
                </div>

                <div class="col-6 d-sm-none text-start">
                    <span style="font-size: small;">
                        {{"PAYMENTCONDITIONS.TABLE.ORDEREDBYDEFAULT" | translate}}
                    </span>
                </div>

                <div class="col-6 col-sm-12 col-md-4 text-end">
                    <span>
                        <button [disabled]="currentPage == 1" class="btn btn-link me-2 p-0" (click)="prevPage()">
                            <i class="bi bi-caret-left"></i>
                        </button>
                        <span style="font-size: small;">
                            {{"PAYMENTCONDITIONS.TABLE.PAGE" | translate}} {{currentPage}} di
                            {{totalPages}}
                        </span>
                        <button [disabled]="currentPage == totalPages" class="btn btn-link ms-2 p-0"
                            (click)="nextPage()">
                            <i class="bi bi-caret-right"></i>
                        </button>
                    </span>
                </div>
            </div>

            <table mat-table [dataSource]="dataSource" class="mat-table mb-5" matSort *ngIf="!isSmallScreen; else smallTableBlock"
                style="border-top: 1px solid lightgray;" matSortActive="lastupdate" matSortDirection="desc"
                matSortDisableClear>

                <!-- Icons Column -->
                <ng-container matColumnDef="icons">
                    <th mat-header-cell *matHeaderCellDef style="width: 80px;">
                        {{"PAYMENTCONDITIONS.TABLE.ACTIONS" | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element" style="width: 80px;">
                        <i class="bi bi-pencil" (click)="modifyPopup(element.id)"
                            matTooltip="{{'PAYMENTCONDITIONS.TABLE.MODIFY' | translate}}"></i>
                        <i class="bi bi-copy ms-3" (click)="modifyPopup(element.id)"
                            matTooltip="{{'PAYMENTCONDITIONS.TABLE.DUPLICATE' | translate}}"></i>
                    </td>
                </ng-container>

                <!-- Code Column -->
                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef style="width: 120px;">
                        {{"PAYMENTCONDITIONS.TABLE.CODE" | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <span class="clickableElement" style="width: 120px;">
                            {{ element.code }}
                        </span>
                    </td>
                </ng-container>

                <!-- Description Column -->
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>
                        {{"PAYMENTCONDITIONS.TABLE.DESCRIPTION" | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.description}}
                    </td>
                </ng-container>

                <!-- Xml Code Column -->
                <ng-container matColumnDef="xml_code">
                    <th mat-header-cell *matHeaderCellDef class="d-none d-md-table-cell" style="width: 120px;">
                        {{"PAYMENTCONDITIONS.TABLE.XMLCODE" | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element" class="d-none d-md-table-cell" style="width: 120px;">
                        {{element.xml_code}}
                    </td>
                </ng-container>

                <!-- Installment Number Column -->
                <ng-container matColumnDef="installment_number">
                    <th mat-header-cell *matHeaderCellDef class="d-none d-sm-table-cell" style="width: 120px;">
                        {{"PAYMENTCONDITIONS.TABLE.INSTALLMENTNUMBER" | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element" class="d-none d-sm-table-cell" style="width: 120px;">
                        {{element.installment_number}}
                    </td>
                </ng-container>

                <!-- Periodicity Column -->
                <ng-container matColumnDef="periodicity">
                    <th mat-header-cell *matHeaderCellDef class="d-none d-sm-table-cell" style="width: 120px;">
                        {{"PAYMENTCONDITIONS.TABLE.PERIODICITY" | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element" class="d-none d-sm-table-cell" style="width: 120px;">
                        {{element.periodicity}}
                    </td>
                </ng-container>

                <!-- Deadline Column -->
                <ng-container matColumnDef="deadline">
                    <th mat-header-cell *matHeaderCellDef class="d-none d-lg-table-cell" style="width: 150px;">
                        {{"PAYMENTCONDITIONS.TABLE.DEADLINE" | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element" class="d-none d-lg-table-cell" style="width: 150px;">
                        {{element.deadline}}
                    </td>
                </ng-container>

                <!-- Deadline Type Column -->
                <ng-container matColumnDef="deadline_type">
                    <th mat-header-cell *matHeaderCellDef class="d-none d-sm-table-cell" style="width: 150px;">
                        {{"PAYMENTCONDITIONS.TABLE.DEADLINETYPE" | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element" class="d-none d-sm-table-cell" style="width: 150px;">
                        {{element.deadline_type}}
                    </td>
                </ng-container>

                <!-- Exact Date Column -->
                <ng-container matColumnDef="exact_day">
                    <th mat-header-cell *matHeaderCellDef class="d-none d-xxl-table-cell" style="width: 120px;">
                        {{"PAYMENTCONDITIONS.TABLE.EXACTDATE" | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element" class="d-none d-xxl-table-cell" style="width: 120px;">
                        {{element.exact_date}}
                    </td>
                </ng-container>

                <!-- Bank Column -->
                <ng-container matColumnDef="bank">
                    <th mat-header-cell *matHeaderCellDef class="d-none d-xxl-table-cell">
                        {{"PAYMENTCONDITIONS.TABLE.BANK" | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element" class="d-none d-xxl-table-cell">
                        {{element.bank}}
                    </td>
                </ng-container>

                <!-- Header and Row Definitions -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="rowHover">
                </tr>
            </table>

            <!-- SMALL SCREEN TABLE -->
            <ng-template #smallTableBlock>
                <table mat-table [dataSource]="dataSource" class="mat-table" matSort
                    matSortActive="lastupdate" matSortDirection="desc" matSortDisableClear>
                    <!-- Small Screen Column -->
                    <ng-container matColumnDef="smallScreenCol">
                        <th mat-header-cell *matHeaderCellDef class="d-none">
                            {{"PAYMENTCONDITIONS.TABLE.CODEDESCRIPTION" | translate}}
                        </th>
                        <td mat-cell *matCellDef="let element" class="d-sm-none mt-1">
                            {{element.code}}
                            <br>
                            {{element.description}}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsSmall" class="d-none"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsSmall;" class="rowHoverSm">
                    </tr>
                </table>
            </ng-template>

        </div>
    </div>
</div>