<mat-expansion-panel class="mt-2" [expanded]="index == 0">
    <mat-expansion-panel-header>
        <mat-panel-title style="font-size: large; min-width: 150px;">
            {{"VOUCHER.ARTICLE" | translate}} {{index+1}}
            <i class="bi bi-trash ms-2" style="color: red;" (click)="deleteArticle(index)"></i>
        </mat-panel-title>
        <mat-panel-description class="align-items-right">

        </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- FORM -->
    <div [formGroup]="line" class="row justify-content-center align-items-top">
        <div class="col-6 col-md-3 col-lg-2 mt-2">
            <label class="form-label" for="quantity">
                {{"VOUCHER.QUANTITY" | translate}}
            </label>
            <input type="text" class="form-control" formControlName="quantity" id="quantity"
            [class.is-invalid]="line.get('quantity')?.invalid && (line.get('quantity')?.touched || line.get('quantity')?.dirty)">
        </div>
        <div class="col-6 col-md-3 col-lg-2 mt-2">
            <label class="form-label" for="refidunit">
                {{"VOUCHER.MEASUREMENTUNIT" | translate}}
            </label>
            <select type="text" class="form-select" formControlName="refidunit" id="refidunit"
            [class.is-invalid]="line.get('refidunit')?.invalid && submitted">
                <option [ngValue]="null"></option>
                <option *ngFor="let unit of measurmentUnit" [ngValue]="unit.id">
                    {{unit.acronym}}
                </option>
            </select>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-8 mt-2">
            <label class="form-label" for="description">
                {{"VOUCHER.DESCRIPTION" | translate}}
            </label>
            <textarea type="text" class="form-control" formControlName="description" id="description" rows="1">
            </textarea>
        </div>
    </div>

    <div *ngIf="line.invalid" class="row justify-content-center mt-1">
        <div *ngIf="line.get('quantity')?.invalid && line.get('quantity')?.value != null && line.get('quantity')?.value != ''" class="col-12 text-center">
            <span class="error">
                {{"VOUCHER.QUANTITYERROR" | translate}}
            </span>
        </div>
        <div *ngIf="line.get('quantity')?.invalid && (line.get('quantity')?.value == null || line.get('quantity')?.value == '') && line.get('quantity')?.touched" class="col-12 text-center">
            <span class="error">
                {{"VOUCHER.QUANTITYERROR2" | translate}}
            </span>
        </div>
        <div *ngIf="line.get('refidunit')?.invalid && submitted" class="col-12 text-center">
            <span class="error">
                {{"VOUCHER.UNITERROR" | translate}}
            </span>
        </div>
    </div>

    <div *ngIf="line.dirty" class="row justify-content-center mt-2">
        <div class="col-12 text-end">
            <button class="btn btn-outline-dark" (click)="saveArticle(index)">
                {{"VOUCHER.SAVE" | translate}}
            </button>
        </div>
    </div>
</mat-expansion-panel>