.form-label {
    margin-bottom: 0.2rem;
}

.btn-outline-dark {
    color: #002D5D;
    border-color: #002D5D;
}

.btn-outline-dark:hover {
    background-color: #002D5D;
    color: white;
}

.error {
    color: red;
    font-size: small;
}

/* Contenitore esterno */
.image-container {
    height: 80px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

/* Contenitore interno per allineamento */
.scroll-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.image-wrapper {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 90%;
}

/* Icona di eliminazione */
.delete-icon {
    position: absolute;
    top: 3px;
    /* Distanza dalla parte superiore dell'immagine */
    right: 10px;
    /* Distanza dal lato destro */
    color: red;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.5);
    ;
}

/* Hover dell'icona */
.delete-icon:hover {
    transform: scale(1.2);
}

/* Stile delle immagini */
.custom-image {
    height: 100%;
    width: 50px;
    display: inline-block;
    object-fit: cover;
    border: 1px solid black;
}

.custom-image:hover {
    cursor: pointer;
}

/* Selettore per la scrollbar */
.image-container::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

/* Selettore per il "track" (sfondo della scrollbar) */
.image-container::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
}

/* Selettore per il "thumb" (maniglia della scrollbar) */
.image-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Colore quando la maniglia è in hover */
.image-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Assottiglia la scrollbar su Firefox */
.image-container {
    scrollbar-width: thin;
    scrollbar-color: #888 #f0f0f0;
}

.additionalInfo {
    cursor: pointer;
}

.serialnumberRow {
    opacity: 0;
    max-height: 0;
    transition: max-height 1s ease-out, opacity 1.5s ease, pointer-events 0.1s ease;
    overflow: hidden;
    pointer-events: none;
}

.serialnumberRow.visible {
    opacity: 1;
    max-height: 100px;
    pointer-events: auto;
}

.serialnumberRow.hidden {
    opacity: 0;
    max-height: 0;
    pointer-events: none;
}

.articleTitle {
    display: inline-block;
    width: 24ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subtitle {
    margin-bottom: 0;
}

.panel-title {
    font-size: large;
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: large;
    min-width: 150px;
}

.delete-icon {
    color: red;
    cursor: pointer;
    margin-left: auto;
}

.userInfo {
    font-size: small;
    color: gray;
    font-style: italic;
}