<div class="container-fluid mt-4 pb-5" style="max-width: 1400px;">

    <div [formGroup]="paymentMethod" class="row justify-content-start align-items-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-4">
            <label class="form-label" for="paymentMethod">{{"CUSTOMER.PAYMENTTAB.PAYMENTMETHOD" | translate}}</label>
            <select class="form-select" name="paymentMethod" id="paymentMethod" formControlName="paymentMethod">
                <option [ngValue]="null">--</option>
                <option *ngFor="let method of paymentMethods" [ngValue]="method.id">
                    {{method.name}}
                </option>
            </select>
        </div>
    </div>

    <div [formGroup]="bankForm"  class="row justify-content-start align-items-end mt-4">

        <div class="col-12" style="border-bottom: 1px solid lightgray;">
            <span class="titleLines">
                {{"CUSTOMER.PAYMENTTAB.COMPANYBANK" | translate}}
            </span>
        </div>
        
        <!-- DENOMINATION -->
        <div class="col-10 col-md-8">
            <label class="form-label" for="company_denomination">{{"CUSTOMER.PAYMENTTAB.DENOMINATION" | translate}}</label>
            <input class="form-control" type="text" id="company_denomination" formControlName="company_denomination">
        </div>

        <!-- SEARCH -->
        <div class="col-2">
            <button class="btn btn-outline-dark" (click)="searchBank()">
                <i class="bi bi-search"></i>
            </button>
        </div>

        <!-- IBAN -->
        <div class="col-12 col-md-8 col-lg-4">
            <label class="form-label" for="company_iban">{{"CUSTOMER.PAYMENTTAB.IBAN" | translate}}</label>
            <input class="form-control" type="text" id="company_iban" formControlName="company_iban">
        </div>

        <div class="col-4 d-none d-md-inline d-lg-none"></div>

        <!-- ABI -->
        <div class="col-6 col-md-3 col-lg-2">
            <label class="form-label" for="company_abi">{{"CUSTOMER.PAYMENTTAB.ABI" | translate}}</label>
            <input class="form-control" type="text" id="company_abi" formControlName="company_abi">
        </div>

        <!-- CAB -->
        <div class="col-6 col-md-3 col-lg-2" style="position: relative;">
            <label class="form-label" for="company_cab">{{"CUSTOMER.PAYMENTTAB.CAB" | translate}}</label>
            <input class="form-control" type="text" id="company_cab" formControlName="company_cab">
        </div>

        <!-- CC -->
        <div class="col-6 col-md-3 col-lg-2">
            <label class="form-label" for="company_cc">{{"CUSTOMER.PAYMENTTAB.CC" | translate}}</label>
            <input class="form-control" type="text" id="company_cc" formControlName="company_cc">
        </div>

        <!-- BIC -->
        <div class="col-6 col-md-3 col-lg-2">
            <label class="form-label" for="company_bic">{{"CUSTOMER.PAYMENTTAB.BIC" | translate}}</label>
            <input class="form-control" type="text" id="company_bic" formControlName="company_bic">
        </div>

        <div class="col-12 mt-2" style="border-bottom: 1px solid lightgray;">
            <span class="titleLines">
                {{"CUSTOMER.PAYMENTTAB.CUSTOMERBANK" | translate}}
            </span>
        </div>
        
        <!-- DENOMINATION -->
        <div class="col-10 col-md-8">
            <label class="form-label" for="customer_denomination">{{"CUSTOMER.PAYMENTTAB.DENOMINATION" | translate}}</label>
            <input class="form-control" type="text" id="customer_denomination" formControlName="customer_denomination">
        </div>

        <div class="col-4 d-none d-md-inline"></div>

        <!-- IBAN -->
        <div class="col-12 col-md-8 col-lg-4">
            <label class="form-label" for="customer_iban">{{"CUSTOMER.PAYMENTTAB.IBAN" | translate}}</label>
            <input class="form-control" type="text" id="customer_iban" formControlName="customer_iban">
        </div>

        <div class="col-4 d-none d-md-inline d-lg-none"></div>

        <!-- ABI -->
        <div class="col-6 col-md-3 col-lg-2">
            <label class="form-label" for="customer_abi">{{"CUSTOMER.PAYMENTTAB.ABI" | translate}}</label>
            <input class="form-control" type="text" id="customer_abi" formControlName="customer_abi">
        </div>

        <!-- CAB -->
        <div class="col-6 col-md-3 col-lg-2" style="position: relative;">
            <label class="form-label" for="customer_cab">{{"CUSTOMER.PAYMENTTAB.CAB" | translate}}</label>
            <input class="form-control" type="text" id="customer_cab" formControlName="customer_cab">
        </div>

        <!-- CC -->
        <div class="col-6 col-md-3 col-lg-2">
            <label class="form-label" for="customer_cc">{{"CUSTOMER.PAYMENTTAB.CC" | translate}}</label>
            <input class="form-control" type="text" id="customer_cc" formControlName="customer_cc">
        </div>

        <!-- BIC -->
        <div class="col-6 col-md-3 col-lg-2">
            <label class="form-label" for="customer_bic">{{"CUSTOMER.PAYMENTTAB.BIC" | translate}}</label>
            <input class="form-control" type="text" id="customer_bic" formControlName="customer_bic">
        </div>
    </div>

    <div class="row justify-content-center align-items-center mt-4 pt-2" style="border-top: 1px solid lightgray;">
        <div class="col-12 text-end">
            <button class="btn btn-outline-dark" (click)="save()">
                {{"CUSTOMER.PAYMENTTAB.SAVE" | translate}}
            </button>
        </div>
    </div>
</div>