<h2 mat-dialog-title align="center" class="justify-content-center" style="background-color: #002D5D;">
    <span style="color: white; font-weight: bold; font-size: x-large;">{{"INVOICE.MODAL.EXISTINGCUSTOMER" | translate }}</span>
</h2>

<mat-dialog-content>
    <div class="row justify-content-center align-items-center mt-1">
        <div class="col-12 text-center col-md-8 mt-1 mb-1">
            <span class="form-label" for="customer">
                {{"INVOICE.MODAL.EXISTINGCUSTOMERDESCRIPTION" | translate }}
            </span>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end" style="border-top: 1px solid lightgray;">
    <button class="btn btn-outline-success me-2" (click)="save()">
        {{"INVOICE.MODAL.ADDNEW" | translate }}
    </button>
    <button class="btn btn-outline-dark me-2" (click)="close()">
        {{"INVOICE.MODAL.CANCEL" | translate }}
    </button>
</mat-dialog-actions>