<div class="container-fluid p-2 p-md-3 p-lg-4 d-flex justify-content-center"
    style="min-width: 375px; min-height: 90vh;">
    <form [formGroup]="articleForm">
        <div class="row justify-content-center align-items-center mb-2" style="max-width: 1400px;">
            <div class="col-12 text-center mt-2">
                <span style="font-size: xx-large; font-weight: bold;">
                    {{"ARTICLE.ARTICLENEW.INSERTARTICLE" | translate}}
                </span>
            </div>
            <div class="col-12 text-center col-md-8 mt-2">
                <span style="font-size: small; color: gray; font-style: italic">
                    {{"ARTICLE.ARTICLENEW.NEWARTICLEINFO" | translate}}
                </span>
            </div>

            <div class="col-12 col-sm-8 col-md-6 col-lg-5 mt-5">
                <label class="form-label" for="code">
                    {{"ARTICLE.ARTICLENEW.CODEARTICLE" | translate}}<sup>*</sup>
                </label>
                <input id="code" name="code" class="form-control" formControlName="code"
                    [class.is-invalid]="articleForm.get('code')?.invalid && submittedSearch">
            </div>
            <div *ngIf="articleForm.get('code')?.invalid && submittedSearch" class="col-12 mt-1 text-center">
                <span style="color: red; font-size: small;">
                    {{"ARTICLE.ARTICLENEW.INSERTVALIDARTICLE" | translate}}
                </span>
            </div>

            <div class="col-12 mt-2 text-center">
                <button *ngIf="!stepTwo; else resetBlock" class="btn btn-outline-dark" (click)="insertArticle()">
                    {{"ARTICLE.ARTICLENEW.ADD" | translate}}
                </button>
                <ng-template #resetBlock>
                    <button class="btn btn-outline-danger" (click)="resetArticle()">
                        {{"ARTICLE.ARTICLENEW.RESET" | translate}}
                    </button>
                </ng-template>
            </div>
        </div>  

        <div *ngIf="stepTwo" class="container-fluid mt-5 mb-2" style="max-width: 1000px;">
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-md-8 col-lg-4 mt-1">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="management_sn" formControlName="management_sn">
                        <label class="form-check-label" for="management_sn" style="font-weight: bold;">
                            {{"ARTICLE.ARTICLENEW.MANAGESERIALNUMBER" | translate}}
                            <i class="bi bi-info-circle ms-2" matTooltip="Spiegazione da tradurre"></i>
                        </label>
                    </div>
                </div>
                <div class="col-12 col-md-8 col-lg-4 mt-1">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="management_qnt" formControlName="management_qnt">
                        <label class="form-check-label" for="management_qnt" style="font-weight: bold;">
                            {{"ARTICLE.ARTICLENEW.MANAGEQNT" | translate}}
                            <i class="bi bi-info-circle ms-2" matTooltip="Spiegazione da tradurre"></i>
                        </label>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center align-items-center">
                <div class="col-8 col-md-5 mt-2 col-lg-5">
                    <label class="form-label" for="code">
                        {{"ARTICLE.ARTICLENEW.CODEARTICLE" | translate}}<sup>*</sup>
                    </label>
                    <input id="code" name="code" class="form-control" formControlName="code">
                </div>
                <div class="col-4 col-md-3 mt-2 col-lg-3">
                    <label class="form-label" for="refidum">
                        {{"ARTICLE.ARTICLENEW.UNITOFMEASUREMENT" | translate}}
                    </label>
                    <select name="refidum" id="refidum" class="form-select" formControlName="refidum">
                        <option [value]="null">--</option>
                        <option *ngFor="let unit of measurmentUnit" [ngValue]="unit.id">{{unit.acronym}}</option>
                    </select>
                </div>

                <div class="col-12 mt-2 col-md-8">
                    <label class="form-label" for="title">
                        {{"ARTICLE.ARTICLENEW.TITLE" | translate}}<sup>*</sup>
                    </label>
                    <input id="title" name="title" class="form-control" formControlName="title"
                        [class.is-invalid]="articleForm.get('title')?.invalid && submittedSave">
                </div>

                <div class="col-12 col-md-8 mt-2">
                    <label class="form-label" for="description">
                        {{"ARTICLE.ARTICLENEW.DESCRIPTION" | translate}}
                    </label>
                    <textarea id="description" name="description" class="form-control" formControlName="description"
                        rows="3"></textarea>
                </div>
                <div class="col-12 col-md-8 mt-2">
                    <label class="form-label" for="note">
                        {{"ARTICLE.ARTICLENEW.NOTE" | translate}}
                    </label>
                    <textarea id="note" name="note" class="form-control" formControlName="note" rows="2"></textarea>
                </div>


                <div *ngIf="articleForm.get('title')?.invalid && submittedSave" class="col-12 mt-1 text-center">
                    <span style="color: red; font-size: small;">
                        {{"ARTICLE.ARTICLENEW.INSERTVALIDTITLE" | translate}}
                    </span>
                </div>

                <div class="col-12 mt-2 text-center">
                    <button class="btn btn-outline-dark" (click)="saveArticle()">
                        {{"ARTICLE.ARTICLENEW.SAVE" | translate}}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>