td,
th {
    border-right: 1px solid lightgray;
}

thead {
    background-color: whitesmoke;
}

.responsiveColumn {
    min-width: 220px;
    padding-right: 0;
}

.mdc-evolution-chip--selected {
    background-color: #002D5D !important;
    border-color: #002D5D !important;
}

.btn-outline-dark {
    border-color: #002D5D;
    color: #002D5D;
}

.btn-outline-dark:hover {
    background-color: #002D5D;
    color: white;
}

.truncate-text {
    display: -webkit-box;
    word-break: break-word;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 4.5em;
    line-height: 1.5em;
}