<div class="single-timeline-area">
    <div class="timeline-date wow fadeInLeft d-none d-md-flex" data-wow-delay="0.1s"
        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
        <p class="text-center" style="font-weight: bold;">{{status.timeline}}</p>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="single-timeline-content d-flex wow fadeInLeft pt-0 pb-0 pe-2" data-wow-delay="0.3s"
                style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft; background-color: #f7edd0; height: 48px;">

                <div class="row justify-content-evenly align-items-center mb-2 mt-2" style="width: 100%;">
                    <div class="col-12 col-md-6 text-center text-md-start p-0">
                        <span>
                            Status:
                            <span style="font-weight: bold;">
                                {{status.status}} <span *ngIf="status.substatus != '---'">- {{status.substatus}}</span>
                            </span>
                        </span>
                    </div>

                    <div class="col-12 col-md-6 text-center text-md-end p-0">
                        <span>
                            <span>
                                Created By:
                            </span>
                            <span style="font-weight: bold;">
                                {{status.user_created?.nickname}} 
                            </span>
                            <span class="d-none d-lg-inline" style="color: gray;">
                                &#40;{{status.user_created?.datetime}}&#41;
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>