<div class="arrowBtn d-none d-xxl-inline">
    <a (click)="goBack()" class="btn btn-outline-dark">
        <i class="bi bi-arrow-left arrowIcon"></i>
    </a>
</div>

<div class="container-fluid ps-1 pe-1 ps-md-2 pe-md-2 ps-lg-3 pe-lg-3 ps-xl-4 pe-xl-4 ps-xxl-5 pe-xxl-5 pb-5"
    style="background-color: white; min-height: 90vh; min-width: 350px; max-width: 1600px;">

    <!-- FIRST CARD -->
    <div [formGroup]="ticketInfoForm" class="row justify-content-center card-width mb-2"
        style="position: sticky; top: 0px; z-index: 100;">
        <div class="col-12 col-md-11 mt-2">
            <mat-expansion-panel style="z-index: 101;" class="customPanel ticketPanel" #panel expanded appInViewport>
                <mat-expansion-panel-header class="cutomPanelHeader" style="background-color:#fcf3cf ">
                    <mat-panel-title style="justify-content: start;">
                        <span style="font-size: x-large; font-weight: bold;">
                            {{"SYSTEM.TICKETMODIFY.ID" | translate}}: {{idticket}}
                        </span>
                    </mat-panel-title>
                    <!-- IN CHARGE -->
                    <span class="me-4" style="display: flex; align-items: center;">
                        {{"SYSTEM.TICKETMODIFY.INCHARGE" | translate}}:
                        <span *ngIf="ticketInfo?.incharge?.nickname; else notInChargeBlock" class="ms-1 lightTxt">
                            {{ticketInfo?.incharge?.nickname}}
                        </span>
                        <ng-template #notInChargeBlock>
                            <span class="ms-1 lightTxt">
                                --
                            </span>
                        </ng-template>
                    </span>

                    <!-- STATUS -->
                    <span *ngIf="!isSmallScreen; else screenStatusBlock" class="me-4"
                        style="display: flex; align-items: center;">
                        {{"SYSTEM.TICKETMODIFY.STATUS" | translate}}:
                        <span class="lightTxt ms-1">
                            {{ticketInfo?.ticketStatus?.name}} -
                        </span>
                        <span class="ms-1 lightTxt" *ngIf="ticketInfo?.ticketStatus?.type_status == 1; else closedBlock">
                            {{"SYSTEM.TICKETMODIFY.OPENED" | translate}}
                        </span>
                        <ng-template #closedBlock>
                            <span class="ms-1 lightTxt">
                                {{"SYSTEM.TICKETMODIFY.CLOSED" | translate}}
                            </span>
                        </ng-template>
                        <i class="bi bi-circle-fill ms-2 me-1"
                            [ngStyle]="{'color': ticketInfo?.ticketStatus?.color}"></i>
                    </span>

                    <!-- PUBLIC STATUS -->
                    <span class="me-4" style="display: flex; align-items: center;">
                        <span class="lightTxt" *ngIf="ticketInfo?.public == 1">
                            {{"SYSTEM.TICKETMODIFY.PUBLIC" | translate}}
                        </span>
                        <span class="lightTxt" *ngIf="ticketInfo?.public == 0">
                            {{"SYSTEM.TICKETMODIFY.PRIVATE" | translate}}
                        </span>
                        <i class="bi bi-circle-fill ms-2"
                            [ngStyle]="{'color': ticketInfo?.public == 1 ? 'green' : 'blue'}"></i>
                    </span>
                    <ng-template #screenStatusBlock>
                        <span class="me-3" style="display: flex; align-items: center;">
                            <i class="bi bi-circle-fill ms-2 me-1" [ngStyle]="{'color': '#'+systemStatus.color}"></i>
                        </span>
                    </ng-template>

                </mat-expansion-panel-header>

                <div class="row justify-content-center mt-2">
                    <div class="col-6 col-lg-4 text-start mt-1">
                        <span class="ticketInfoTitle">
                            {{"SYSTEM.TICKETMODIFY.SYSTEMINFO" | translate}}
                        </span>
                        <button class="btn btn-sm btn-outline-dark ms-2" (click)="systemInfoPopup()">
                            <i class="bi bi-card-text"></i>
                        </button>
                    </div>
                    <div class="col-6 col-lg-4 text-end text-lg-center mt-1">
                        <span class="ticketInfoTitle">
                            {{"SYSTEM.TICKETMODIFY.OPENEDFROM" | translate}}:
                        </span>
                        <span class="ticketInfoContent lightTxt">
                            {{ticketInfo?.user_created?.nickname}}
                        </span>
                    </div>

                    <div class="col-12 col-lg-4 text-center text-lg-end mt-1">
                        <span class="ticketInfoTitle">
                            {{"SYSTEM.TICKETMODIFY.PROGRESSIVE" | translate}}:
                        </span>
                        <span class="ticketInfoContent lightTxt">
                            {{ticketInfo?.progressive}} /
                            {{ticketInfo?.user_created?.datetime}}
                        </span>
                    </div>
                </div>

                <div class="row justify-content-center mt-1">
                    <div class="col-12 text-center">
                        <span style="font-weight: bold; font-size: large; border-bottom: 1px solid lightgray;">
                            {{"SYSTEM.TICKETNEW.ANOMALYFOUNDED" | translate}}
                        </span>
                    </div>

                    <!-- INVERTER LIST -->
                    <div class="col-12 mt-1 mb-2 ps-md-3 ps-lg-5 pe-md-3 pe-lg-5 text-start"
                        formArrayName="inverterList">
                        <span class="listTitle">
                            {{"SYSTEM.TICKETNEW.INVERTERLIST" | translate}}
                        </span>
                        <div *ngIf="ticketInfoForm.get('inverterList')?.value.length > 0; else noInverterBlock"
                            class="row align-items-group mt-2" style="border-bottom: 1px solid lightgray;">
                            <div class="col-auto text-start"
                                *ngFor="let inverter of inverterList.controls; let i = index" [formGroupName]="i">
                                <div class="form-check">
                                    <label class="form-check-label ms-2 lightTxt" for="selected_inverter-{{i}}">
                                        {{inverter.get('sn')?.value}}
                                    </label>
                                    <input class="form-check-input" type="checkbox" id="selected_inverter-{{i}}"
                                        formControlName="selected">
                                </div>
                            </div>
                        </div>
                        <ng-template #noInverterBlock>
                            <div class="row">
                                <div class="col-12">
                                    <span style="font-style: italic; color: gray;">
                                        {{"SYSTEM.TICKETNEW.NOINVERTER" | translate}}
                                    </span>
                                </div>
                            </div>
                        </ng-template>
                    </div>

                    <!-- BATTERY LIST -->
                    <div class="col-12 mb-2 ps-md-3 ps-lg-5 pe-md-3 pe-lg-5 text-start" formArrayName="batteryList">
                        <span class="listTitle">
                            {{"SYSTEM.TICKETNEW.BATTERYLIST" | translate}}
                        </span>
                        <div *ngIf="ticketInfoForm.get('batteryList')?.value.length > 0; else noBatteriesBlock"
                            class="row align-items-group mt-2" style="border-bottom: 1px solid lightgray;">
                            <div class="col-auto text-start" *ngFor="let battery of batteryList.controls; let i = index"
                                [formGroupName]="i">
                                <div class="form-check">
                                    <label class="form-check-label ms-2 lightTxt" for="selected_battery-{{i}}">
                                        {{battery.get('sn')?.value}}
                                    </label>
                                    <input class="form-check-input" type="checkbox" id="selected_battery-{{i}}"
                                        formControlName="selected">
                                </div>
                            </div>
                        </div>
                        <ng-template #noBatteriesBlock>
                            <div class="row">
                                <div class="col-12">
                                    <span style="font-style: italic; color: gray;">
                                        {{"SYSTEM.TICKETNEW.NOBATTERIES" | translate}}
                                    </span>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>

                <div class="row justify-content-center mt-1">
                    <!-- DESCRIPTION -->
                    <div class="col-12 mt-1 mb-2 quillContainer">
                        <quill-editor formControlName="description" id="description"
                            [class.is-invalid]="ticketInfoForm.get('description')?.invalid && submittedInfo">
                            <div above-quill-editor-toolbar>
                                <span class="form-label" for="description">
                                    {{"SYSTEM.TICKETMODIFY.DESCRIPTION" | translate}}
                                </span>
                            </div>
                            <div quill-editor-toolbar style="background-color: white;">
                                <span class="ql-formats">
                                    <button class="ql-bold" title="Bold"></button>
                                    <button class="ql-italic" title="Italic"></button>
                                    <button class="ql-underline" title="Underline"></button>
                                    <button class="ql-strike" title="Strikethrough"></button>
                                </span>

                                <span class="ql-formats">
                                    <select class="ql-font" title="Font Style">
                                        <option selected></option>
                                        <option value="serif"></option>
                                        <option value="monospace"></option>
                                    </select>
                                    <select class="ql-size" title="Font Size">
                                        <option value="small"></option>
                                        <option selected></option>
                                        <option value="large"></option>
                                        <option value="huge"></option>
                                    </select>
                                </span>

                                <span class="ql-formats">
                                    <button class="ql-list" value="ordered" title="Ordered List"></button>
                                    <button class="ql-list" value="bullet" title="Bullet List"></button>
                                    <button class="ql-indent" value="-1" title="Decrease Indent"></button>
                                    <button class="ql-indent" value="+1" title="Increase Indent"></button>
                                </span>

                                <span class="ql-formats">
                                    <select class="ql-align" title="Align">
                                        <option selected></option>
                                        <option value="center"></option>
                                        <option value="right"></option>
                                        <option value="justify"></option>
                                    </select>
                                </span>

                                <span class="ql-formats">
                                    <select class="ql-color" title="Text Color"></select>
                                </span>
                            </div>
                        </quill-editor>
                    </div>

                    <!-- INTERNAL NOTES -->
                    <div class="col-12 col-md-6 col-lg-8 mt-1">
                        <label class="form-label" for="note">
                            {{"SYSTEM.TICKETMODIFY.INTERNALNOTES" | translate}}
                        </label>
                        <textarea class="form-control" type="text" id="note" formControlName="note" rows="1">
                        </textarea>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mt-1">
                        <label class="form-label" for="email">
                            {{"SYSTEM.TICKETMODIFY.ANSWEREMAIL" | translate}}
                        </label><br *ngIf="isSmallScreen">
                        <input class="form-control" type="text" id="email" formControlName="email"
                            [class.is-invalid]="ticketInfoForm.get('email')?.invalid && submittedInfo">
                    </div>

                    <!-- ATTACHED FILES -->
                    <div class="col-12 mt-2 text-center">
                        <div class="row justify-content-center">
                            <div *ngFor="let img of ticketInfo?.attachments; let i = index" class="col-auto"
                                style="position: relative;">
                                <img *ngIf="img.id == 0; else serverImg"
                                    style="height: 50px; width: 40px; border: 1px solid lightgray; object-fit: cover;"
                                    [src]="img.src" [title]="img.src" class="imgThumb">
                                <ng-template #serverImg>
                                    <img style="height: 50px; width: 40px; border: 1px solid lightgray; object-fit: cover;"
                                        [src]="urlMultimedia+img.src" [title]="img.src" class="imgThumb">
                                </ng-template>

                                <button class="btn btn-danger btn-zoom p-0"
                                    style="position: absolute; right: 8px; top: -4px" (click)="deleteFileInfo(i)">
                                    <i class="bi bi-x"></i>
                                </button>
                            </div>

                            <div class="col-auto">
                                <label *ngIf="ticketInfo?.attachments?.length! < maxImages" for="fileUploadInfo"
                                    class="btn btn-outline-dark mt-1">
                                    <i class="bi bi-paperclip"></i>
                                    <input type="file" id="fileUploadInfo" style="display: none;"
                                        (change)="onFileSelectedInfo($event)" multiple>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="ticketInfoForm.invalid && submittedInfo" class="row mt-1 justify-content-center">
                    <div class="col-12 text-center">
                        <span class="errorTxt">
                            {{"SYSTEM.TICKETMODIFY.MANDATORYFIELDS" | translate}}
                        </span>
                    </div>
                </div>

                <div class="row justify-content-start mt-2 pt-2" style="border-top: 1px solid lightgray;">
                    <!-- PUBLIC -->
                    <div class="col-6">
                        <button class="btn btn-outline-danger" (click)="deleteTicket()">
                            {{"SYSTEM.TICKETMODIFY.DELETE" | translate}}
                        </button>
                    </div>

                    <!-- SAVE -->
                    <div class="col-6 text-end" style="position: relative;">
                        <div class="form-check form-switch" style="height: 38px; align-content: center; position: absolute;
                            right: 100px;">
                            <label for="publicInfo" class="form-check-label">
                                {{"SYSTEM.TICKETMODIFY.PUBLIC" | translate}}
                            </label>
                            <input type="checkbox" class="form-check-input" role="switch" id="publicInfo"
                                formControlName="public">
                        </div>
                        <button class="btn btn-outline-success" (click)="saveTicketInfo()">
                            {{"SYSTEM.TICKETMODIFY.SAVE" | translate}}
                        </button>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
    </div>

    <div class="row justify-content-center ps-3 pe-3 ps-lg-3 pe-lg-3 ps-xxl-5 pe-xxl-5">
        <div class="col-12 text-end p-0 mt-2 me-lg-5">
            <button class="btn btn-dark btnHover" (click)="changeVisualization()" style="border-radius: 20px;">
                <span *ngIf="visualizeAll; else visualizePublicBlock">
                    Visualizzazione Cliente
                </span>
                <ng-template #visualizePublicBlock>
                    Visualizzazione Completa
                </ng-template>
            </button>
        </div>
    </div>

    <ng-container *ngIf="messages.controls.length > 0 || isNewMessage; else noMessageBlock">
        <form [formGroup]="oldMessagesForm">
            <ng-container formArrayName="messages">
                <ng-container *ngFor="let message of messages.controls; let i = index" [formGroupName]="i">
                    <div *ngIf="visualizeAll || message.get('public')?.value == 1"
                        class="row ps-2 pe-2 ps-xl-3 pe-xl-3 ps-xxl-5 pe-xxl-5">

                        <!-- TIMELINE -->
                        <div class="col-1 d-none d-lg-inline ps-0 pe-0"
                            style="border-right: 4px solid #002D5D; position: relative; max-width: 110px;">
                            <span class="text-center" [ngStyle]="{'font-size': isLargeScreen ? 'small' : 'x-small'}"
                                style="position: absolute; top: 48%; right: 20px; font-weight: 700; color: #002D5D;">
                                {{message.get('date_only')?.value}}<br>
                                {{message.get('time_only')?.value}}
                            </span>
                            <span style="position: absolute; top: 50%; right: -10px;">
                                <i class="bi bi-circle-fill" style="color: #002D5D;"></i>
                            </span>
                        </div>

                        <div class="col-12 col-lg-11 pb-2">

                            <!-- CUSTOMER -->
                            <div *ngIf="message.get('portal')?.value == 1" class="row ps-lg-3 justify-content-start">
                                <div class="col-11 col-md-10 mt-4 cardElement customPanel ticketPanel"
                                    style="max-width: 1200px; background-color: #fcf3cf;" appInViewport>
                                    <div class="row justify-content-center">
                                        <div class="col-6 text-start">
                                            <img src="assets/img/profileThumb.jpg" class="profile-image">
                                            <span *ngIf="!isSmallScreen" class="ms-2 panelTitle">
                                                {{message.get('user_created')?.value.nickname}}
                                            </span>
                                        </div>
                                        <div class="col-6 text-end">
                                            <span style="color: gray; font-style: italic;"
                                                [ngStyle]="{'font-size': isSmallScreen ? 'x-small' : 'small' }">
                                                {{message.get('user_created')?.value.datetime}}
                                            </span>
                                        </div>
                                    </div>

                                    <div class="row justify-content-center">
                                        <div class="col-12 mt-2">
                                            <span class="form-label">
                                                {{"SYSTEM.TICKETMODIFY.MESSAGE" | translate}}
                                            </span><br>
                                            <span>
                                                {{message.get('description')?.value}}
                                            </span>
                                        </div>
                                    </div>

                                    <div class="row justify-content-center mt-2 mb-1">
                                        <div *ngFor="let file of message.get('attachments')?.value" class="col-auto">
                                            <img class="imgThumb" [src]="urlMultimedia+file.src" [title]="file.src"
                                                (click)="viewImage(file)">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- WECO TECHNICIAN -->
                            <div *ngIf="message.get('portal')?.value == 0" class="row justify-content-end">
                                <div class="col-11 col-md-10 mt-4 cardElement customPanel ticketPanel"
                                    style="max-width: 1200px; background-color: #edf5fe" appInViewport>
                                    <div class="row justify-content-center">
                                        <div class="col-6 text-start">
                                            <img src="assets/img/wecoW.jpg" class="profile-image">
                                            <span *ngIf="!isSmallScreen" class="panelTitle">
                                                {{"SYSTEM.TICKETMODIFY.WECOTECHNICIAN" | translate}}
                                            </span>
                                        </div>
                                        <div class="col-6 text-end">
                                            <span style="color: gray; font-style: italic;"
                                                [ngStyle]="{'font-size': isSmallScreen ? 'x-small' : 'small' }">
                                                {{message.get('user_created')?.value.datetime}}
                                            </span>
                                        </div>
                                    </div>

                                    <div class="row justify-content-center">
                                        <div *ngIf="visualizeAll; else textBlock" class="col-12 mt-2 quillContainer">
                                            <quill-editor formControlName="description" id="description-{{i}}"
                                                [class.is-invalid]="message.get('description')?.invalid && submittedOldMessage[i]">
                                                <div above-quill-editor-toolbar>
                                                    <span class="form-label" for="description">
                                                        {{"SYSTEM.TICKETMODIFY.DESCRIPTION" | translate}}
                                                    </span>
                                                </div>
                                                <div quill-editor-toolbar style="background-color: white;">
                                                    <span class="ql-formats">
                                                        <button class="ql-bold" title="Bold"></button>
                                                        <button class="ql-italic" title="Italic"></button>
                                                        <button class="ql-underline" title="Underline"></button>
                                                        <button class="ql-strike" title="Strikethrough"></button>
                                                    </span>

                                                    <span class="ql-formats">
                                                        <select class="ql-font" title="Font Style">
                                                            <option selected></option>
                                                            <option value="serif"></option>
                                                            <option value="monospace"></option>
                                                        </select>
                                                        <select class="ql-size" title="Font Size">
                                                            <option value="small"></option>
                                                            <option selected></option>
                                                            <option value="large"></option>
                                                            <option value="huge"></option>
                                                        </select>
                                                    </span>

                                                    <span class="ql-formats">
                                                        <button class="ql-list" value="ordered"
                                                            title="Ordered List"></button>
                                                        <button class="ql-list" value="bullet"
                                                            title="Bullet List"></button>
                                                        <button class="ql-indent" value="-1"
                                                            title="Decrease Indent"></button>
                                                        <button class="ql-indent" value="+1"
                                                            title="Increase Indent"></button>
                                                    </span>

                                                    <span class="ql-formats">
                                                        <select class="ql-align" title="Align">
                                                            <option selected></option>
                                                            <option value="center"></option>
                                                            <option value="right"></option>
                                                            <option value="justify"></option>
                                                        </select>
                                                    </span>

                                                    <span class="ql-formats">
                                                        <select class="ql-color" title="Text Color"></select>
                                                    </span>
                                                </div>
                                            </quill-editor>
                                        </div>
                                        <ng-template #textBlock>
                                            <div class="col-12 mt-2 mb-2">
                                                <span class="form-label">
                                                    {{"SYSTEM.TICKETMODIFY.MESSAGE" | translate}}
                                                </span>
                                                <div [innerHTML]="message.get('description')?.value">
                                                </div>
                                            </div>
                                        </ng-template>
                                    </div>

                                    <!-- ATTACHMENTS -->
                                    <div class="row justify-content-center">
                                        <div *ngFor="let img of message.get('attachments')?.value; let j = index"
                                            class="col-auto" style="position: relative;">
                                            <img *ngIf="img.id == 0" class="imgThumb"
                                                style="height: 50px; width: 40px; border: 1px solid lightgray; object-fit: cover;"
                                                [src]="img.src" [title]="img.src">
                                            <img *ngIf="img.id > 0" class="imgThumb"
                                                style="height: 50px; width: 40px; border: 1px solid lightgray; object-fit: cover;"
                                                [src]="urlMultimedia+img.src" [title]="img.src">
                                            <button *ngIf="visualizeAll == true" class="btn btn-danger btn-zoom p-0"
                                                style="position: absolute; right: 8px; top: -4px"
                                                (click)="deleteFileOldMessage(j, i)">
                                                <i class="bi bi-x"></i>
                                            </button>
                                        </div>

                                        <div *ngIf="visualizeAll == true && fileListOldMessages" class="col-auto">
                                            <label
                                                *ngIf="fileListOldMessages[i] && fileListOldMessages[i].files.length < maxImages"
                                                for="fileUpload-{{i}}" class="btn btn-outline-dark mt-1">
                                                <i class="bi bi-paperclip"></i>
                                                <input type="file" id="fileUpload-{{i}}" style="display: none;"
                                                    (change)="onFileSelectedOldMessage($event, i)" multiple>
                                            </label>
                                        </div>
                                    </div>

                                    <div *ngIf="message.invalid && submittedOldMessage[i] && visualizeAll"
                                        class="row mt-1 justify-content-center">
                                        <div class="col-12 text-center">
                                            <span class="errorTxt">
                                                {{"SYSTEM.TICKETMODIFY.MANDATORYFIELDS" | translate}}
                                            </span>
                                        </div>
                                    </div>

                                    <div *ngIf="visualizeAll" class="row justify-content-end mt-2 pt-2"
                                        style="border-top: 1px solid lightgray;">
                                        <div class="col-6 text-start">
                                            <button class="btn btn-outline-danger"
                                                (click)="deleteMessage(message.get('idticketline')?.value)">
                                                {{"SYSTEM.TICKETMODIFY.DELETE" | translate}}
                                            </button>
                                        </div>
                                        <div class="col-6 text-end" style="position: relative;">
                                            <div class="form-check form-switch"
                                                style="height: 38px; align-content: center; position: absolute; right: 120px;">
                                                <label for="public-{{i}}" class="form-check-label"
                                                    style="font-weight: bold;">
                                                    {{"SYSTEM.TICKETNEW.PUBLIC" | translate}}
                                                </label>
                                                <input type="checkbox" class="form-check-input" role="switch"
                                                    id="public-{{i}}" formControlName="public">
                                            </div>
                                            <button class="btn btn-outline-dark" (click)="saveTicketOldMessage(i)">
                                                {{"SYSTEM.TICKETMODIFY.UPDATE" | translate}}
                                            </button>
                                        </div>
                                    </div>

                                    <div class="row justify-content-center mt-1">
                                        <div class="col-12 col-md-6 text-start">
                                            <span style="font-size: small; font-style: italic; color: gray;">
                                                {{"SYSTEM.TICKETMODIFY.CREATEDFROM" | translate}}:
                                                {{message.get('user_created')?.value.nickname}} -
                                                {{message.get('user_created')?.value.datetime}}
                                            </span>
                                        </div>
                                        <div class="col-12 col-md-6 text-end">
                                            <span style="font-size: small; font-style: italic; color: gray;">
                                                {{"SYSTEM.TICKETMODIFY.UPDATEDFROM" | translate}}:
                                                {{message.get('user_created')?.value.nickname}} -
                                                {{message.get('user_created')?.value.datetime}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </form>

        <!-- NUOVO MESSAGGIO -->
        <div [formGroup]="newMessageForm" *ngIf="isNewMessage"
            class="row ps-3 pe-3 ps-lg-3 pe-lg-3 ps-xxl-5 pe-xxl-5 pb-5 mb-4">
            <!-- TIMELINE -->
            <div class="col-1 d-none d-lg-inline ps-0 pe-0"
                style="border-right: 4px solid #002D5D; position: relative; max-width: 110px;">
                <span class="text-center" [ngStyle]="{'font-size': isLargeScreen ? 'small' : 'x-small'}"
                    style="position: absolute; top: 48%; right: 20px; font-size: small; font-weight: 700; color: #002D5D;">
                    {{newMessageForm.get('date')?.value}} <br> {{newMessageForm.get('time')?.value}}
                </span>
                <span style="position: absolute; top: 50%; right: -10px;">
                    <i class="bi bi-circle-fill" style="color: #002D5D;"></i>
                </span>
            </div>

            <div class="col-12 col-lg-11">
                <div class="row justify-content-end">
                    <div class="col-11 col-md-10 mt-4 cardElement customPanel ticketPanel"
                        style="max-width: 1200px; background-color: #edf5fe;" appInViewport>
                        <div class="row justify-content-center">
                            <div class="col-6 text-start">
                                <img src="assets/img/wecoW.jpg" class="profile-image">
                                <span *ngIf="!isSmallScreen" class="panelTitle">
                                    {{"SYSTEM.TICKETMODIFY.WECOTECHNICIAN" | translate}}
                                </span>
                            </div>
                            <div class="col-6 text-end">
                                <span style="color: gray; font-style: italic;"
                                    [ngStyle]="{'font-size': isSmallScreen ? 'x-small' : 'small' }">
                                    <!-- {{message.date}} -->
                                </span>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-12 mt-2 quillContainer"
                                [ngClass]="{ 'is-invalid': newMessageForm.get('description')?.invalid && submittedNewMessage }">
                                <quill-editor formControlName="description" id="description"
                                    [class.is-invalid]="newMessageForm.get('description')?.invalid && submittedNewMessage">
                                    <div above-quill-editor-toolbar>
                                        <span class="form-label" for="description">
                                            {{"SYSTEM.TICKETMODIFY.DESCRIPTION" | translate}}
                                        </span>
                                    </div>
                                    <div quill-editor-toolbar style="background-color: white;">
                                        <span class="ql-formats">
                                            <button class="ql-bold" title="Bold"></button>
                                            <button class="ql-italic" title="Italic"></button>
                                            <button class="ql-underline" title="Underline"></button>
                                            <button class="ql-strike" title="Strikethrough"></button>
                                        </span>

                                        <span class="ql-formats">
                                            <select class="ql-font" title="Font Style">
                                                <option selected></option>
                                                <option value="serif"></option>
                                                <option value="monospace"></option>
                                            </select>
                                            <select class="ql-size" title="Font Size">
                                                <option value="small"></option>
                                                <option selected></option>
                                                <option value="large"></option>
                                                <option value="huge"></option>
                                            </select>
                                        </span>

                                        <span class="ql-formats">
                                            <button class="ql-list" value="ordered" title="Ordered List"></button>
                                            <button class="ql-list" value="bullet" title="Bullet List"></button>
                                            <button class="ql-indent" value="-1" title="Decrease Indent"></button>
                                            <button class="ql-indent" value="+1" title="Increase Indent"></button>
                                        </span>

                                        <span class="ql-formats">
                                            <select class="ql-align" title="Align">
                                                <option selected></option>
                                                <option value="center"></option>
                                                <option value="right"></option>
                                                <option value="justify"></option>
                                            </select>
                                        </span>

                                        <span class="ql-formats">
                                            <select class="ql-color" title="Text Color"></select>
                                        </span>
                                    </div>
                                </quill-editor>
                            </div>

                            <div class="col-12 text-center mt-2">
                                <div class="row justify-content-center">
                                    <ng-container formArrayName="attachments">
                                        <div *ngFor="let item of newAttachments.controls; let i = index"
                                            class="col-auto" [formGroupName]="i" style="position: relative;">
                                            <img class="imgThumb" [src]="item.get('src')?.value"
                                                (click)="viewImage(item.getRawValue())">
                                            <button class="btn btn-danger btn-zoom p-0"
                                                style="position: absolute; right: 8px; top: -4px"
                                                (click)="deleteFileNewMessage(i)">
                                                <i class="bi bi-x"></i>
                                            </button>
                                        </div>
                                    </ng-container>

                                    <div class="col-auto">
                                        <label *ngIf="fileListNewMessage.length < maxImages" for="fileUploadNew"
                                            class="btn btn-outline-dark mt-1">
                                            <i class="bi bi-paperclip"></i>
                                            <input type="file" id="fileUploadNew" style="display: none;"
                                                (change)="onFileSelectedNewMessage($event)" multiple>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="newMessageForm.invalid && submittedNewMessage"
                            class="row mt-1 justify-content-center">
                            <div class="col-12 text-center">
                                <span class="errorTxt">
                                    {{"SYSTEM.TICKETMODIFY.MANDATORYFIELDS" | translate}}
                                </span>
                            </div>
                        </div>

                        <div class="row justify-content-end pt-2 mt-2" style="border-top: 1px solid lightgray;">
                            <!-- PUBLIC -->
                            <div class="col-auto" style="max-width: 150px;">
                                <div class="form-check form-switch"
                                    style="height: 38px; align-content: center; width: 150px;">
                                    <label for="public" class="form-check-label" style="font-weight: bold;">
                                        {{"SYSTEM.TICKETNEW.PUBLIC" | translate}}
                                    </label>
                                    <input type="checkbox" class="form-check-input" role="switch" id="public"
                                        formControlName="public">
                                </div>
                            </div>

                            <!-- SAVE -->
                            <div class="col-auto">
                                <button class="btn btn-outline-dark" (click)="saveTicketNewMessage()">
                                    {{"SYSTEM.TICKETMODIFY.SEND" | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #noMessageBlock>
        <div class="row align-items-center mt-2 p-4">
            <div class="col-12 text-center">
                <span style="color: gray; font-style: italic;">
                    {{"SYSTEM.TICKETMODIFY.NOMESSAGES" | translate}}
                </span>
            </div>
        </div>
    </ng-template>

    <button class="btn btn-dark btnSticky" [matMenuTriggerFor]="menu">
        <i class="bi bi-three-dots-vertical"></i>
    </button>
    <mat-menu #menu="matMenu">
        <button *ngIf="ticketInfo?.incharge?.id && ticketInfo?.incharge?.isInCharge == 1; else releaseBlock"
            mat-menu-item (click)="takeOnChargeOrRelease(0)">
            <i class="bi bi-person-standing me-2"></i>
            <span>{{"TICKET.MODIFY.RELEASE" | translate }}</span>
        </button>
        <ng-template #releaseBlock>
            <button mat-menu-item (click)="takeOnChargeOrRelease(1)">
                <i class="bi bi-person-raised-hand me-2"></i>
                <span>{{"TICKET.MODIFY.TAKEONCHARGE" | translate }}</span>
            </button>
        </ng-template>
        <button *ngIf="!isNewMessage" mat-menu-item (click)="newMessage()">
            <i class="bi bi-chat-right-text me-2"></i>
            <span>{{"TICKET.MODIFY.ADDMESSAGE" | translate }}</span>
        </button>
        <button mat-menu-item (click)="changeStatus()">
            <i class="bi bi-arrow-clockwise me-2"></i>
            <span>{{"TICKET.MODIFY.CHANGESTATUS" | translate }}</span>
        </button>
    </mat-menu>
</div>

<div #bottomAnchor></div>