<div class="arrowBtn d-none d-xxl-inline">
    <a (click)="goBack()" class="btn btn-outline-dark">
        <i class="bi bi-arrow-left arrowIcon"></i>
    </a>
</div>

<div class="container-fluid ps-1 pe-1 ps-md-2 pe-md-2 ps-lg-3 pe-lg-3 ps-xl-4 pe-xl-4 ps-xxl-5 pe-xxl-5 pb-5"
    style="background-color: white; min-height: 90vh; min-width: 350px; max-width: 1600px;">

    <!-- FIRST CARD -->
    <div [formGroup]="ticketInfoForm" class="row justify-content-center card-width mb-2"
        style="position: sticky; top: 0px; z-index: 100;">
        <div class="col-12 col-md-11 mt-2">
            <mat-expansion-panel style="z-index: 101;" class="customPanel ticketPanel" #panel expanded appInViewport>
                <mat-expansion-panel-header class="cutomPanelHeader" style="background-color:#fcf3cf ">
                    <mat-panel-title style="justify-content: start;">
                        <span style="font-size: x-large; font-weight: bold;">
                            {{"SYSTEM.TICKETMODIFY.ID" | translate}}: {{ticketInfo?.id}}
                        </span>
                    </mat-panel-title>
                    <span class="me-4" style="display: flex; align-items: center;">
                        <span *ngIf="ticketInfo?.public == 1">
                            {{"SYSTEM.TICKETMODIFY.PUBLIC" | translate}}
                        </span>
                        <span *ngIf="ticketInfo?.public == 0">
                            {{"SYSTEM.TICKETMODIFY.PRIVATE" | translate}}
                        </span>
                        <i class="bi bi-circle-fill ms-2"
                            [ngStyle]="{'color': ticketInfo?.public == 1 ? 'green' : 'blue'}"></i>
                    </span>
                    <span *ngIf="!isSmallScreen; else screenStatusBlock" class="me-4"
                        style="display: flex; align-items: center;">
                        {{"SYSTEM.TICKETMODIFY.STATUS" | translate}}:
                        <i class="bi bi-circle-fill ms-2 me-1" [ngStyle]="{'color': '#'+systemStatus.color}"></i>
                        {{systemStatus.name}}
                    </span>
                    <ng-template #screenStatusBlock>
                        <span class="me-3" style="display: flex; align-items: center;">
                            <i class="bi bi-circle-fill ms-2 me-1" [ngStyle]="{'color': '#'+systemStatus.color}"></i>
                        </span>
                    </ng-template>

                </mat-expansion-panel-header>

                <div class="row justify-content-center mt-2">
                    <div class="col-6 text-start mt-1">
                        <span class="ticketInfoTitle">
                            {{"SYSTEM.TICKETMODIFY.SYSTEMINFO" | translate}}
                        </span>
                        <button class="btn btn-sm btn-outline-dark ms-2" (click)="systemInfoPopup()">
                            <i class="bi bi-card-text"></i>
                        </button>
                    </div>
                    <div class="col-6 text-end mt-1">
                        <span class="ticketInfoTitle">
                            {{"SYSTEM.TICKETMODIFY.OPENEDFROM" | translate}}:
                        </span><br *ngIf="isSmallScreen">
                        <span class="ticketInfoContent">
                            {{ticketInfo?.id}}
                        </span>
                    </div>

                    <div class="col-12 col-sm-6 text-start mt-1">
                        <label class="form-label" for="email">
                            {{"SYSTEM.TICKETMODIFY.ANSWEREMAIL" | translate}}
                        </label><br *ngIf="isSmallScreen">
                        <input class="form-control" type="text" id="email" formControlName="email"
                            style="max-width: 350px;">
                    </div>

                    <div class="col-12 col-sm-6 text-start text-sm-end mt-1">
                        <span class="ticketInfoTitle">
                            {{"SYSTEM.TICKETMODIFY.PROGRESSIVE" | translate}}:
                        </span><br *ngIf="isSmallScreen">
                        <span class="ticketInfoContent">
                            {{ticketInfo?.progressive}}/
                            {{ticketInfo?.openingDate}}
                        </span>
                    </div>
                </div>

                <div class="row justify-content-center mt-1">
                    <div class="col-12 mt-3">
                        <span style="font-weight: bold; font-size: large; border-bottom: 1px solid lightgray;">
                            {{"SYSTEM.TICKETNEW.ANOMALYFOUNDED" | translate}}
                        </span>
                    </div>

                    <!-- INVERTER LIST -->
                    <div class="col-12 mt-2 mb-2 ps-md-3 ps-lg-5 pe-md-3 pe-lg-5 text-start"
                        formArrayName="inverterList">
                        <span class="listTitle">
                            {{"SYSTEM.TICKETNEW.INVERTERLIST" | translate}}
                        </span>
                        <div class="row align-items-group mt-2" style="border-bottom: 1px solid lightgray;">
                            <div class="col-12 col-sm-6 col-md-4 col-xl-3 text-start"
                                *ngFor="let inverter of inverterList.controls; let i = index" [formGroupName]="i">
                                <div class="form-check">
                                    <label class="form-check-label ms-2" for="selected_inverter-{{i}}">
                                        {{inverter.get('sn')?.value}}
                                    </label>
                                    <input class="form-check-input" type="checkbox" id="selected_inverter-{{i}}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- BATTERY LIST -->
                    <div class="col-12 mt-2 mb-2 ps-md-3 ps-lg-5 pe-md-3 pe-lg-5 text-start"
                        formArrayName="batteryList">
                        <span class="listTitle">
                            {{"SYSTEM.TICKETNEW.BATTERYLIST" | translate}}
                        </span>
                        <div class="row align-items-group mt-2" style="border-bottom: 1px solid lightgray;">

                            <div class="col-12 col-sm-6 col-md-4 col-xl-3 text-start"
                                *ngFor="let battery of batteryList.controls; let i = index" [formGroupName]="i">
                                <div class="form-check">
                                    <label class="form-check-label ms-2" for="selected_battery-{{i}}">
                                        {{battery.get('sn')?.value}}
                                    </label>
                                    <input class="form-check-input" type="checkbox" id="selected_battery-{{i}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center mt-2">
                    <!-- DESCRIPTION -->
                    <div class="col-12 mt-2 mb-2 quillContainer"
                        [ngClass]="{ 'is-invalid': newMessageForm.get('description')?.invalid && submitted }">
                        <quill-editor formControlName="description" id="description"
                            [class.is-invalid]="newMessageForm.get('description')?.invalid && submitted">
                            <div above-quill-editor-toolbar>
                                <span class="form-label" for="description">
                                    {{"SYSTEM.TICKETMODIFY.DESCRIPTION" | translate}}
                                </span>
                            </div>
                            <div quill-editor-toolbar style="background-color: white;">
                                <span class="ql-formats">
                                    <button class="ql-bold" title="Bold"></button>
                                    <button class="ql-italic" title="Italic"></button>
                                    <button class="ql-underline" title="Underline"></button>
                                    <button class="ql-strike" title="Strikethrough"></button>
                                </span>

                                <span class="ql-formats">
                                    <select class="ql-font" title="Font Style">
                                        <option selected></option>
                                        <option value="serif"></option>
                                        <option value="monospace"></option>
                                    </select>
                                    <select class="ql-size" title="Font Size">
                                        <option value="small"></option>
                                        <option selected></option>
                                        <option value="large"></option>
                                        <option value="huge"></option>
                                    </select>
                                </span>

                                <span class="ql-formats">
                                    <button class="ql-list" value="ordered" title="Ordered List"></button>
                                    <button class="ql-list" value="bullet" title="Bullet List"></button>
                                    <button class="ql-indent" value="-1" title="Decrease Indent"></button>
                                    <button class="ql-indent" value="+1" title="Increase Indent"></button>
                                </span>

                                <span class="ql-formats">
                                    <select class="ql-align" title="Align">
                                        <option selected></option>
                                        <option value="center"></option>
                                        <option value="right"></option>
                                        <option value="justify"></option>
                                    </select>
                                </span>

                                <span class="ql-formats">
                                    <select class="ql-color" title="Text Color"></select>
                                </span>
                            </div>
                        </quill-editor>
                    </div>

                    <!-- INTERNAL NOTES -->
                    <div class="col-12">
                        <label class="form-label" for="internalNotes">
                            {{"SYSTEM.TICKETMODIFY.INTERNALNOTES" | translate}}
                        </label>
                        <textarea class="form-control" type="text" id="internalNotes" formControlName="internalNotes"
                            rows="2">
                        </textarea>
                    </div>

                    <!-- ATTACHED FILES -->
                    <div class="col-12 mt-2 text-end">
                        <label *ngIf="fileList.length < maxImages" for="fileUpload2" class="btn btn-outline-dark mt-1">
                            <i class="bi bi-paperclip"></i>
                            <input type="file" id="fileUpload2" style="display: none;" (change)="onFileSelected($event)"
                                multiple>
                        </label>

                        <div class="row justify-content-center mt-2">
                            <div *ngFor="let img of imagesList" class="col-auto">
                                <img style="height: 50px; width: 40px; border: 1px solid lightgray; object-fit: cover;"
                                    [src]="'assets/img/'+img.src" [title]="img.src">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-end mt-2 pt-2" style="border-top: 1px solid lightgray;">
                    <!-- PUBLIC -->
                    <div class="col-auto" style="max-width: 150px;">
                        <div class="form-check form-switch" style="height: 38px; align-content: center; width: 150px;">
                            <label for="public" class="form-check-label" style="font-weight: bold;">
                                {{"SYSTEM.TICKETNEW.PUBLIC" | translate}}
                            </label>
                            <input type="checkbox" class="form-check-input" role="switch" id="public"
                                formControlName="public">
                        </div>
                    </div>

                    <!-- SAVE -->
                    <div class="col-auto text-end">
                        <button class="btn btn-outline-success">
                            Save
                        </button>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
    </div>

    <div class="row justify-content-center ps-3 pe-3 ps-lg-3 pe-lg-3 ps-xxl-5 pe-xxl-5">
        <div class="col-12 text-end p-0 mt-5 me-lg-5">
            <button class="btn btn-dark btnHover" (click)="changeVisualization()" style="border-radius: 20px;">
                <span *ngIf="visualizeAll; else visualizePublicBlock">
                    Visualizzazione Cliente
                </span>
                <ng-template #visualizePublicBlock>
                    Visualizzazione Completa
                </ng-template>
            </button>
        </div>
    </div>

    <form [formGroup]="oldMessagesForm">
        <ng-container formArrayName="messages">
            <ng-container *ngFor="let message of messages.controls; let i = index" [formGroupName]="i">
                <div *ngIf="visualizeAll || message.get('public')?.value == 1"
                    class="row ps-3 pe-3 ps-lg-3 pe-lg-3 ps-xxl-5 pe-xxl-5">

                    <!-- TIMELINE -->
                    <div class="col-1 d-none d-lg-inline ps-0 pe-0"
                        style="border-right: 4px solid #002D5D; position: relative; max-width: 94px;">
                        <span class="text-center"
                            style="position: absolute; top: 48%; right: 20px; font-size: small; font-weight: 700; color: #002D5D;">
                            {{message.get('user_created')?.value.date_only}} <br>
                            {{message.get('user_created')?.value.time_only}}
                        </span>
                        <span style="position: absolute; top: 50%; right: -10px;">
                            <i class="bi bi-circle-fill" style="color: #002D5D;"></i>
                        </span>
                    </div>

                    <div class="col-12 col-lg-11">

                        <!-- CUSTOMER -->
                        <div *ngIf="message.get('portal')?.value == 1" class="row ps-lg-3 justify-content-start">
                            <div class="col-11 col-md-10 mt-4 cardElement customPanel ticketPanel"
                                style="max-width: 1200px; background-color: #fcf3cf;" appInViewport>
                                <div class="row justify-content-center">
                                    <div class="col-6 text-start">
                                        <img src="assets/img/profileThumb.jpg" class="profile-image">
                                        <span *ngIf="!isSmallScreen" class="ms-2 panelTitle">
                                            {{message.get('user_created')?.value.nickname}}
                                        </span>
                                    </div>
                                    <div class="col-6 text-end">
                                        <span style="color: gray; font-style: italic;"
                                            [ngStyle]="{'font-size': isSmallScreen ? 'x-small' : 'small' }">
                                            {{message.get('user_created')?.value.datetime}}
                                        </span>
                                    </div>
                                </div>

                                <div class="row justify-content-center">
                                    <div class="col-12 mt-2">
                                        <span class="form-label">
                                            {{"SYSTEM.TICKETMODIFY.MESSAGE" | translate}}
                                        </span><br>
                                        <span>
                                            {{message.get('description')?.value}}
                                        </span>
                                    </div>
                                </div>

                                <div class="row justify-content-center mt-2 mb-1">
                                    <div *ngFor="let file of message.get('attached_files')?.value" class="col-auto">
                                        <img class="imgThumb" [src]="'assets/img/'+file.src" [title]="file.src"
                                            (click)="viewImage(file)">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- WECO TECHNICIAN -->
                        <div *ngIf="message.get('portal')?.value == 0" class="row justify-content-end">
                            <div class="col-11 col-md-10 mt-4 cardElement customPanel ticketPanel"
                                style="max-width: 1200px; background-color: #edf5fe" appInViewport>
                                <div class="row justify-content-center">
                                    <div class="col-6 text-start">
                                        <img src="assets/img/wecoW.jpg" class="profile-image">
                                        <span *ngIf="!isSmallScreen" class="panelTitle">
                                            {{"SYSTEM.TICKETMODIFY.WECOTECHNICIAN" | translate}}
                                        </span>
                                    </div>
                                    <div class="col-6 text-end">
                                        <span style="color: gray; font-style: italic;"
                                            [ngStyle]="{'font-size': isSmallScreen ? 'x-small' : 'small' }">
                                            {{message.get('user_created')?.value.datetime}}
                                        </span>
                                    </div>
                                </div>

                                <div class="row justify-content-center">
                                    <div *ngIf="visualizeAll; else textBlock" class="col-12 mt-2 quillContainer"
                                        [ngClass]="{ 'is-invalid': newMessageForm.get('description')?.invalid && submitted }">
                                        <quill-editor formControlName="description" id="description"
                                            [class.is-invalid]="newMessageForm.get('description')?.invalid && submitted">
                                            <div above-quill-editor-toolbar>
                                                <span class="form-label" for="description">
                                                    {{"SYSTEM.TICKETMODIFY.DESCRIPTION" | translate}}
                                                </span>
                                            </div>
                                            <div quill-editor-toolbar style="background-color: white;">
                                                <span class="ql-formats">
                                                    <button class="ql-bold" title="Bold"></button>
                                                    <button class="ql-italic" title="Italic"></button>
                                                    <button class="ql-underline" title="Underline"></button>
                                                    <button class="ql-strike" title="Strikethrough"></button>
                                                </span>

                                                <span class="ql-formats">
                                                    <select class="ql-font" title="Font Style">
                                                        <option selected></option>
                                                        <option value="serif"></option>
                                                        <option value="monospace"></option>
                                                    </select>
                                                    <select class="ql-size" title="Font Size">
                                                        <option value="small"></option>
                                                        <option selected></option>
                                                        <option value="large"></option>
                                                        <option value="huge"></option>
                                                    </select>
                                                </span>

                                                <span class="ql-formats">
                                                    <button class="ql-list" value="ordered"
                                                        title="Ordered List"></button>
                                                    <button class="ql-list" value="bullet" title="Bullet List"></button>
                                                    <button class="ql-indent" value="-1"
                                                        title="Decrease Indent"></button>
                                                    <button class="ql-indent" value="+1"
                                                        title="Increase Indent"></button>
                                                </span>

                                                <span class="ql-formats">
                                                    <select class="ql-align" title="Align">
                                                        <option selected></option>
                                                        <option value="center"></option>
                                                        <option value="right"></option>
                                                        <option value="justify"></option>
                                                    </select>
                                                </span>

                                                <span class="ql-formats">
                                                    <select class="ql-color" title="Text Color"></select>
                                                </span>
                                            </div>
                                        </quill-editor>
                                    </div>
                                    <ng-template #textBlock>
                                        <div class="col-12 mt-2">
                                            <span class="form-label">
                                                {{"SYSTEM.TICKETMODIFY.MESSAGE" | translate}}
                                            </span><br>
                                            <span>
                                                {{message.get('description')?.value}}
                                            </span>
                                        </div>
                                    </ng-template>
                                </div>

                                <div class="row justify-content-center mt-2">
                                    <div *ngFor="let file of message.get('attached_files')?.value" class="col-auto"
                                        style="position: relative;">
                                        <img class="imgThumb" (click)="viewImage(file)" [src]="'assets/img/'+file.src"
                                            [title]="file.src">
                                        <button *ngIf="visualizeAll" class="btn btn-danger btn-zoom p-0"
                                            style=" position: absolute; top: -4px; right: 8px;">
                                            <i class="bi bi-x"></i>
                                        </button>
                                    </div>
                                    <div class="col-auto">
                                        <!-- ATTACHMENTS -->
                                        <label *ngIf="fileList.length < maxImages" for="fileUpload2"
                                            class="btn btn-outline-dark mt-1">
                                            <i class="bi bi-paperclip"></i>
                                            <input type="file" id="fileUpload2" style="display: none;"
                                                (change)="onFileSelected($event)" multiple>
                                        </label>

                                        <div class="row justify-content-center mt-2">
                                            <div *ngFor="let img of imagesList" class="col-auto">
                                                <img style="height: 50px; width: 40px; border: 1px solid lightgray; object-fit: cover;"
                                                    [src]="'assets/img/'+img.src" [title]="img.src">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="visualizeAll" class="row justify-content-end mt-2 pt-2"
                                    style="border-top: 1px solid lightgray;">
                                    <div class="col-6 text-start">
                                        <button class="btn btn-outline-danger"
                                            (click)="deleteMessage(message.getRawValue().id)">
                                            {{"SYSTEM.TICKETMODIFY.DELETE" | translate}}
                                        </button>
                                    </div>
                                    <div class="col-6 text-end">
                                        <button class="btn btn-outline-dark"
                                            (click)="updateMessage(message.getRawValue())">
                                            {{"SYSTEM.TICKETMODIFY.UPDATE" | translate}}
                                        </button>
                                    </div>
                                </div>

                                <div class="row justify-content-center mt-1">
                                    <div class="col-12 col-md-6 text-start">
                                        <span style="font-size: small; font-style: italic; color: gray;">
                                            {{"SYSTEM.TICKETMODIFY.CREATEDFROM" | translate}}:
                                            {{message.get('user_created')?.value.nickname}} -
                                            {{message.get('user_created')?.value.datetime}}
                                        </span>
                                    </div>
                                    <div class="col-12 col-md-6 text-end">
                                        <span style="font-size: small; font-style: italic; color: gray;">
                                            {{"SYSTEM.TICKETMODIFY.UPDATEDFROM" | translate}}:
                                            {{message.get('user_created')?.value.nickname}} -
                                            {{message.get('user_created')?.value.datetime}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>

        <!-- NUOVO MESSAGGIO -->
        <div [formGroup]="newMessageForm" *ngIf="isNewMessage"
            class="row ps-3 pe-3 ps-lg-3 pe-lg-3 ps-xxl-5 pe-xxl-5 pb-5">
            <!-- TIMELINE -->
            <div class="col-1 d-none d-lg-inline ps-0 pe-0"
                style="border-right: 4px solid #002D5D; position: relative; max-width: 94px;">
                <span class="text-center"
                    style="position: absolute; top: 48%; right: 20px; font-size: small; font-weight: 700; color: #002D5D;">
                    {{newMessageForm.get('date')?.value}} <br> {{newMessageForm.get('time')?.value}}
                </span>
                <span style="position: absolute; top: 50%; right: -10px;">
                    <i class="bi bi-circle-fill" style="color: #002D5D;"></i>
                </span>
            </div>

            <div class="col-12 col-lg-11">
                <!-- NUOVO MESSAGGIO -->
                <div class="row justify-content-end">
                    <div class="col-11 col-md-10 mt-4 cardElement customPanel ticketPanel"
                        style="max-width: 1200px; background-color: #edf5fe;" appInViewport>
                        <div class="row justify-content-center">
                            <div class="col-6 text-start">
                                <img src="assets/img/wecoW.jpg" class="profile-image">
                                <span *ngIf="!isSmallScreen" class="panelTitle">
                                    {{"SYSTEM.TICKETMODIFY.WECOTECHNICIAN" | translate}}
                                </span>
                            </div>
                            <div class="col-6 text-end">
                                <span style="color: gray; font-style: italic;"
                                    [ngStyle]="{'font-size': isSmallScreen ? 'x-small' : 'small' }">
                                    <!-- {{message.date}} -->
                                </span>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-12 mt-2 quillContainer"
                                [ngClass]="{ 'is-invalid': newMessageForm.get('description')?.invalid && submitted }">
                                <quill-editor formControlName="description" id="description"
                                    [class.is-invalid]="newMessageForm.get('description')?.invalid && submitted">
                                    <div above-quill-editor-toolbar>
                                        <span class="form-label" for="description">
                                            {{"SYSTEM.TICKETMODIFY.DESCRIPTION" | translate}}
                                        </span>
                                    </div>
                                    <div quill-editor-toolbar style="background-color: white;">
                                        <span class="ql-formats">
                                            <button class="ql-bold" title="Bold"></button>
                                            <button class="ql-italic" title="Italic"></button>
                                            <button class="ql-underline" title="Underline"></button>
                                            <button class="ql-strike" title="Strikethrough"></button>
                                        </span>

                                        <span class="ql-formats">
                                            <select class="ql-font" title="Font Style">
                                                <option selected></option>
                                                <option value="serif"></option>
                                                <option value="monospace"></option>
                                            </select>
                                            <select class="ql-size" title="Font Size">
                                                <option value="small"></option>
                                                <option selected></option>
                                                <option value="large"></option>
                                                <option value="huge"></option>
                                            </select>
                                        </span>

                                        <span class="ql-formats">
                                            <button class="ql-list" value="ordered" title="Ordered List"></button>
                                            <button class="ql-list" value="bullet" title="Bullet List"></button>
                                            <button class="ql-indent" value="-1" title="Decrease Indent"></button>
                                            <button class="ql-indent" value="+1" title="Increase Indent"></button>
                                        </span>

                                        <span class="ql-formats">
                                            <select class="ql-align" title="Align">
                                                <option selected></option>
                                                <option value="center"></option>
                                                <option value="right"></option>
                                                <option value="justify"></option>
                                            </select>
                                        </span>

                                        <span class="ql-formats">
                                            <select class="ql-color" title="Text Color"></select>
                                        </span>
                                    </div>
                                </quill-editor>
                            </div>

                            <div class="col-12 mt-2">
                                <label *ngIf="fileList.length < maxImages" for="fileUpload2"
                                    class="btn btn-outline-dark mt-1">
                                    <i class="bi bi-paperclip"></i>
                                    <input type="file" id="fileUpload2" style="display: none;"
                                        (change)="onFileSelected($event)" multiple>
                                </label>
                            </div>
                        </div>

                        <div class="row justify-content-end pt-2 mt-2" style="border-top: 1px solid lightgray;">
                            <div class="col-auto">
                                <button class="btn btn-outline-dark" (click)="sendMessage()">
                                    {{"SYSTEM.TICKETMODIFY.SEND" | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <button class="btn btn-dark btnSticky" [matMenuTriggerFor]="menu">
        <i class="bi bi-three-dots-vertical"></i>
    </button>
    <mat-menu #menu="matMenu">
        <button *ngIf="true; else releaseBlock" mat-menu-item (click)="takeOnCharge()">
            <i class="bi bi-person-raised-hand me-2"></i>
            <span>{{"TICKET.MODIFY.TAKEONCHARGE" | translate }}</span>
        </button>
        <ng-template #releaseBlock>
            <button mat-menu-item (click)="release()">
                <i class="bi bi-person-standing me-2"></i>
                <span>{{"TICKET.MODIFY.RELEASE" | translate }}</span>
            </button>
        </ng-template>
        <button mat-menu-item (click)="newMessage()">
            <i class="bi bi-chat-right-text me-2"></i>
            <span>{{"TICKET.MODIFY.ADDMESSAGE" | translate }}</span>
        </button>
        <button mat-menu-item (click)="changeStatus()">
            <i class="bi bi-arrow-clockwise me-2"></i>
            <span>{{"TICKET.MODIFY.CHANGESTATUS" | translate }}</span>
        </button>
    </mat-menu>
</div>

<div #bottomAnchor></div>