<h2 mat-dialog-title align="center" class="justify-content-center" style="background-color: #fcf3cf;">
    <span style="font-weight: bold; font-size: x-large;">
        {{"SYSTEM.TICKETMODIFY.DELETETICKET" | translate }}
    </span>
</h2>

<mat-dialog-content>

    <div class="row justify-content-center mt-2 pt-2">
        <div class="col-12 text-center p-2">
            <span>
                {{"SYSTEM.TICKETMODIFY.DELETETICKETTXT" | translate }}
            </span>
        </div>
    </div>

    <div class="row justify-content-center mt-2 pt-2" style="border-top: 1px solid lightgray;">
        <div class="col-6 text-start">
            <button class="btn btn-outline-dark" style="width: 80px;" (click)="close()">
                {{"SYSTEM.TICKETMODIFY.CANCEL" | translate }}
            </button>
        </div>

        <div class="col-6 text-end">
            <button class="btn btn-outline-danger" style="width: 80px;" (click)="deleteMessage()">
                {{"SYSTEM.TICKETMODIFY.DELETE" | translate }}
            </button>
        </div>
    </div>
</mat-dialog-content>
