.title {
    font-size: large;
    font-weight: bold;
    color: white;
}

.form-label {
    font-weight: bold;
    margin-bottom: 0.1rem;
}

.card-title {
    background-color: #002D5D;
    color: white;
}

.btn-outline-dark {
    border-color: #002D5D;
    color: #002D5D;
}

.btn-outline-dark:hover {
    background-color: #002D5D;
    color: white;
}

.form-check-input:hover {
    cursor: pointer;
}

.btn-check:checked+.btn {
    border-color: #002D5D !important;
    background-color: #002D5D !important;
}

.btn-outline-primary {
    border-color: #002D5D;
    color: #002D5D;
}

.btn-outline-primary:hover {
    border-color: #002D5D;
}

.fontStyle {
    font-family: 'Times New Roman', Times, serif;
}

::ng-deep .specific-class>.mat-expansion-indicator:after {
    color: white;
}