<div class="container-fluid mt-4 pb-5" style="max-width: 1400px;">

    <div class="row justify-content-center align-items-center">
        <div class="col-12 pb-1 mb-3" style="border-bottom: 1px solid lightgray;">
            <span class="titleLines">
                {{"CUSTOMER.ORGANIZATION.MODIFYVALUES" | translate}}
            </span>
            <span class="ms-4">
                <i class="bi bi-pencil" style="font-size: 18px;" (click)="organizationModifyPopup()"></i>
            </span>
        </div>
        <div class="col-12 ps-2 ps-md-4 pe-2 pe-md-4">
            <div class="row justify-content-center">
                <div class="col-12" style="border-bottom: 1px solid lightgray; position: relative;">
                    <span class="titleLines">
                        {{"CUSTOMER.ORGANIZATION.ORGANIZATION" | translate}}
                    </span>
                </div>
            </div>
            <div class="row justify-content-start align-items-center mt-1 pb-2">

                <div class="col-12">
                    <span class="smallInfo">
                        {{"CUSTOMER.ORGANIZATION.INFONOTE" | translate}}
                    </span>
                </div>

                <!-- MUNICIPALITY -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 formColumn">
                    <label class="form-label" for="municipality">
                        {{"CUSTOMER.ORGANIZATION.MUNICIPALITY" | translate }}
                    </label>
                    <input type="text" class="form-control" id="municipality" [value]="organizationTax?.city?.name" disabled>
                </div>

                <!-- PROVINCE -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2 formColumn">
                    <label class="form-label" for="province">
                        {{"CUSTOMER.ORGANIZATION.PROVINCE" | translate}}
                    </label>
                    <input class="form-control" type="text" id="province" [value]="organizationTax?.city?.province_name" disabled>
                </div>

                <!-- CAP -->
                <div class="col-10 col-sm-4 col-md-4 col-lg-2 formColumn">
                    <label class="form-label" for="postalcode">
                        {{"CUSTOMER.ORGANIZATION.POSTALCODE" | translate}}
                    </label>
                    <input class="form-control" type="text" id="postalcode" [value]="organizationTax?.organization_postalcode" disabled>
                </div>

                <!-- STREET -->
                <div class="col-10 col-sm-9 col-md-7 col-lg-4 formColumn">
                    <label class="form-label" for="street">
                        {{"CUSTOMER.ORGANIZATION.STREET" | translate}}
                    </label>
                    <input class="form-control" type="text" id="street" [value]="organizationTax?.organization_street" disabled>
                </div>

                <!-- NUMBER -->
                <div class="col-2 col-sm-3 col-md-2 col-lg-1 ps-0 formColumn">
                    <label class="form-label" for="street_number">
                        {{"CUSTOMER.ORGANIZATION.NUMBER" | translate}}
                    </label>
                    <input class="form-control" type="text" id="street_number" [value]="organizationTax?.organization_street_number" disabled>
                </div>
            </div>

            <div class="row justify-content-center mt-4">
                <div class="col-12" style="border-bottom: 1px solid lightgray; position: relative;">
                    <span class="titleLines">
                        {{"CUSTOMER.ORGANIZATION.TAXREPRESENTATIVE" | translate}}
                    </span>
                </div>
            </div>
            <div class="row justify-content-start align-items-center mt-1 pb-2">

                <div class="col-12">
                    <span class="smallInfo">
                        {{"CUSTOMER.ORGANIZATION.INFONOTE" | translate}}
                    </span>
                </div>

                <!-- NATURAL PERSON -->
                <div class="form-check col-12 mt-1">
                    <input class="form-check-input" type="checkbox" id="naturalPerson" 
                        [checked]="organizationTax?.tax_naturalPerson == 1" disabled>
                    <label class="form-check-label mt-0" for="naturalPerson">
                        {{"CUSTOMER.ORGANIZATION.NATURALPERSON" | translate}}
                    </label>
                </div>

                <ng-container *ngIf="organizationTax?.tax_naturalPerson == 1; else businessBlock">
                    <!-- NAME -->
                    <div class="col-12 col-sm-6 col-lg-4 formColumn">
                        <label class="form-label" for="name">
                            {{"CUSTOMER.TAXREPRESENTATIVE.NAME" | translate}}
                        </label>
                        <input class="form-control" type="text" id="name" [value]="organizationTax?.tax_name" disabled>
                    </div>

                    <!-- SURNAME -->
                    <div class="col-12 col-sm-6 col-lg-4 formColumn">
                        <label class="form-label" for="surname">
                            {{"CUSTOMER.TAXREPRESENTATIVE.SURNAME" | translate}}
                        </label>
                        <input class="form-control" type="text" id="surname" [value]="organizationTax?.tax_surname" disabled>
                    </div>
                </ng-container>

                <!-- DENOMINATION -->
                <ng-template #businessBlock>
                    <div class="col-12 col-lg-6 formColumn">
                        <label class="form-label" for="denomination">
                            {{"CUSTOMER.TAXREPRESENTATIVE.DENOMINATION" | translate}}
                        </label>
                        <input class="form-control" type="text" id="denomination" [value]="organizationTax?.tax_denomination" disabled>
                    </div>
                </ng-template>

                <!-- VAT -->
                <div class="col-12 col-md-6 col-lg-4 formColumn">
                    <label class="form-label" for="vat">
                        {{"CUSTOMER.TAXREPRESENTATIVE.VAT" | translate}}
                    </label>
                    <input class="form-control" type="text" id="vat" [value]="organizationTax?.tax_vat" disabled>
                </div>
            </div>
        </div>
    </div>
</div>