<div class="single-timeline-area">
    <div class="timeline-date wow fadeInLeft d-none d-md-flex" data-wow-delay="0.1s"
        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
        <p class="text-center" style="font-weight: bold;">{{message.timeline}}</p>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="single-timeline-content d-flex wow fadeInLeft p-0" data-wow-delay="0.3s"
                style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft; border-color: lightgray; border-radius: 4px;">

                <mat-expansion-panel [expanded]="index == 0" style="width: 100%;">
                    <mat-expansion-panel-header style="max-height: 50px; background-color: rgb(242, 242, 242);">
                        <mat-panel-title class="panel-title">
                            <span *ngIf="messageForm.get('description')?.value == null || messageForm.get('description')?.value.length == 0">
                                <i class="bi bi-chat-right-text me-2"></i>
                                <i *ngIf="messageForm.get('public')?.value == 1" class="bi bi-globe2 me-1" style="color: red;"></i>
                                {{"TICKET.MESSAGE.MESSAGE" | translate}}
                            </span>

                            <span *ngIf="messageForm.get('description')?.value != null && messageForm.get('description')?.value.length > 0"
                                class="articleTitle">
                                <i class="bi bi-chat-right-text me-2"></i>
                                <i *ngIf="messageForm.get('public')?.value == 1" class="bi bi-globe2 me-1" style="color: red;"></i>
                                {{messageForm.get('description')?.value}}
                            </span>

                            <button class="btn btn-link" (click)="deleteMessage()" (click)="$event.stopPropagation()">
                                <i class="bi bi-trash ms-2 justify-self-end" style="color: red;"></i>
                            </button>

                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <!-- FORM -->
                    <ng-container [formGroup]="messageForm">

                        <div class="row justify-content-evenly align-items-center mb-2 mt-1">
                            <div class="col-10 col-xl-11 text-start">
                                <label for="description" class="form-label">{{"TICKET.MESSAGE.DESCRIPTION" | translate}}</label>
                                <textarea class="form-control" id="description" formControlName="description"rows="3"
                                [class.is-invalid]="messageForm.invalid && (messageForm.dirty || submitted)"></textarea>
                            </div>

                            <div class="col-2 col-xl-1 text-start">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-12">
                                        <label class="form-label" for="public">Public</label>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch" id="public"
                                                formControlName="public" style="width: 40px; height: 18px;">
                                        </div>
                                    </div>
                                    <div *ngIf="message.idticketline > 0" class="col-12 mt-3">
                                        <label for="fileUpload-{{message.idticketline}}" class="btn btn-outline-dark"
                                        matTooltip="Allega File">
                                        <i class="bi bi-paperclip"></i>
                                        <input type="file" id="fileUpload-{{message.idticketline}}"
                                            style="display: none;" (change)="onFileSelected($event)" accept="*"
                                            multiple>
                                    </label>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="messageForm.invalid && (messageForm.dirty || submitted)" class="col-12 text-center mt-1">
                                <span style="color: red; font-size: small;">
                                    {{"TICKET.MESSAGE.ERROR" | translate}}
                                </span>
                            </div>
                        </div>

                        <!-- Import Attached Files -->
                        <div *ngIf="message.idticketline != 0"
                            class="row justify-content-center align-items-center mt-2">
                            <!-- <div class="col-12">
                        <span style="font-size: small; color: gray;">File Allegati: {{files.length}}</span>
                    </div> -->
                            <div *ngIf="files && files.length > 0" class="col-12 image-container text-center">
                                <div class="image-wrapper" *ngFor="let file of files">
                                    <img class="custom-image me-2" [src]="urlServerLaraFile+file.src"
                                        [matTooltip]="file.title" (click)="openImageModal(file)" />
                                    <i class="bi bi-trash delete-icon" (click)="deleteFile(file.title)"></i>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="messageForm.dirty" class="row justify-content-center mt-1 pt-2"
                        style="border-top: 1px solid lightgray;">
                        <div class="col-12 text-end">
                            <button class="btn btn-outline-dark" (click)="saveMessage()">
                                {{"TICKET.BUTTONS.SAVE" | translate}}
                            </button>
                        </div>
                    </div>
                    </ng-container>

                    <div *ngIf="screenWidth >= 768; else iconBlock"
                        class="row justify-content-center align-items-center mt-1">
                        <div class="col-12 col-sm-6 text-start">
                            <span *ngIf="message.user_created != null" class="userInfo">
                                {{"TICKET.DATETIMELOG.CREATED" | translate}}:
                                {{message.user_created.nickname}} - {{message.user_created.datetime}}
                            </span>
                        </div>
                        <div class="col-12 col-sm-6 text-end">
                            <span *ngIf="message.user_updated != null" class="userInfo">
                                {{"TICKET.DATETIMELOG.UPDATED" | translate}}:
                                {{message.user_updated.nickname}} - {{message.user_updated.datetime}}
                            </span>
                        </div>
                    </div>
                    <ng-template #iconBlock>
                        <div class="row justify-content-center mt-1">
                            <div class="col-12 text-start">
                                <i class="bi bi-info-circle" 
                                matTooltip="{{'TICKET.DATETIMELOG.CREATED' | translate}}: {{message.user_created?.nickname}} - {{message.user_created?.datetime}}, &#10;
                                {{'TICKET.DATETIMELOG.UPDATED' | translate}}: {{message.user_updated?.nickname}} - {{message.user_updated?.datetime}}"></i>
                            </div>
                        </div>
                    </ng-template>
                </mat-expansion-panel>
            </div>
        </div>
    </div>
</div>