<div class="container-fluid p-1 p-md-2 p-lg-3 p-xl-4" style="min-width: 350px; min-height: 94vh;">
    <div class="row justify-content-center align-items-center mt-4">
        <div class="col-12 col-md-2 d-flex align-items-bottom text-start order-2 order-md-1">
            <i *ngIf="customer?.naturalPerson == 1; else companyBlock"
                class="bi bi-person-fill iconSize" matTooltip="{{'INVOICE.CUSTOMER.NATURALPERSON' | translate}}"></i>
            <ng-template #companyBlock>
                <i class="bi bi-buildings iconSize" matTooltip="{{'INVOICE.CUSTOMER.COMPANY' | translate}}"></i>
            </ng-template>
            <button class="btn btn-sm btn-outline-dark ms-2 mt-1" style="height: 34px;">
                {{"INVOICE.CUSTOMER.PDF" | translate}}
            </button>
        </div>
        <div class="col-12 col-md-8 text-center order-1 order-md-2">
            <span *ngIf="customer?.naturalPerson == 1; else companyNameBlock"
                class="titleRecords">
                {{customer?.name}} {{customer?.surname}}
                <sup (click)="modifyPopUp()">
                    <i class="bi bi-pencil iconHover ms-2" style="font-size: 16px;"></i>
                </sup>
            </span>
            <ng-template #companyNameBlock>
                <span class="titleRecords">
                    {{customer?.businessName}}
                </span>
                <sup (click)="modifyPopUp()">
                    <i class="bi bi-pencil ms-2" style="font-size: 16px;"></i>
                </sup>
            </ng-template>
        </div>
        <div class="d-none d-md-inline col-md-2 order-3">
        </div>
    </div>

    <div class="row justify-content-center align-items-center mt-4">
        <mat-tab-group (selectedIndexChange)="onTabChange($event)">
            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="tabTitle">
                        {{'INVOICE.CUSTOMER.RECORDS' | translate}}
                    </span>
                    <i class="bi bi-card-text ms-4 iconSize"></i>
                </ng-template>
                <ng-template matTabContent>
                    <app-customer-modify #customerModify [countriesList]="countriesList" [customer]="customer"
                        (modifiedCustomer)="modifyCustomer($event)"></app-customer-modify>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="tabTitle">
                        {{'INVOICE.CUSTOMER.THERAPIES' | translate}}
                    </span>
                    <i class="bi bi-heart-pulse iconSize ms-4"></i>
                </ng-template>
                <ng-template matTabContent>
                    <app-customer-therapies></app-customer-therapies>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="tabTitle">
                        {{'INVOICE.CUSTOMER.TRAINEES' | translate}}
                    </span>
                    <i class="bi bi-people iconSize ms-4"></i>
                </ng-template>
                <ng-template matTabContent>
                    <app-customer-trainees></app-customer-trainees>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>