<div class="container-fluid" style="position: relative; min-width: 350px;">
    <div class="row justify-content-center align-items-center pt-4" style="position: relative;">
        <div class="col-auto text-center ps-3 pe-3 pt-1 pb-1 titleColumn">
            <span class="title">
                {{"EVENT.LIST.EVENTS" | translate}}
            </span>
        </div>

        <button class="btn btn-circle btn-sticky" (click)="addEvent()">
            <i class="bi bi-plus-lg"></i>
        </button>
    </div>

    <div class="row justify-content-center p-2 mt-4">
        <div [formGroup]="filterForm" class="col-12 cardElement" style="max-width: 1200px;">

            <div class="row justify-content-start align-items-center">
                <div class="col-12 pb-1" style="border-bottom: 1px solid lightgrey;">
                    <span class="titleFilters">
                        {{"EVENT.LIST.SEARCH" | translate}}
                    </span>
                </div>
            </div>

            <div class="row justify-content-start align-items-center rowDivider">
                <!-- IS PERIOD -->
                <div class="col-12 col-sm-6 col-md-4 col-xxl-2">
                    <div class="form-check form-switch d-flex align-items-center">
                        <input class="form-check-input" type="checkbox" role="switch" id="isPeriod"
                            formControlName="isPeriod">
                        <label class="form-check-label ms-2" for="isPeriod">
                            {{"EVENT.LIST.FILTERPERIOD" | translate}}
                        </label>
                    </div>
                </div>

                <!-- DATE PICKER -->
                <div *ngIf="filterForm.get('isPeriod')?.value" class="col-12 col-sm-6 col-md-5 col-lg-4 col-xxl-3 mt-2">
                    <mat-form-field id="dateinterval" class="bootstrap-style w-100">
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate formControlName="datefrom" placeholder="dd/mm/yyyy"
                                class="form-control innerInput">
                            <input matEndDate formControlName="dateto" placeholder="dd/mm/yyyy"
                                class="form-control ms-2 innerInput">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>

                        <mat-error *ngIf="filterForm.controls.datefrom.hasError('matStartDateInvalid')">
                            {{"EVENT.LIST.INVALIDSTARTDATE" | translate}}
                        </mat-error>
                        <mat-error *ngIf="filterForm.controls.dateto.hasError('matEndDateInvalid')">
                            {{"EVENT.LIST.INVALIDENDDATE" | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row justify-content-start align-items-center rowDivider">
                <div class="col-12 mt-2">
                    <span style="font-weight: bold;">
                        {{"EVENT.LIST.TYPE" | translate}}:
                    </span>
                </div>

                <!-- PEOPLE TYPE -->
                <div class="col-12 mt-2">
                    <div class="row ms-1">
                        <div class="col-4 col-md-2 col-xxl-1 p-0">
                            <div class="form-check d-flex align-items-center">
                                <input class="form-check-input" type="checkbox" id="people_isAll"
                                    formControlName="people_isAll">
                                <label class="form-check-label ms-2" for="people_isAll">
                                    {{"EVENT.LIST.ALL" | translate}}
                                </label>
                            </div>
                        </div>
                        <div class="col-4 col-md-2 col-xxl-1 p-0">
                            <div class="form-check d-flex align-items-center">
                                <input class="form-check-input" type="checkbox" value="" id="people_isCustomer"
                                    formControlName="people_isCustomer">
                                <label class="form-check-label ms-2" for="people_isCustomer">
                                    {{"EVENT.LIST.CUSTOMERS" | translate}}
                                </label>
                            </div>
                        </div>
                        <div class="col-4 col-md-2 col-xxl-1 p-0">
                            <div class="form-check d-flex align-items-center">
                                <input class="form-check-input" type="checkbox" value="" id="people_isStudent"
                                    formControlName="people_isStudent">
                                <label class="form-check-label ms-2" for="people_isStudent">
                                    {{"EVENT.LIST.STUDENT" | translate}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- CUSTOMER AUTOCOMPLETE -->
                <div *ngIf="filterForm.get('people_isCustomer')?.value == true"
                    class="col-12 col-sm-6 mb-md-4 text-start" style="margin-bottom: 0.5rem !important;">
                    <label class="subtitle form-label" for="customer" style="margin-bottom: 0.1rem !important;">
                        {{"EVENT.LIST.CUSTOMER" | translate}}
                    </label>
                    <input type="text" matInput [matAutocomplete]="customer" class="form-control" id="customer"
                        formControlName="customer"
                        [class.is-invalid]="filterForm.get('customer')?.invalid && submitted">
                    <mat-autocomplete #customer="matAutocomplete" [displayWith]="displayCustomerName">
                        <mat-option *ngFor="let option of filteredCustomer$ | async;" [value]="option">
                            <div>
                                {{option.denomination}}
                            </div>
                        </mat-option>
                    </mat-autocomplete>
                </div>

                <!-- STUDENT AUTOCOMPLETE -->
                <div *ngIf="filterForm.get('people_isStudent')?.value == true"
                    class="col-12 col-sm-6 mb-md-4 text-start" style="margin-bottom: 0.5rem !important;">
                    <label class="subtitle form-label" for="student" style="margin-bottom: 0.1rem !important;">
                        {{"EVENT.LIST.STUDENT" | translate}}
                    </label>
                    <input type="text" matInput [matAutocomplete]="student" class="form-control" id="student"
                        formControlName="student" [class.is-invalid]="filterForm.get('student')?.invalid && submitted">
                    <mat-autocomplete #student="matAutocomplete" [displayWith]="displayStudentName">
                        <mat-option *ngFor="let option of filteredStudent$ | async;" [value]="option">
                            <div>
                                {{option.denomination}}
                            </div>
                        </mat-option>
                    </mat-autocomplete>
                </div>
            </div>

            <div class="row justify-content-center align-items-center rowDivider">
                <div class="col-12 mt-2">
                    <span style="font-weight: bold;">
                        {{"EVENT.LIST.EVENTTYPE" | translate}}:
                    </span>
                </div>

                <!-- EVENT TYPE -->
                <div class="col-12 col-md-6">
                    <div class="row ms-1 mt-2">
                        <div class="col-4 col-xxl-2 p-0">
                            <div class="form-check d-flex align-items-center">
                                <input class="form-check-input" type="checkbox" id="event_isAll"
                                    formControlName="event_isAll">
                                <label class="form-check-label ms-2" for="event_isAll">
                                    {{"EVENT.LIST.ALL" | translate}}
                                </label>
                            </div>
                        </div>
                        <div class="col-4 col-xxl-2 p-0">
                            <div class="form-check d-flex align-items-center">
                                <input class="form-check-input" type="checkbox" value="" id="event_isCourse"
                                    formControlName="event_isCourse">
                                <label class="form-check-label ms-2" for="event_isCourse">
                                    {{"EVENT.LIST.COURSES" | translate}}
                                </label>
                            </div>
                        </div>
                        <div class="col-4 col-xxl-2 p-0">
                            <div class="form-check d-flex align-items-center">
                                <input class="form-check-input" type="checkbox" value="" id="event_isOther"
                                    formControlName="event_isOther">
                                <label class="form-check-label ms-2" for="event_isOther">
                                    {{"EVENT.LIST.OTHERS" | translate}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="filterForm.get('event_isCourse')?.value == true; else emptyCol" class="col-12 col-md-6">
                    <label class="form-label" for="course_type">
                        {{"EVENT.LIST.COURSETYPE" | translate}}
                    </label>
                    <select class="form-select" id="course" formControlName="course_type">
                        <option [ngValue]="null" selected>--</option>
                        <option *ngFor="let course of courseList" [ngValue]="course.id">
                            {{course.name}}
                        </option>
                    </select>
                </div>
                <ng-template #emptyCol>
                    <div class="col-6 d-none d-md-inline"></div>
                </ng-template>

            </div>

            <div class="row mt-2 justify-content-start align-items-center">
                <div class="col-12">
                    <div class="form-check d-flex align-items-center">
                        <input class="form-check-input" type="checkbox" value="" id="notEnded">
                        <label class="form-check-label ms-2" for="notEnded">
                            {{"EVENT.LIST.EXCLUDEENDED" | translate}}
                        </label>
                    </div>
                </div>
            </div>

            <div class="row justify-content-end mt-2 pt-2" style="border-top: 1px solid lightgray;">
                <div class="col-auto text-end">
                    <button class="btn btn-outline-dark" (click)="filter()">
                        {{"EVENT.LIST.FILTER" | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- TABLE -->
    <div class="row justify-content-center">
        <div class="col-12 mt-4" style="max-width: 1400px;">
            <div class="mat-elevation-z8 mb-2">

                <!-- PAGINATOR -->
                <div class="row justify-content-center p-3" style="border-radius: 20px;">
                    <div class="d-none d-md-inline col-4 text-start">
                        <span style="font-size: small;">{{"EVENT.LIST.TOTALRESULTS" | translate}}:
                            {{totalResults}}
                        </span>
                    </div>

                    <div class="d-none d-md-inline col-4 text-center">
                        <span style="font-size: small;">{{"EVENT.LIST.OBJPERPAGE" | translate}}:
                            {{itemsPerPage}}
                        </span>
                    </div>

                    <div class="col-6 d-sm-none text-start">
                        <span style="font-size: small;">
                            {{"EVENT.LIST.ORDEREDBYDEFAULT" | translate}}
                        </span>
                    </div>

                    <div class="col-6 col-sm-12 col-md-4 text-end">
                        <span>
                            <button [disabled]="currentPage == 1" class="btn btn-link me-2 p-0" (click)="prevPage()">
                                <i class="bi bi-caret-left"></i>
                            </button>
                            <span style="font-size: small;">{{"EVENT.LIST.PAGE" | translate}} {{currentPage}} di
                                {{totalPages}}
                            </span>
                            <button [disabled]="currentPage == totalPages" class="btn btn-link ms-2 p-0"
                                (click)="nextPage()">
                                <i class="bi bi-caret-right"></i>
                            </button>
                        </span>
                    </div>
                </div>

                <table mat-table [dataSource]="dataSource" class="mat-table mb-5" matSort *ngIf="!isSmallScreen; else smallTableBlock"
                    style="border-top: 1px solid lightgray;" matSortActive="lastupdate" matSortDirection="desc"
                    matSortDisableClear>

                    <!-- Date Column -->
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef style="width: 120px;">
                            {{"EVENT.LIST.DATE" | translate}}
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="clickableElement" style="width: 120px;">
                                {{ element.date }}
                            </span>
                        </td>
                    </ng-container>

                    <!-- Customer Column -->
                    <ng-container matColumnDef="customer">
                        <th mat-header-cell *matHeaderCellDef class=" headerScale">
                            {{"EVENT.LIST.CUSTOMER" | translate}}
                        </th>
                        <td mat-cell *matCellDef="let element" class="">
                            {{element.customer}}
                        </td>
                    </ng-container>

                    <!-- Course Column -->
                    <ng-container matColumnDef="course">
                        <th mat-header-cell *matHeaderCellDef class="d-none d-sm-table-cell">
                            {{"EVENT.LIST.COURSE" | translate}}
                        </th>
                        <td mat-cell *matCellDef="let element" class="d-none d-sm-table-cell">
                            {{element.course}}
                        </td>
                    </ng-container>

                    <!-- Start Time Column -->
                    <ng-container matColumnDef="start_time">
                        <th mat-header-cell *matHeaderCellDef class="d-none d-lg-table-cell headerScale" style="width: 120px;">
                            {{"EVENT.LIST.STARTTIME" | translate}}
                        </th>
                        <td mat-cell *matCellDef="let element" class="d-none d-lg-table-cell text-truncate" style="width: 120px;">
                            {{element.start_time}}
                        </td>
                    </ng-container>

                    <!-- End Time Column -->
                    <ng-container matColumnDef="end_time">
                        <th mat-header-cell *matHeaderCellDef class="d-none d-lg-table-cell headerScale" style="width: 120px;">
                            {{"EVENT.LIST.ENDTIME" | translate}}
                        </th>
                        <td mat-cell *matCellDef="let element" class="d-none d-lg-table-cell" style="width: 120px;">
                            {{element.end_time}}
                        </td>
                    </ng-container>

                    <!-- Header and Row Definitions -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="rowHover">
                    </tr>
                </table>

                <!-- SMALL SCREEN TABLE -->
                <ng-template #smallTableBlock>
                    <table mat-table [dataSource]="dataSource" class="mat-table" matSort
                        matSortActive="lastupdate" matSortDirection="desc" matSortDisableClear>
                        <!-- Small Screen Column -->
                        <ng-container matColumnDef="smallScreenCol">
                            <th mat-header-cell *matHeaderCellDef class="d-none">
                                {{"EVENT.LIST.DATECUSTOMERCOURSE" | translate}}
                            </th>
                            <td mat-cell *matCellDef="let element" class="d-sm-none mt-1">
                                {{element.date}}
                                <br>
                                {{element.customer}}
                                <br>
                                {{element.course}}
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsSmall" class="d-none"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsSmall;" class="rowHoverSm">
                        </tr>
                    </table>
                </ng-template>

            </div>
        </div>
    </div>

    <!-- <button class="btn btn-outline-primary stickyButton btn-circle sticky-footer ms-2" >
        <i class="bi bi-plus-lg"></i>
    </button> -->
</div>