// FORM

label {
    font-weight: bold;
}

// Multi-select style
.selection {
    height: 38px;
    border-bottom: none;
    background-color: white;
    border: 1px solid #dee2e6;
    border-radius: 6px;
    position: relative;
    padding-top: 0.4rem;
    padding-left: 0.7rem;
}

.selection:focus-within {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

// RADIO BUTTON

// Base style for radio button
.btn-check+.btn {
    border-color: #002D5D;
    color: #002D5D;
    transition: background-color 0.3s, color 0.3s;
}

.btn-check:hover+.btn:hover {
    color: white;
}

// Style for the active radio button
.btn-check:checked+.btn {
    background-color: #002D5D;
    color: white;
}

// Remove mat-select arrow and place the bootstrap one
::ng-deep .mat-mdc-select-arrow {
    display: none;
}

.bi-chevron-down {
    position: absolute;
    top: 10px;
    right: 11px;
    font-size: 12px;
    color: black;
    text-shadow: 1px 0px 0px black;
}

.bi-chevron-down:hover {
    cursor: pointer;
}

// Select style
#incharge:hover {
    cursor: pointer;
}

#location:hover {
    cursor: pointer;
}

// Submit button
.btn-outline-primary {
    color: #002D5D;
    border-color: #002D5D;
}

.btn-outline-primary:hover {
    background-color: #002D5D;
    color: white;
}

.inChargeIcon {
    bottom: -94px;
    left: 34%;

    @media screen and (min-width: 450px) {
        left: 30%
    }

    @media screen and (min-width: 500px) {
        left: 20%
    }

    @media screen and (min-width: 576px) {
        left: 0;
    }

    @media screen and (min-width: 800px) {
        left: -10%
    }

    @media screen and (min-width: 900px) {
        left: -14%
    }

    @media screen and (min-width: 1030px) {
        left: -18%
    }

    // @media screen and (min-width: 1140px) {
    //     left: 47.6%
    // }

    // @media screen and (min-width: 1160px) {
    //     left: 47.8%
    // }

    // @media screen and (min-width: 1200px) {
    //     bottom: -32px;
    //     left: 48%
    // }

    // @media screen and (min-width: 1300px) {
    //     left: 48.2%
    // }

    // @media screen and (min-width: 1400px) {
    //     left: 48.4%
    // }

    // @media screen and (min-width: 1600px) {
    //     left: 48.6%
    // }

    // @media screen and (min-width: 1800px) {
    //     left: 48.8%
    // }

    // @media screen and (min-width: 2200px) {
    //     left: 49%
    // }

    // @media screen and (min-width: 2400px) {
    //     left: 49.2%
    // }
}

.colouredIcon {
    color: red;
}

.colouredIcon:hover {
    cursor: pointer;
}  