<div style="max-width: 1000px; min-width: 350px; margin: 0 auto;">
    <form [formGroup]="ticketInfoForm" class="p-1 p-md-2 p-lg-3 text-center mt-4">
        <div class="row justify-content-center align-items-center mt-1">
            <div class="col-12 col-md-6 btn-group diagonal-divider" role="group"
                aria-label="Basic radio toggle button group" (change)="internalExternalLogic()">
                <input type="radio" class="btn-check" id="internal" autocomplete="off" formControlName="internal"
                    [value]="1">
                <label class="btn btn-outline-primary" for="internal">Internal</label>

                <input type="radio" class="btn-check" id="external" autocomplete="off" formControlName="internal"
                    [value]="0">
                <label class="btn btn-outline-primary" for="external">External</label>
            </div>
        </div>

        <div class="row justify-content-start align-items-center mt-4">
            <!-- Number field (read-only) -->
            <div class="col-4 col-sm-2 mb-3 text-start" style="margin-bottom: 0.5rem !important; max-width: 100px;">
                <label for="number" class="form-label" style="margin-bottom: 0.1rem !important;">Number</label>
                <input type="text" id="number" class="form-control" formControlName="number" readonly>
            </div>

            <!-- Date field (read-only) -->
            <div class="col-6 col-sm-3 mb-md-4 text-start" style="margin-bottom: 0.5rem !important; max-width: 200px;">
                <label for="date_ticket" class="form-label" style="margin-bottom: 0.1rem !important;">Date</label>
                <input type="text" id="date_ticket" class="form-control" formControlName="date_ticket" readonly>
            </div>
        </div>

        <div class="row justify-content-start align-items-center">
            <!-- Customer field (visible only if "External" is selected) -->
            <div class="col-12 col-sm-7 col-lg-6 mb-md-4 text-start" style="margin-bottom: 0.5rem !important;">
                <label class="subtitle form-label" for="customer">
                    {{"VOUCHER.CUSTOMER" | translate}}<sup>*</sup>
                </label>
                <input type="text" matInput [matAutocomplete]="customer" class="form-control" id="customer"
                    formControlName="customer"
                    [class.is-invalid]="ticketInfoForm.get('customer')?.invalid && submitted">
                <mat-autocomplete #customer="matAutocomplete" [displayWith]="displayCustomerName">
                    <mat-option *ngFor="let option of filteredCustomer$ | async; trackBy: trackById" [value]="option">
                        <div>
                            {{option.denominazione}}
                        </div>
                    </mat-option>
                </mat-autocomplete>
            </div>

            <!-- Location field (visible only if "External" is selected) -->
            <div class="col-12 col-md-6 mb-md-4 text-start" style="margin-bottom: 0.5rem !important;">
                <label for="location" class="form-label" style="margin-bottom: 0.1rem !important;">Location</label>
                <select id="location" class="form-select" formControlName="location">
                    <option [ngValue]="null">No headquarter</option>
                    <option *ngFor="let location of locations" [ngValue]="location.id">
                        {{location.city}},
                        {{location.address}}
                    </option>
                </select>
            </div>

            <!-- Department field -->
            <div class="col-12 col-md-6 mb-md-4 text-start" style="margin-bottom: 0.5rem !important;">
                <label for="department" class="form-label" style="margin-bottom: 0.1rem !important;">Department</label>
                <div class="selection">
                    <mat-select #select1 formControlName="department" multiple>
                        @for (department of ticketInfoService.departments; track ticketInfoService.departments) {
                        <mat-option class="selectOptions" [value]="department.id">{{department.name}}</mat-option>
                        }
                    </mat-select>
                    <i class="bi bi-chevron-down" (click)="openSelect(1)"></i>
                </div>
            </div>

            <!-- Keep Informed field -->
            <div class="col-12 col-md-6 mb-md-4 text-start" style="margin-bottom: 0.5rem !important;">
                <label for="keepinformed" class="form-label" style="margin-bottom: 0.1rem !important;">Keep Informed</label><br>
                <div class="selection">
                    <mat-select #select2 formControlName="keepinformed" multiple>
                        @for (user of ticketInfoService.users; track ticketInfoService.users) {
                        <mat-option class="selectOptions" [value]="user.id">{{user.nickname}}</mat-option>
                        }
                    </mat-select>
                    <i class="bi bi-chevron-down" (click)="openSelect(2)"></i>
                </div>
            </div>

            <!-- Notes -->
            <div class="col-12 mb-md-5 text-start" style="margin-bottom: 0.5rem !important;">
                <label for="note" class="form-label" style="margin-bottom: 0.1rem !important;"  >Note</label><br>
                <textarea id="note" class="form-control" formControlName="note" rows="3"
                    placeholder="Write a temporary note"></textarea>
            </div>
        </div>

        <div *ngIf="!ticketInfoForm.valid" class="row justify-content-center align-items-center">
            <div class="col-12 text-center">
                <span style="font-style: italic; opacity: 0.7; font-size: small;">* Compile all the mandatory fields to
                    enable ticket submission</span>
            </div>
        </div>

        <div class="row justify-content-center align-items-center mt-4">
            <!-- Submit & Refresh button -->
            <div class="col-4 text-start">
                <button type="submit" class="btn btn-outline-danger ms-2" >Delete</button>
            </div>
            <div class="col-4 text-center">
                <button type="submit" class="btn btn-outline-primary ms-2" (click)="refresh()">Refresh</button>
            </div>
            <div class="col-4 text-end">
                <button type="submit" class="btn btn-outline-success me-2" (click)="save()"
                    [disabled]="!ticketInfoForm.valid">Submit</button>
            </div>
        </div>
    </form>
</div>