<h2 mat-dialog-title align="center" class="justify-content-center" style="background-color: #002D5D;">
    <span style="color: white; font-weight: bold; font-size: x-large;">
        {{"BANK.MODAL.SELECTBANK" | translate}}
    </span>
</h2>

<mat-dialog-content>
    <div class="row justify-content-center align-items-center">
        <div class="col-12 mt-2 mb-4">
            <form [formGroup]="bankForm">
                <label class="form-label" for="bank">{{"BANK.MODAL.DENOMINATION" | translate}}</label>
                <select class="form-select" id="bank" formControlName="bank_obj">
                    <option [value]="null">
                        --
                    </option>
                    <option *ngFor="let bank of bankList" [ngValue]="bank">
                        {{bank.denomination}}
                    </option>
                </select>
            </form>
        </div>
    </div>

    <div class="row justify-content-center" style="border-top: 1px solid lightgray;">
        <div class="col-6 text-start pt-2">
            <button class="btn btn-outline-dark" (click)="close()">{{"BANK.MODAL.CLOSE" | translate}}</button>
        </div>
        <div class="col-6 text-end pt-2">
            <button class="btn btn-outline-success" (click)="selectBank()">{{"BANK.MODAL.SELECT" | translate}}</button>
        </div>
    </div>
</mat-dialog-content>