<div class="container-fluid mt-4 pb-5" style="max-width: 1400px;">
    <div *ngIf="addresses.controls.length == 0" class="row justify-content-center align-items-center">
        <div class="col-auto text-center mt-2">
            <span style="font-style: italic; color: gray;">
                {{"INVOICE.CUSTOMER.ADDRESS.EMPTYADDRESSLIST" | translate}}
            </span>
        </div>
    </div>

    <form [formGroup]="addressForm">
        <ng-container formArrayName="addresses">
            <div *ngFor="let address of addresses.controls; let i = index" [formGroupName]="i"
                class="row justify-content-center align-items-center mt-2 pb-2"
                style="border-bottom: 1px solid lightgray; position: relative;">

                <div class="col-12" style="border-bottom: 1px solid lightgray;">
                    <span *ngIf="address.get('street')?.value != null && address.get('street')?.value != ''; else noStreetBlock"
                        class="addressPlaceholder">
                        {{address.get('street')?.value}}
                    </span>
                    <ng-template #noStreetBlock>
                        <span class="addressPlaceholder">
                            {{"INVOICE.CUSTOMER.ADDRESS.PLACEHOLDER" | translate}} {{i+1}}
                        </span>
                    </ng-template>
                    <span class="ms-4">
                        <i class="bi bi-pencil" style="font-size: 20px;" (click)="modifyAddressPopup(address.getRawValue())"></i>
                        <i class="bi bi-trash ms-4" style="color: red; font-size: 20px;" (click)="deleteAddressPopup(address.get('id')?.value)"></i>
                    </span>
                </div>

                <!-- DESCRIPTION -->
                <div class="col-12 col-lg-7">
                    <label class="form-label" for="description-{{i}}">
                        {{"INVOICE.CUSTOMER.ADDRESS.DESCRIPTION" | translate}}
                    </label>
                    <textarea class="form-control" type="text" id="description-{{i}}"
                        formControlName="description" [rows]="descriptionRows"></textarea>
                </div>

                <!-- COUNTRY -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <label class="form-label" for="country">
                        {{"INVOICE.CUSTOMER.ADDRESS.COUNTRY" | translate}}
                    </label>
                    <select class="form-select" id="country" formControlName="country">
                        <option [value]="null">
                            --
                        </option>
                        <option *ngFor="let country of countriesList" [ngValue]="country.id">
                            {{country.common_name}}
                        </option>
                    </select>
                </div>

                <!-- CITY -->
                <div *ngIf="address.get('country')?.value == 12; else notItalianBlock"
                    class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <label class="form-label" for="city_it-{{i}}">{{"INVOICE.CUSTOMER.ADDRESS.MUNICIPALITY" | translate }}</label>
                    <input type="text" matInput [matAutocomplete]="customer" class="form-control" id="city_it-{{i}}"
                        formControlName="city_it"
                        [class.is-invalid]="address.get('city_it')?.invalid && submitted">
                    <mat-autocomplete #customer="matAutocomplete" [displayWith]="displayCityName">
                        <mat-option *ngFor="let option of filteredCities$ | async" [value]="option">
                            <div>
                                {{option.name}}
                            </div>
                        </mat-option>
                    </mat-autocomplete>
                </div>
                <ng-template #notItalianBlock>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <label class="form-label" for="city-{{i}}">
                            {{"INVOICE.CUSTOMER.ADDRESS.CITY" | translate}}
                        </label>
                        <input class="form-control" type="text" id="city-{{i}}" formControlName="city">
                    </div>
                </ng-template>

                <!-- PROVINCE -->
                <div class="col-12 col-sm-8 col-md-4 col-lg-3">
                    <label class="form-label" for="province-{{i}}">
                        {{"INVOICE.CUSTOMER.ADDRESS.PROVINCE" | translate}}
                    </label>
                    <input class="form-control" type="text" id="province-{{i}}" formControlName="province">
                </div>

                <!-- CAP -->
                <div class="col-12 col-sm-4 col-md-3 col-lg-2">
                    <label class="form-label" for="postalcode-{{i}}">
                        {{"INVOICE.CUSTOMER.ADDRESS.POSTALCODE" | translate}}
                    </label>
                    <input class="form-control" type="text" id="postalcode-{{i}}" formControlName="postalcode">
                </div>

                <!-- STREET -->
                <div class="col-12 col-sm-9 col-md-7 col-lg-6">
                    <label class="form-label" for="street-{{i}}">
                        {{"INVOICE.CUSTOMER.ADDRESS.STREET" | translate}}
                    </label>
                    <input class="form-control" type="text" id="street-{{i}}" formControlName="street">
                </div>

                <!-- NUMBER -->
                <div class="col-12 col-sm-3 col-md-2 col-lg-1">
                    <label class="form-label" for="street_number-{{i}}">
                        {{"INVOICE.CUSTOMER.ADDRESS.NUMBER" | translate}}
                    </label>
                    <input class="form-control" type="text" id="street_number-{{i}}" formControlName="street_number">
                </div>

                <!-- LEGAL OFFICE -->
                <div class="col-12 col-sm-6 ps-2 form-check">
                    <label class="form-check-label ms-2" for="legalOffice-{{i}}">
                        {{"INVOICE.CUSTOMER.ADDRESS.LEGALOFFICE" | translate}}
                    </label>
                    <input class="form-check-input mt-2 ms-1" type="checkbox" id="legalOffice-{{i}}"
                        formControlName="legalOffice" style="height: 20px; width: 20px;">
                </div>

                <!-- MAIN OFFICE -->
                <div class="col-12 col-sm-6 ps-2 form-check">
                    <label class="form-check-label ms-2" for="mainOffice-{{i}}">
                        {{"INVOICE.CUSTOMER.ADDRESS.MAINOFFICE" | translate}}
                    </label>
                    <input class="form-check-input mt-2 ms-1" type="checkbox" id="mainOffice-{{i}}"
                        formControlName="mainOffice" style="height: 20px; width: 20px;">
                </div>
            </div>
        </ng-container>
    </form>
</div>