.stickyButton {
    color: white;
    border-color: #002D5D;
    background-color: #002D5D;
    position: sticky;
    bottom: 0;
    left: 50%;
    z-index: 10;
    padding: 1rem;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    scale: 1;
    transition: scale 0.5s ease, transform 1s ease, background-color 1s ease, border-color 1s ease;
    transform-origin: center;
}

.stickyButton:hover {
    scale: 1.15;
    transform: rotate(360deg);
    background-color: green;
    border-color: green;
}

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 4px 10px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-outline-dark {
    color: #002D5D;
    border-color: #002D5D;
}

.btn-outline-dark:hover {
    color: white;
    background-color: #002D5D;
}

.title {
    font-size: xx-large;
    font-weight: bold;
}

.form-label, .form-check-label {
    font-size: medium;
    font-weight: bold;
    margin-top: 0.3rem;
    margin-bottom: 0rem;
}

input, textarea, select {
    font-weight: 150;
}

.addressPlaceholder {
    font-size: x-large;
    font-weight: bold;
    color: #002D5D;
}

.iconAnimation {
    font-size: 18px;
    transform: scale(1);
    transition: transform 1s ease;
}

.iconAnimation:hover {
    transform: scale(1.2);
    cursor: pointer;
}