<div class="container-fluid mt-4 pb-5" style="max-width: 1400px;">
    <div *ngIf="addressList.length == 0" class="row justify-content-center align-items-center">
        <div class="col-auto text-center mt-2">
            <span style="font-style: italic; color: gray;">
                {{"CUSTOMER.ADDRESS.EMPTYADDRESSLIST" | translate}}
            </span>
        </div>
    </div>

    <div *ngFor="let address of addressList; let i = index"
        class="row justify-content-center align-items-center mt-2 pb-2"
        style="border-bottom: 1px solid lightgray; position: relative;">

        <div class="col-12" style="border-bottom: 1px solid lightgray;">
            <span *ngIf="address.street != null && address.street != ''; else noStreetBlock" class="addressPlaceholder">
                {{address.street}}
            </span>
            <ng-template #noStreetBlock>
                <span class="addressPlaceholder">
                    {{"CUSTOMER.ADDRESS.PLACEHOLDER" | translate}} {{i+1}}
                </span>
            </ng-template>
            <span class="ms-4">
                <i class="bi bi-pencil iconAnimation" (click)="modifyAddressPopup(address, 1)"></i>
                <i class="bi bi-trash iconAnimation ms-4" style="color: red;"
                    (click)="deleteAddressPopup(address.idlocation)"></i>
            </span>
        </div>

        <!-- DESCRIPTION -->
        <div class="col-12 col-lg-7">
            <label class="form-label" for="description-{{i}}">
                {{"CUSTOMER.ADDRESS.DESCRIPTION" | translate}}
            </label>
            <textarea class="form-control" type="text" id="description-{{i}}" [value]="address.description"
                [rows]="descriptionRows" disabled></textarea>
        </div>

        <!-- COUNTRY -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-2">
            <label class="form-label" for="country-{{i}}">
                {{"CUSTOMER.ADDRESS.COUNTRY" | translate}}
            </label>
            <select class="form-select" id="country-{{i}}" disabled>
                <option *ngFor="let country of countriesList"
                    [selected]="address.country == country.id">
                    {{country.common_name}}
                </option>
            </select>
        </div>

        <!-- CITY -->
        <div *ngIf="address.country == 12; else notItalianBlock" class="col-12 col-sm-6 col-md-4 col-lg-3">
            <label class="form-label" for="city_it-{{i}}">{{"CUSTOMER.ADDRESS.MUNICIPALITY" | translate }}</label>
            <input type="text" matInput class="form-control" id="city_it-{{i}}" [value]="address.city_it?.name"
                disabled>
        </div>
        <ng-template #notItalianBlock>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <label class="form-label" for="city-{{i}}">
                    {{"CUSTOMER.ADDRESS.CITY" | translate}}
                </label>
                <input class="form-control" type="text" id="city-{{i}}" [value]="address.city" disabled>
            </div>
        </ng-template>

        <!-- PROVINCE -->
        <div *ngIf="address.country == 12; else notItalianProvinceBlock" class="col-12 col-sm-8 col-md-4 col-lg-3">
            <label class="form-label" for="province-{{i}}">
                {{"CUSTOMER.ADDRESS.PROVINCE" | translate}}
            </label>
            <input class="form-control" type="text" id="province-{{i}}" [value]="address.city_it?.province_name" disabled>
        </div>
        <ng-template #notItalianProvinceBlock>
            <div class="col-12 col-sm-8 col-md-4 col-lg-3">
                <label class="form-label" for="province-{{i}}">
                    {{"CUSTOMER.ADDRESS.PROVINCE" | translate}}
                </label>
                <input class="form-control" type="text" id="province-{{i}}" [value]="address.province" disabled>
            </div>
        </ng-template>

        <!-- CAP -->
        <div class="col-12 col-sm-4 col-md-3 col-lg-2">
            <label class="form-label" for="postalcode-{{i}}">
                {{"CUSTOMER.ADDRESS.POSTALCODE" | translate}}
            </label>
            <input class="form-control" type="text" id="postalcode-{{i}}" [value]="address.postalcode" disabled>
        </div>

        <!-- STREET -->
        <div class="col-12 col-sm-9 col-md-7 col-lg-6">
            <label class="form-label" for="street-{{i}}">
                {{"CUSTOMER.ADDRESS.STREET" | translate}}
            </label>
            <input class="form-control" type="text" id="street-{{i}}" [value]="address.street" disabled>
        </div>

        <!-- NUMBER -->
        <div class="col-12 col-sm-3 col-md-2 col-lg-1">
            <label class="form-label" for="street_number-{{i}}">
                {{"CUSTOMER.ADDRESS.NUMBER" | translate}}
            </label>
            <input class="form-control" type="text" id="street_number-{{i}}" [value]="address.street_number" disabled>
        </div>

        <!-- LEGAL OFFICE -->
        <div class="col-12 col-sm-6 ps-2 form-check">
            <label class="form-check-label ms-2" for="legalOffice-{{i}}">
                {{"CUSTOMER.ADDRESS.LEGALOFFICE" | translate}}
            </label>
            <input class="form-check-input mt-2 ms-1" type="checkbox" id="legalOffice-{{i}}"
                [checked]="address.legalOffice == 1" style="height: 20px; width: 20px;" disabled>
        </div>

        <!-- MAIN OFFICE -->
        <div class="col-12 col-sm-6 ps-2 form-check">
            <label class="form-check-label ms-2" for="mainOffice-{{i}}">
                {{"CUSTOMER.ADDRESS.MAINOFFICE" | translate}}
            </label>
            <input class="form-check-input mt-2 ms-1" type="checkbox" id="mainOffice-{{i}}" [checked]="address.mainOffice == 1"
                style="height: 20px; width: 20px;" disabled>
        </div>
    </div>
</div>