.form-label {
    font-size: small;
    font-weight: 800;
    margin-top: 0.3rem;
    margin-bottom: 0rem;
}

input,
textarea,
select,
span {
    font-weight: 150;
}

.columnTitle {
    font-size: medium;
    font-weight: bold;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
}

.truncate-description {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}