<h2 mat-dialog-title align="center" class="justify-content-center" style="background-color: #002D5D;">
    <span style="color: white; font-weight: bold; font-size: x-large;">
        {{"ARTICLE.MODAL.MODIFYARTICLE" | translate}}
    </span>
</h2>

<mat-dialog-content style="overflow-y: auto; overflow-x: hidden;">
    <form [formGroup]="modifyForm">
        <div class="row justify-content-center align-items-center">

            <div *ngIf="modifyForm.get('serialnumber')?.value == ''; else snBlock" class="col-12 col-sm-3 col-sm-2 p-1">
                <label class="form-label" for="quantity">
                    Quantità
                </label>
                <input class="form-control" type="text" id="quantity" formControlName="quantity">
            </div>
            <ng-template #snBlock>
                <div class="col-12 col-sm-2 p-0 p-md-1">
                    <label class="form-label" for="serialnumber">
                        <span *ngIf="!isSmall; else smallBlockS">
                            Serial Number
                        </span>
                        <ng-template #smallBlockS>
                            <span>
                                SN
                            </span>
                        </ng-template>
                    </label>
                    <input class="form-control ps-1 pe-1" type="text" id="serialnumber" formControlName="serialnumber">
                </div>
            </ng-template>

            <div class="col-4 col-sm-3 pe-0 pe-sm-1 p-1">
                <label class="form-label" for="taxablepurchase">
                    <span *ngIf="!isSmall; else smallBlockA">
                        Imponibile Acquisto
                    </span>
                    <ng-template #smallBlockA>
                        <span>
                            Imp. Acq.
                        </span>
                    </ng-template>
                </label>
                <div class="input-group">
                    <input class="form-control ps-1 pe-1" type="text" id="taxablepurchase" formControlName="taxablepurchase">
                    <span class="input-group-text" id="taxablepurchase">€</span>
                </div>
            </div>
            <div class="col-2 p-0 p-md-1">
                <label class="form-label" for="vatpurchase">
                    IVA
                </label>
                <div class="input-group">
                    <input class="form-control vatPadding" type="text" id="vatpurchase"
                        formControlName="vatpurchase">
                    <span class="input-group-text vatPadding" id="vatpurchase">%</span>
                </div>
            </div>
            <div class="col-4 col-sm-3 pe-0 pe-sm-1 p-1">
                <label class="form-label" for="taxablerecommended">
                    <span *ngIf="!isSmall; else smallBlockC">
                        Imponibile Consigliato
                    </span>
                    <ng-template #smallBlockC>
                        <span>
                            Imp. Cons.
                        </span>
                    </ng-template>
                </label>
                <div class="input-group">
                    <input class="form-control ps-1 pe-1" type="text" id="taxablerecommended"
                        formControlName="taxablerecommended">
                    <span class="input-group-text" id="taxablerecommended">€</span>
                </div>
            </div>
            <div class="col-2 col-sm-2 p-0 p-md-1">
                <label class="form-label" for="vatrecommended">
                    IVA
                </label>
                <div class="input-group">
                    <input class="form-control vatPadding" type="text" id="vatrecommended"
                        formControlName="vatrecommended">
                    <span class="input-group-text vatPadding" id="vatrecommended">%</span>
                </div>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end" style="border-top: 1px solid lightgray;">
    <button class="btn btn-outline-dark me-2" style="width: 100px;" (click)="close()">
        {{"ARTICLE.MODAL.CANCEL" | translate }}
    </button>
    <button class="btn btn-outline-success me-2" style="width: 100px;" (click)="modifyArticle()">
        {{"ARTICLE.MODAL.CONFIRM" | translate }}
    </button>
</mat-dialog-actions>