<h2 mat-dialog-title align="center" class="justify-content-center" style="background-color: #002D5D;">
    <span style="color: white; font-weight: bold; font-size: x-large;">
        {{"ARTICLE.MODAL.MODIFYARTICLE" | translate}}
    </span>
</h2>

<mat-dialog-content style="overflow-y: auto; overflow-x: hidden;">
    <form [formGroup]="modifyForm">
        <div class="row justify-content-center">

            <!-- UNIT AVAILABLE OR SERIAL NUMBER -->
            <div class="col-12 col-md-2 p-0">
                <div *ngIf="management_type == 0; else snBlock" class="col-12 p-1">
                    <label class="form-label" for="unit_available">
                        Unità
                    </label>
                    <input class="form-control" type="number" id="unit_available" formControlName="unit_available">
                </div>
                <ng-template #snBlock>
                    <div class="col-12 p-1">
                        <label class="form-label" for="serialnumber">
                            <span *ngIf="!isSmall; else smallBlockS">
                                Serial Number
                            </span>
                            <ng-template #smallBlockS>
                                <span>
                                    SN
                                </span>
                            </ng-template>
                        </label>
                        <input class="form-control" type="text" id="serialnumber" formControlName="serialnumber">
                    </div>
                </ng-template>
                <div *ngIf="management_type == 2" class="col-12 p-1">
                    <label class="form-label" for="qnt_available">
                        Quantità
                    </label>
                    <input class="form-control" type="number" id="qnt_available" formControlName="qnt_available">
                </div>
            </div>

            <div class="col-12 col-md-10 p-0">
                <div class="row justify-content-center m-0 p-0">
                    <!-- UNIT TAXABLE PURCHASE -->
                    <div class="col-4 p-1">
                        <label class="form-label" for="unit_taxablepurchase">
                            <ng-container *ngIf="!isSmall; else smallBlockA">
                                Imponibile Acquisto
                            </ng-container>
                            <ng-template #smallBlockA>
                                Imp. Acq.
                            </ng-template>
                        </label>
                        <div class="input-group">
                            <input class="form-control ps-1 pe-1" type="text" id="unit_taxablepurchase"
                                formControlName="unit_taxablepurchase">
                            <span class="input-group-text">€</span>
                        </div>
                    </div>
                    <!-- VAT PURCHASE -->
                    <div class="col-4 col-lg-2 p-1">
                        <label class="form-label" for="vatpurchase">
                            IVA
                        </label>
                        <div class="input-group">
                            <input class="form-control vatPadding" type="text" id="vatpurchase"
                                formControlName="vatpurchase">
                            <span class="input-group-text vatPadding" id="vatpurchase">%</span>
                        </div>
                    </div>
                    <!-- UNIT PRICE PURCHASE -->
                    <div class="col-4 p-1">
                        <label class="form-label" for="pricepurchase">
                            <span *ngIf="!isSmall; else smallBlockA">
                                Prezzo Acquisto
                            </span>
                            <ng-template #smallBlockA>
                                <span>
                                    Prz. Acq.
                                </span>
                            </ng-template>
                        </label>
                        <div class="input-group">
                            <input class="form-control ps-1 pe-1" type="text" id="pricepurchase"
                                formControlName="pricepurchase">
                            <span class="input-group-text">€</span>
                        </div>
                    </div>

                    <!-- UNIT TAXABLE RECOMMENDED -->
                    <div class="col-4 p-1">
                        <label class="form-label" for="unit_taxablerecommended">
                            <span *ngIf="!isSmall; else smallBlockC">
                                Imponibile Consigliato
                            </span>
                            <ng-template #smallBlockC>
                                <span>
                                    Imp. Cons.
                                </span>
                            </ng-template>
                        </label>
                        <div class="input-group">
                            <input class="form-control ps-1 pe-1" type="text" id="unit_taxablerecommended"
                                formControlName="unit_taxablerecommended">
                            <span class="input-group-text">€</span>
                        </div>
                    </div>
                    <!-- VAT RECOMMENDED -->
                    <div class="col-4 col-lg-2 p-1">
                        <label class="form-label" for="vatrecommended">
                            IVA
                        </label>
                        <div class="input-group">
                            <input class="form-control vatPadding" type="text" id="vatrecommended"
                                formControlName="vatrecommended">
                            <span class="input-group-text vatPadding" id="vatrecommended">%</span>
                        </div>
                    </div>
                    <!-- UNIT PRICE RECOMMENDED -->
                    <div class="col-4 p-1">
                        <label class="form-label" for="pricerecommended">
                            <span *ngIf="!isSmall; else smallBlockC">
                                Prezzo Consigliato
                            </span>
                            <ng-template #smallBlockC>
                                <span>
                                    Prz. Cons.
                                </span>
                            </ng-template>
                        </label>
                        <div class="input-group">
                            <input class="form-control ps-1 pe-1" type="text" id="pricerecommended"
                                formControlName="pricerecommended">
                            <span class="input-group-text">€</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end" style="border-top: 1px solid lightgray;">
    <button class="btn btn-outline-dark me-2" style="width: 100px;" (click)="close()">
        {{"ARTICLE.MODAL.CANCEL" | translate }}
    </button>
    <button class="btn btn-outline-success me-2" style="width: 100px;" (click)="modifyArticle()">
        {{"ARTICLE.MODAL.CONFIRM" | translate }}
    </button>
</mat-dialog-actions>