<div style="min-width: 100%; min-height: 98vh; background-color: whitesmoke;">
    <div class="container-fluid" style="max-width: 1100px; min-width: 350px;">
        <div class="row justify-content-center align-items-center pt-4" style="position: relative;">
            <div class="col-auto ps-3 pe-3 pt-1 pb-1 titleColumn">
                <span class="title">
                    {{"INVOICE.BANK.BANK" | translate}}
                </span>
            </div>

            <div style="position: absolute; top: 30px; left: 20px;">
                <button class="btn btn-outline-dark" (click)="goBack()">
                    <i class="bi bi-arrow-left"></i>
                </button>
            </div>
        </div>

        <div class="row justify-content-start align-items-center mb-4" style="height: 100%;">
            <div class="col-12 mt-4">
                <div [formGroup]="bankForm" class="pt-2 pb-2 ps-3 pe-3 ps-md-4 pe-md-4 cardElement">
                    <div class="row justify-content-start align-items-center selectCustomer">
                        <div class="col-12">
                            {{"INVOICE.BANK.DATA" | translate}}
                        </div>
                    </div>
                    <div
                        class="row justify-content-start mb-2 ps-0 ps-sm-3 ps-md-1 ps-lg-4 pe-0 pe-sm-3 pe-md-1 pe-lg-4">
                        <div class="col-12 col-sm-3 col-lg-1">
                            <label class="form-label" for="active">{{"INVOICE.BANK.ACTIVATE" | translate}}</label><br>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="active"
                                    formControlName="active">
                            </div>
                        </div>

                        <div class="col-12 col-sm-9 col-lg-4">
                            <label class="form-label" for="idcountry">{{"INVOICE.BANK.COUNTRY" | translate}}<sup>*</sup></label>
                            <select class="form-select" name="idcountry" id="idcountry" formControlName="idcountry" (change)="selectedCountry()"
                                [class.is-invalid]="bankForm.get('idcountry')?.invalid && submittedS">
                                <option [ngValue]="null">--</option>
                                <option *ngFor="let country of countriesList" [ngValue]="country.id">
                                    {{country.common_name}}
                                </option>
                            </select>
                        </div>

                        <div class="col-12 col-lg-7">
                            <label class="form-label" for="denomination">{{"INVOICE.BANK.DENOMINATION" | translate}}<sup>*</sup></label>
                            <input class="form-control" type="text" id="denomination" formControlName="denomination"
                                [class.is-invalid]="bankForm.get('denomination')?.invalid && submittedS">
                        </div>

                        <div class="col-12 col-sm-8 col-md-4">
                            <label class="form-label" for="bic">{{"INVOICE.BANK.BIC" | translate}}</label>
                            <input class="form-control" type="text" id="bic" formControlName="bic">
                        </div>

                        <div class="col-12 col-md-8">
                            <label class="form-label" for="iban">{{"INVOICE.BANK.IBAN" | translate}}<sup>*</sup></label>
                            <div class="input-group">
                                <input class="form-control" type="text" id="iban" formControlName="iban"
                                    [class.is-invalid]="(bankForm.get('iban')?.invalid && submittedC) ||
                                        (bankForm.get('iban')?.invalid && submittedS)" 
                                    (input)="checkSubmitted()">
                                <button *ngIf="ccn3 == '380'" class="btn btn-outline-success"
                                    (click)="checkIban()">
                                    <i class="bi bi-check2"></i>
                                    <span *ngIf="!isSmallScreen">
                                        {{"INVOICE.BANK.CONTROL" | translate}}
                                    </span>
                                </button>
                            </div>
                        </div>

                        <div *ngIf="bankForm.get('iban')?.invalid && submittedC" class="col-12 mt-1 text-center">
                            <span class="errorText">
                                {{"INVOICE.BANK.IBANERROR" | translate}}
                            </span>
                        </div>
                        <div *ngIf="bankForm.invalid && submittedS" class="col-12 text-center">
                            <span  class="errorText">
                                {{"INVOICE.BANK.FIELDERROR" | translate}}
                            </span>
                        </div>
                    </div>

                    <div class="row justify-content-start align-items-top pt-2 ps-0 ps-sm-3 ps-md-1 ps-lg-4 pe-0 pe-sm-3 pe-md-1 pe-lg-4"
                        *ngIf="bankForm.get('iban')?.valid && submittedC && ccn3 == '380'"
                        style="border-top: 1px solid lightgray;">
                        <div class="col-8 col-sm-4 col-md-2">
                            <label class="form-label" for="acronym">{{"INVOICE.BANK.ACRONYM" | translate}}</label>
                            <select class="form-select" name="acronym" id="acronym" formControlName="acronym">
                                <option [ngValue]="null">--</option>
                                <option *ngFor="let country of countriesList" [ngValue]="country.id">
                                    {{country.cca2}}
                                </option>
                            </select>
                        </div>

                        <div class="col-10 col-sm-6 col-md-3" style="position: relative;">
                            <label class="form-label" for="abi">{{"INVOICE.BANK.ABI" | translate}}</label>
                            <input class="form-control" type="text" id="abi" formControlName="abi">
                            <i *ngIf="!bankName" class="bi bi-info-circle-fill text-warning iconPosition"
                                matTooltip="{{'INVOICE.BANK.ABIERROR' | translate}}"></i>
                        </div>

                        <div class="col-10 col-sm-4 col-md-3" style="position: relative;">
                            <label class="form-label" for="cab">{{"INVOICE.BANK.CAB" | translate}}</label>
                            <input class="form-control" type="text" id="cab" formControlName="cab">
                            <i *ngIf="!bankAddress" class="bi bi-info-circle-fill text-warning iconPosition"
                                matTooltip="{{'INVOICE.BANK.CABERROR' | translate}}"></i>
                        </div>

                        <div class="col-10 col-sm-6 col-md-4">
                            <label class="form-label" for="cc">{{"INVOICE.BANK.CC" | translate}}</label>
                            <input class="form-control" type="text" id="cc" formControlName="cc">
                        </div>

                        <div *ngIf="bankName" class="col-12 mt-2">
                            <span>
                                - {{bankName}}
                            </span>
                        </div>

                        <div *ngIf="bankAddress" class="col-12">
                            <span>
                                - {{bankAddress}}
                            </span>
                        </div>
                    </div>

                    <div *ngIf="ccn3 != '380' || (ccn3 == '380' && submittedC 
                        && bankForm.get('iban')?.valid)" 
                        class="row justify-content-center mt-3 ps-0 ps-sm-3 ps-md-1 ps-lg-4 pe-0 pe-sm-3 pe-md-1 pe-lg-4">
                        <div class="col-12 text-end">
                            <button class="btn btn-outline-dark" (click)="saveBank()">
                                {{"INVOICE.BANK.SAVE" | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>