<!-- Modal -->
<div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="background-color: #002D5D;">
        <div class="col-12 text-center mt-2 mb-2">
            <span class="title">Edit Title and Description</span>
        </div>
    </div>
    
    <div mat-dialog-content>
        <div class="row justify-content-center align-items-center p-1">
            <form [formGroup]="editForm">
                <div class="col-12 mt-2 mb-3">
                    <label for="title" class="mb-1" style="font-weight: bold;">Title</label>
                    <input id="title" type="text" class="form-control" formControlName="title">
                </div>
                <div class="col-12 mt-2 mb-2">
                    <label for="description" class="mb-1" style="font-weight: bold;">Description</label>
                    <textarea type="text" class="form-control" rows="3" formControlName="description"></textarea>
                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-center align-items-center mt-2 mb-3">
            <div class="col-4 text-end me-2">
                <button class="btn btn-outline-primary" (click)="cancel()">Cancel</button>
            </div>
            <div class="col-4 text-start ms-2">
                <button class="btn btn-outline-primary" color="primary" (click)="save()">Save</button>
            </div>
    </div>
</div>