<!-- Title Modal -->
<div *ngIf="id == 0" class="container-fluid">
    <div class="row justify-content-center align-items-center" style="background-color: #002D5D;">
        <div class="col-12 text-center mt-2 mb-2">
            <span class="title">{{"TICKET.MODAL.EDITTITLE" | translate }}</span>
        </div>
    </div>

    <div mat-dialog-content>
        <div class="row justify-content-center align-items-center p-1">
            <form [formGroup]="editTitleForm">
                <div class="col-12 mt-2 mb-3">
                    <label for="title" class="mb-1" style="font-weight: bold;">{{"TICKET.MODAL.TITLE" | translate }}</label>
                    <input id="title" type="text" class="form-control" formControlName="title">
                </div>
                <div class="col-12 mt-2 mb-2">
                    <label for="description" class="mb-1" style="font-weight: bold;">{{"TICKET.MODAL.DESCRIPTION" | translate }}</label>
                    <textarea type="text" class="form-control" rows="3" formControlName="description"></textarea>
                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-center align-items-center mt-2 mb-3">
        <div class="col-6 text-center">
            <button class="btn btn-outline-danger" style="width: 80px;" (click)="cancel()">{{"TICKET.BUTTONS.CANCEL" | translate }}</button>
        </div>
        <div *ngIf="editTitleForm.dirty" class="col-6 text-center">
            <button class="btn btn-outline-success" style="width: 80px;" (click)="save()">{{"TICKET.BUTTONS.SAVE" | translate }}</button>
        </div>
    </div>
</div>

<!-- Status Modal -->
<div *ngIf="id == 1" class="container-fluid">
    <div class="row justify-content-center align-items-center" style="background-color: #002D5D;">
        <div class="col-12 text-center mt-2 mb-2">
            <span class="title">{{"TICKET.MODAL.EDITSTATUS" | translate }}</span>
        </div>
    </div>

    <div mat-dialog-content>
        <div class="row justify-content-center align-items-center p-1">
            <form [formGroup]="editStatusForm">
                <div class="col-12 mt-2 mb-3">
                    <label for="statusid" class="mb-1" style="font-weight: bold;">{{"TICKET.MODAL.STATUS" | translate }}</label>
                    <select id="statusid" class="form-select" formControlName="statusid" (change)="onStatusSelected()">
                        <option *ngFor="let status of statusList" [ngValue]="status.id">{{status.name}}</option>
                    </select>
                </div>
                <div class="col-12 mt-2 mb-2">
                    <label for="substatusid" class="mb-1" style="font-weight: bold;">{{"TICKET.MODAL.SUBSTATUS" | translate }}</label>
                    <select id="substatusid" class="form-select" formControlName="substatusid">
                        <option [ngValue]="null" selected>--</option>
                        <option *ngFor="let substatus of substatusList" [ngValue]="substatus.id">{{substatus.name}}
                        </option>
                    </select>
                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-center align-items-center mt-2 mb-3">
        <div class="col-6 text-center">
            <button class="btn btn-outline-danger" style="width: 80px;" (click)="cancel()">{{"TICKET.BUTTONS.CANCEL" | translate }}</button>
        </div>
        <div *ngIf="editStatusForm.dirty" class="col-6 text-center">
            <button class="btn btn-outline-success" style="width: 80px;" (click)="save()">{{"TICKET.BUTTONS.SAVE" | translate }}</button>
        </div>
    </div>
</div>