<div *ngFor="let work of ticketWorks; let i = index" class="single-timeline-area">
    <div class="timeline-date wow fadeInLeft d-none d-md-flex" data-wow-delay="0.1s"
        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
        <p class="text-center" style="font-weight: bold;">{{work.date}}</p>
    </div>

    <!-- Lavorazione -->
    <div *ngIf="work.type == 0" class="row">
        <div class="col-12">
            <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                <div [formGroup]="getWorkFormGroup(i)" class="timeline-text">

                    <div class="row justify-content-end align-items-center mb-2">
                        <div class="col-6 text-start">
                            <span style="font-style: italic; font-size: small; color: gray;">
                                <span class="d-none d-md-inline">
                                    Created by:
                                </span>
                                {{work.user.nickname}}
                            </span>
                        </div>

                        <div class="col-6 text-end">
                            <span style="font-style: italic; font-size: small; color: gray;">
                                <span class="d-none d-md-inline">
                                    Date and Time Creation:
                                </span>
                                {{work.dateTime}}
                            </span>
                        </div>
                    </div>

                    <div class="row justify-content-evenly align-items-center">
                        <div class="col-12 col-sm-6 col-lg-3 mt-2">
                            <label for="date" class="form-label">Date</label>
                            <input type="date" class="form-control" formControlName="date">
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 mt-2 ps-lg-0">
                            <div class="row p-0">
                                <label for="hours" class="form-label">Work Time</label>
                                <div class="col-6 pe-0">
                                    <div class="input-group">
                                        <select id="hours" class="form-select" formControlName="hours">
                                            <option [value]="null" disabled>Select Hours</option>
                                            <option *ngFor="let workTime of hours" [ngValue]="workTime">
                                                {{workTime}}
                                            </option>
                                        </select>

                                        <label class="input-group-text" for="hours">h</label>
                                    </div>
                                </div>
                                <div class="col-6 ps-0">
                                    <div class="input-group">
                                        <select id="minutes" class="form-select" formControlName="minutes">
                                            <option [value]="null" disabled>Select Minutes</option>
                                            <option *ngFor="let workTime of minutes" [ngValue]="workTime">{{workTime}}
                                            </option>
                                        </select>
                                        <label class="input-group-text" for="minutes">m</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-2 mt-2 ps-lg-0 pe-lg-0">
                            <label for="price" class="form-label">Price</label>
                            <div class="input-group">
                                <input type="text" class="form-control" formControlName="price">
                                <span class="input-group-text" id="basic-addon2">€</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 mt-2">
                            <label for="price_total" class="form-label">Total</label>
                            <div class="input-group">
                                <input type="text" class="form-control" formControlName="price_total">
                                <span class="input-group-text" id="basic-addon1">€</span>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <label for="description" class="form-label">Description</label>
                            <textarea type="text" class="form-control" formControlName="description"
                                rows="2"></textarea>
                        </div>
                    </div>

                    <div *ngIf="work.attached.length > 0; else noAttachedBlock"
                        class="row justify-content-center align-items-center mt-2">
                        <div *ngFor="let picture of work.attached" class="col-3 col-sm-2 col-lg-1 mt-2 text-center">
                            <img *ngIf="isImage(picture); else documentBlock" class="attachedFile"
                                src="assets/img/{{picture}}" [matTooltip]="picture" (click)="openFullscreenModal(picture)">
                            <i class="bi bi-trash"></i>
                            <ng-template #documentBlock>
                                <img class="attachedFile" src="assets/img/generic.png" [matTooltip]="picture"
                                (click)="openFullscreenModal(picture)">
                            </ng-template>
                        </div>
                    </div>
                    <ng-template #noAttachedBlock>
                        <div class="row justify-content-center align-items-center mt-2">
                            <div class="col-12 mt-1 text-center">
                                <span>No Attached Files Available</span>
                            </div>
                        </div>
                    </ng-template>

                    <div class="row justify-content-center align-items-center mt-2"
                        style="border-top: 1px solid lightgray;">
                        <div class="col-4 text-center">
                            <button class="btn btn-sm btn-primary mt-3" style="max-width: 80px; min-width: 70px;" (click)="save(i)">
                                Save
                            </button>
                        </div>
                        <div class="col-4 text-center">
                            <button class="btn btn-sm btn-primary mt-3" style="width: 50px">
                                <i class="bi bi-upload"></i>
                            </button>
                        </div>
                        <div class="col-4 text-center">
                            <button class="btn btn-sm btn-primary mt-3" style="max-width: 80px; min-width: 70px;" (click)="reset(i)">
                                Reset
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Messaggio -->
    <div *ngIf="work.type == 1" class="row">
        <div class="col-12">
            <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;"
                [ngStyle]="{ 'background-color': getCardBackgroundColor(i) }">
                <div [formGroup]="getWorkFormGroup(i)" class="timeline-text" style="width: 100%;">

                    <div class="row justify-content-evenly align-items-center mb-2">
                        <div class="col-6 text-start">
                            <span style="font-style: italic; font-size: small; color: gray;">
                                <span class="d-none d-md-inline">
                                    Created By:
                                </span>
                                {{work.user.nickname}}
                            </span>
                        </div>

                        <div class="col-6 text-end">
                            <span style="font-style: italic; font-size: small; color: gray;">
                                <span class="d-none d-md-inline">
                                    Date and Time Creation:
                                </span>
                                {{work.dateTime}}
                            </span>
                        </div>
                    </div>

                    <div class="row justify-content-evenly align-items-center">
                        <div class="col-12 col-md-10">
                            <label for="description" class="form-label">Description</label>
                            <textarea type="text" class="form-control" formControlName="description"
                                rows="4"></textarea>
                        </div>

                        <div class="col-12 col-md-2">
                            <input class="me-2" type="checkbox" id="public" formControlName="public">
                            <label for="public" class="form-label">Public</label>
                        </div>
                    </div>

                    <div *ngIf="work.attached.length > 0; else noAttachedBlock"
                        class="row justify-content-center align-items-center mt-2">
                        <div *ngFor="let picture of work.attached"
                            class="col-3 col-sm-2 col-lg-1 mt-2 ms-4 me-4 text-center">
                            <img *ngIf="isImage(picture); else documentBlock" class="attachedFile"
                                src="assets/img/{{picture}}" [matTooltip]="picture" (click)="openFullscreenModal(picture)">
                            <i class="bi bi-trash"></i>
                            <ng-template #documentBlock>
                                <img class="attachedFile" src="assets/img/generic.png" [matTooltip]="picture"
                                (click)="openFullscreenModal(picture)">
                            </ng-template>
                        </div>
                    </div>
                    <ng-template #noAttachedBlock>
                        <div class="row justify-content-center align-items-center mt-2">
                            <div class="col-12 mt-1 text-center">
                                <span>No Attached Files Available</span>
                            </div>
                        </div>
                    </ng-template>

                    <div class="row justify-content-center align-items-center mt-2"
                        style="border-top: 1px solid lightgray;">
                        <div class="col-4 text-center">
                            <button class="btn btn-sm btn-primary mt-3" style="max-width: 80px; min-width: 70px;" (click)="save(i)">
                                Save
                            </button>
                        </div>
                        <div class="col-4 text-center">
                            <button class="btn btn-sm btn-primary mt-3" style="width: 50px">
                                <i class="bi bi-upload"></i>
                            </button>
                        </div>
                        <div class="col-4 text-center">
                            <button class="btn btn-sm btn-primary mt-3" style="max-width: 80px; min-width: 70px;" (click)="reset(i)">
                                Reset
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Stato -->
    <div *ngIf="work.type == 2" class="row">
        <div class="col-12">
            <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;"
                [ngStyle]="{ 'background-color': getCardBackgroundColorStatus(i) }">
                <div [formGroup]="getWorkFormGroup(i)" class="timeline-text" style="width: 100%;">

                    <div class="row justify-content-evenly align-items-center mb-2">
                        <div class="col-6 text-start">
                            <span style="font-style: italic; font-size: small; color: gray;">
                                <span class="d-none d-md-inline">
                                    Updated By:
                                </span>
                                {{work.user.nickname}}
                            </span>
                        </div>

                        <div class="col-6 text-end">
                            <span style="font-style: italic; font-size: small; color: gray;">
                                <span class="d-none d-md-inline">
                                    Date and Time Creation:
                                </span>
                                {{work.dateTime}}
                            </span>
                        </div>

                        <div class="col-12 col-sm-6 text-center text-sm-start mt-2">
                            <span>
                                Actual Status:
                                <span style="font-weight: bold;">
                                    {{work.status?.actual}}
                                </span>
                            </span>
                        </div>

                        <div class="col-12 col-sm-6 text-center text-sm-end mt-2">
                            <span>
                                Previous Status:
                                <span style="font-weight: bold;">
                                    {{work.status?.previous}}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>