<div class="single-timeline-area">
    <div class="timeline-date wow fadeInLeft d-none d-md-flex" data-wow-delay="0.1s"
        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
        <p class="text-center" style="font-weight: bold;">{{work.timeline}}</p>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="single-timeline-content d-flex wow fadeInLeft p-0" data-wow-delay="0.3s"
                style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft; border-color: lightgray; border-radius: 4px;">

                <mat-expansion-panel [expanded]="index == 0" style="width: 100%;">
                    <mat-expansion-panel-header style="max-height: 50px; background-color: rgb(242, 242, 242);">
                        <mat-panel-title class="panel-title">
                            <span
                                *ngIf="workForm.get('description')?.value == null || workForm.get('description')?.value.length == 0">
                                <i class="bi bi-tools me-2"></i>
                                {{"TICKET.WORK.WORK" | translate}}
                            </span>

                            <span
                                *ngIf="workForm.get('description')?.value != null && workForm.get('description')?.value.length > 0"
                                class="workTitle">
                                <i class="bi bi-tools me-2"></i>
                                {{workForm.get('description')?.value}}
                            </span>

                            <button class="btn btn-link" (click)="deleteWork()" (click)="$event.stopPropagation()">
                                <i class="bi bi-trash ms-2" style="color: red;"></i>
                            </button>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <!-- FORM -->
                    <div [formGroup]="workForm" class="row justify-content-start align-items-end mb-2 mt-1">
                        <div class="col-5 col-sm-3 col-md-2 pe-1 mt-2">
                            <label class="subtitle form-label" for="hours">
                                {{"TICKET.WORK.HOURS" | translate}}
                            </label>
                            <div class="input-group">
                                <span class="input-group-text" id="hLabel">h</span>
                                <select type="text" class="form-select" formControlName="hours" id="hours"
                                    (change)="checkHoursAndMinutes()" [class.is-invalid]="(workForm.get('hours')?.invalid && (workForm.get('hours')?.dirty || submitted)) ||
                                    (submitted && !validHoursMinutes)" aria-describedby="hLabel">
                                    <option [value]="null" disabled>-</option>
                                    <option *ngFor="let hour of hours" [ngValue]="hour.value">
                                        {{hour.value}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-5 col-sm-3 col-md-2 mt-2 ps-1">
                            <label class="subtitle form-label" for="minutes">
                                {{"TICKET.WORK.MINUTES" | translate}}
                            </label>
                            <div class="input-group">
                                <span class="input-group-text" id="mLabel">m</span>
                                <select type="text" class="form-select" formControlName="minutes" id="minutes"
                                    (change)="checkHoursAndMinutes()" [class.is-invalid]="(workForm.get('minutes')?.invalid && (workForm.get('minutes')?.dirty || submitted)) ||
                                    (submitted && !validHoursMinutes)" aria-describedby="mLabel">
                                    <option [value]="null" disabled>-</option>
                                    <option *ngFor="let minute of minutes" [ngValue]="minute.value">
                                        {{minute.value}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <ng-container *ngIf="work.idticketline != 0">
                            <div class="col-2 col-sm-1 ps-0 mt-2 text-end">
                                <label for="fileUpload-{{work.idticketline}}" class="btn btn-outline-dark"
                                    matTooltip="Allega Files">
                                    <i class="bi bi-paperclip"></i>
                                    <input type="file" id="fileUpload-{{work.idticketline}}" style="display: none;"
                                        (change)="onFileSelected($event)" accept="*" multiple>
                                </label>
                            </div>
                        </ng-container>

                        <div class="col-12 mt-2">
                            <label class="subtitle form-label" for="description">
                                {{"TICKET.WORK.DESCRIPTION" | translate}}
                            </label>
                            <textarea type="text" class="form-control" formControlName="description" id="description"
                                rows="2"
                                [class.is-invalid]="workForm.get('description')?.invalid && (workForm.get('description')?.dirty || submitted)">
                            </textarea>
                        </div>
                    </div>

                    <div *ngIf="submitted" class="row justify-content-center mb-1">
                        <div *ngIf="!validHoursMinutes; else mandatoryBlock" class="col-12 text-center">
                            <span class="error">
                                {{"TICKET.WORK.QUANTITYERROR" | translate}}
                            </span>
                        </div>
                        <ng-template #mandatoryBlock>
                            <div *ngIf="workForm.invalid" class="col-12 text-center">
                                <span class="error">
                                    {{"TICKET.WORK.MANDATORY" | translate}}
                                </span>
                            </div>
                        </ng-template>
                    </div>

                    <!-- Import Attached Files -->
                    <div *ngIf="work.idticketline != 0" class="row justify-content-center align-items-center mt-2">
                        <!-- <div class="col-12">
                            <span style="font-size: small; color: gray;">File Allegati: {{files.length}}</span>
                        </div> -->
                        <div *ngIf="files && files.length > 0" class="col-12 image-container text-center">
                            <div class="image-wrapper" *ngFor="let file of files">
                                <img class="custom-image me-2" [src]="urlServerLaraFile+file.src"
                                    [matTooltip]="file.title" (click)="openImageModal(file)" />
                                <i class="bi bi-trash delete-icon" (click)="deleteFile(file.title)"></i>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="workForm.dirty" class="row justify-content-center pt-2"
                        style="border-top: 1px solid lightgray;">
                        <div class="col-12 text-end">
                            <button class="btn btn-outline-dark" (click)="saveWork()">
                                {{"TICKET.BUTTONS.SAVE" | translate}}
                            </button>
                        </div>
                    </div>

                    <div *ngIf="screenWidth >= 768; else iconBlock"
                        class="row justify-content-center align-items-center mt-1">
                        <div class="col-12 col-sm-6 text-start">
                            <span *ngIf="work.user_created != null" class="userInfo">
                                {{"TICKET.DATETIMELOG.CREATED" | translate}}:
                                {{work.user_created.nickname}} - {{work.user_created.datetime}}
                            </span>
                        </div>
                        <div class="col-12 col-sm-6 text-end">
                            <span *ngIf="work.user_updated != null" class="userInfo">
                                {{"TICKET.DATETIMELOG.UPDATED" | translate}}:
                                {{work.user_updated.nickname}} - {{work.user_updated.datetime}}
                            </span>
                        </div>
                    </div>
                    <ng-template #iconBlock>
                        <div class="row justify-content-center mt-1">
                            <div class="col-12 text-start">
                                <i class="bi bi-info-circle"
                                    matTooltip="{{'TICKET.DATETIMELOG.CREATED' | translate}}: {{work.user_created?.nickname}} - {{work.user_created?.datetime}}, &#10;
                                {{'TICKET.DATETIMELOG.UPDATED' | translate}}: {{work.user_updated?.nickname}} - {{work.user_updated?.datetime}}"></i>
                            </div>
                        </div>
                    </ng-template>
                </mat-expansion-panel>
            </div>
        </div>
    </div>
</div>