<div class="container-fluid" style="max-width: 1200px; min-width: 350px;">
    <!-- <div class="row justify-content-center align-items-center pt-4">
        <div class="col-auto ps-3 pe-3 pt-1 pb-1 titleColumn">
            <span class="title">
                {{"CUSTOMER.MODIFYCUSTOMER" | translate}}
            </span>
        </div>
    </div> -->

    <!-- <div class="row mt-4" style="border-bottom: 1px solid lightgray;">
        <div class="col-auto">
            <span class="subtitle">
                {{"CUSTOMER.RECORDS" | translate}}
            </span>
        </div>
    </div> -->

    <ng-container [formGroup]="customerRecordsForm">
        <div class="row justify-content-center align-items-end mt-2">
            <!-- FISCALCODE -->
            <div class="col-12 col-sm-6 col-lg-3" style="position: relative;">
                <label class="form-label" for="fiscalcode">
                    {{"CUSTOMER.FISCALCODE" | translate}}
                    <i *ngIf="customerGeneralForm.get('sameCode')?.value == true" class="bi bi-exclamation-circle ms-2"
                        style="color: red;" matTooltip="{{'CUSTOMER.SAMECODETOOLTIP' | translate}}"></i>
                </label>
                <input class="form-control" type="text" id="fiscalcode" formControlName="fiscalcode">
                <div *ngIf="customerGeneralForm.get('health_cf')?.value != null">
                    <i class="bi bi-exclamation-triangle-fill fiscalcodeIcon ms-2" [ngClass]="{'text-warning': customerGeneralForm.get('health_cf')?.value!.value == 0, 
                            'text-success': customerGeneralForm.get('health_cf')?.value!.value == 1, 
                            'text-danger': customerGeneralForm.get('health_cf')?.value!.value == 2}"
                        [matTooltip]="customerGeneralForm.get('health_cf')?.value!.description"></i>
                </div>
            </div>

            <!-- VAT -->
            <div class="col-12 col-sm-6 col-lg-3">
                <label class="form-label" for="vat">
                    {{"CUSTOMER.VAT" | translate}}
                </label>
                <input class="form-control" type="text" id="vat" formControlName="vat">
            </div>

            <!-- COUNTRY -->
            <div class="col-12 col-sm-5 col-md-6 col-lg-3">
                <label class="form-label" for="country">
                    {{"CUSTOMER.COUNTRY" | translate}}
                </label>
                <select class="form-select" id="country" formControlName="country">
                    <option [value]="null">
                        --
                    </option>
                    <option *ngFor="let country of countriesList" [ngValue]="country.id">
                        {{country.common_name}}
                    </option>
                </select>
            </div>

            <!-- SDI -->
            <div class="col-12 col-sm-7 col-lg-3">
                <div class="row align-items-end p-0">
                    <div class="col-6 p-0">
                        <label class="form-label" for="sdi">
                            {{"CUSTOMER.SDI" | translate}}
                        </label>
                        <input class="form-control pe-1" type="text" id="sdi" formControlName="sdi">
                    </div>
    
                    <div class="col-3 text-end p-0">
                        <button class="btn btn-outline-dark" (click)="historyPopup()">
                            <i class="bi bi-clock-history"></i>
                        </button>
                    </div>
    
                    <div class="col-3 text-end ps-0">
                        <button class="btn btn-outline-dark" (click)="modifyPopUp()">
                            <i class="bi bi-pencil"></i>
                        </button>
                    </div>
                </div>
            </div>


            <!-- PEC -->
            <div class="col-12 col-sm-6 col-lg-3">
                <label class="form-label" for="pec">
                    {{"CUSTOMER.PEC" | translate}}
                </label>
                <input class="form-control" type="text" id="pec" formControlName="pec">
            </div>

            <!-- EMAIL -->
            <div class="col-12 col-sm-6 col-lg-3">
                <label class="form-label" for="email">
                    {{"CUSTOMER.EMAIL" | translate}}
                </label>
                <input class="form-control" type="text" id="email" formControlName="email"
                    [class.is-invalid]="customerRecordsForm.get('email')?.invalid">
            </div>

            <!-- PHONE -->
            <div class="col-12 col-sm-6 col-lg-3">
                <label class="form-label" for="phoneNumber">
                    {{"CUSTOMER.PHONE" | translate}}
                </label>
                <input class="form-control" type="text" id="phoneNumber" formControlName="phoneNumber">
            </div>

            <!-- FAX -->
            <div class="col-12 col-sm-6 col-lg-3">
                <label class="form-label" for="fax">
                    {{"CUSTOMER.FAX" | translate}}
                </label>
                <input class="form-control" type="text" id="fax" formControlName="fax">
            </div>

            <!-- WEBSITE -->
            <div class="col-12 col-sm-6 col-lg-5">
                <label class="form-label" for="website">
                    {{"CUSTOMER.WEBSITE" | translate}}
                </label>
                <input class="form-control" type="text" id="website" formControlName="website">
            </div>

            <!-- EORI -->
            <div class="col-12 col-sm-6 col-lg-5">
                <label class="form-label" for="eori">
                    {{"CUSTOMER.EORI" | translate}}
                </label>
                <input class="form-control" type="text" id="eori" formControlName="eori">
            </div>

            <ng-container *ngIf="customerGeneralForm.get('naturalPerson')?.value == true">
                <!-- GENDER -->
                <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                    <label class="form-label" for="gender">
                        {{"CUSTOMER.GENDER" | translate}}
                    </label>
                    <select class="form-select" id="gender" formControlName="gender">
                        <option [value]="null">
                            --
                        </option>
                        <option *ngFor="let gender of genderList" [ngValue]="gender.id">
                            {{gender.description}}
                        </option>
                    </select>
                </div>

                <!-- BIRTH COUNTRY -->
                <div class="col-12 col-sm-6 col-md-4">
                    <label class="form-label" for="birth_country">
                        {{"CUSTOMER.BIRTHCOUNTRY" | translate}}
                    </label>
                    <select class="form-select" id="birth_country" formControlName="birth_country">
                        <option [value]="null">
                            --
                        </option>
                        <option *ngFor="let country of countriesList" [ngValue]="country.id">
                            {{country.common_name}}
                        </option>
                    </select>
                </div>

                <!-- BIRTH CITY -->
                <div *ngIf="customerRecordsForm.get('birth_country')?.value == 12; else notItalianBlock"
                    class="col-12 col-sm-6 col-md-5 col-lg-5">
                    <label class="form-label" for="birth_city_it">{{"CUSTOMER.BIRTHCITY" | translate }}</label>
                    <input type="text" matInput [matAutocomplete]="customer" class="form-control" id="birth_city_it"
                        formControlName="birth_city_it"
                        [class.is-invalid]="customerRecordsForm.get('birth_city_it')?.invalid && submitted">
                    <mat-autocomplete #customer="matAutocomplete" [displayWith]="displayCityName">
                        <mat-option *ngFor="let option of filteredCities$ | async" [value]="option">
                            <div>
                                {{option.name}}
                            </div>
                        </mat-option>
                    </mat-autocomplete>
                </div>
                <ng-template #notItalianBlock>
                    <div class="col-12 col-sm-6 col-md-5 col-lg-5">
                        <label class="form-label" for="birth_city">
                            {{"CUSTOMER.BIRTHCITY" | translate}}
                        </label>
                        <input class="form-control" type="text" id="birth_city" formControlName="birth_city">
                    </div>
                </ng-template>

                <!-- BIRTHDAY -->
                <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                    <label class="form-label" for="birthday">
                        {{"CUSTOMER.BIRTHDAY" | translate}}
                    </label>
                    <input class="form-control" type="date" id="birthday" formControlName="birthday">
                </div>

                <!-- JOB -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                    <label class="form-label" for="job">
                        {{"CUSTOMER.JOB" | translate}}
                    </label>
                    <input class="form-control" type="text" id="job" formControlName="job">
                </div>

                <!-- DOCTOR -->
                <div class="col-12 col-sm-6 col-md-5 col-lg-4">
                    <label class="form-label" for="doctor">
                        {{"CUSTOMER.DOCTOR" | translate}}
                    </label>
                    <input class="form-control" type="text" id="doctor" formControlName="doctor">
                </div>

                <!-- SPECIALIST -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <label class="form-label" for="specialist">
                        {{"CUSTOMER.SPECIALIST" | translate}}
                    </label>
                    <input class="form-control" type="text" id="specialist" formControlName="specialist">
                </div>

            </ng-container>

            <div *ngIf="customerRecordsForm.invalid && submitted" class="col-12 text-center mt-2">
                <span style="font-size: small; color: red;">
                    {{"CUSTOMER.MISSINGFIELDS" | translate}}
                </span>
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-12 text-center">
                <button class="btn btn-outline-dark" (click)="save()">
                    {{"CUSTOMER.SAVE" | translate}}
                </button>
            </div>
        </div>
    </ng-container>
</div>

<div class="container-fluid mt-4" style="min-width: 350px; max-width: 1400px;">
    <div class="row justify-content-center">
        <div class="col-12">
            <mat-tab-group (selectedIndexChange)="onTabChange($event)" #tabComponent>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <i class="bi bi-geo-alt-fill me-4 iconSize"></i>
                        <span class="tabTitle">
                            {{'CUSTOMER.ADDRESSES' | translate}}
                        </span>
                        <i class="bi bi-plus-circle ms-4 iconSize addButton" (click)="addAddress()"></i>
                    </ng-template>
                    <ng-template matTabContent>
                        <app-address-list [addressList]="addressList" [countriesList]="countriesList"
                            [idcustomer]="idcustomer" (refreshAddressList)="getTabFiles(0)" #addressComponent></app-address-list>
                    </ng-template>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <i class="bi bi-building-gear iconSize me-4"></i>
                        <span class="tabTitle">
                            {{'CUSTOMER.TAXSYSTEM' | translate}}
                        </span>
                    </ng-template>
                    <ng-template matTabContent>
                        <app-organization [organizationTax]="organizationTax"></app-organization>
                    </ng-template>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <i class="bi bi-cash-coin iconSize me-4"></i>
                        <span class="tabTitle">
                            {{'CUSTOMER.PAYMENTDATA' | translate}}
                        </span>
                    </ng-template>
                    <ng-template matTabContent>
                        <app-payment-data></app-payment-data>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>