<div class="container-fluid p-2 p-md-3 p-lg-4" style="min-width: 375px; max-width: 1800px;">

    <div *ngIf="manage_sn == false" class="row justify-content-center align-items-center">
        <div class="col-12 text-center">
            <span style="color: gray; font-size: small;">
                I valori di imponibile e prezzo presenti in ogni riga sono relativi alla singola unità del prodotto
            </span>
        </div>
    </div>

    <form [formGroup]="storageForm">
        <!-- <div class="row justify-content-center align-items-center mb-2">
            <div class="col-12 text-center">
                <span style="font-size: x-large; font-weight: bold;">
                    MAGAZZINO ARTICOLO
                </span>
            </div>
        </div> -->

        <!-- GROUP ACTION
        <div class="row justify-content-center align-items-center pb-2" style="border-bottom: 1px solid lightgray;">
             CHECKBOX 
            <div class="checkboxPadding col-auto me-2 me-md-4">
                <div class="form-check">
                    <input class="form-check-input group-checkbox" type="checkbox" formControlName="groupAction"
                        id="groupAction" (change)="formLogicGroup()">
                </div>
            </div>

            <div class="articleColumn col-10 col-sm-11">
                <span class="me-2" style="font-weight: bold;">
                    Azione di Gruppo
                </span>
                <i class="me-2 me-md-4 bi bi-info-circle"
                    matTooltip="L'azione di gruppo è da considerarsi su tutti gli articoli selezionati singolarmente"></i>
                <button class="btn btn-sm btn-outline-danger" (click)="deletePopUp([])">
                    Elimina
                </button>
            </div>
        </div> -->

        <!-- ARTICLES -->
        <ng-container formArrayName="articles">
            <div *ngFor="let item of articles.controls; let i = index" [formGroupName]="i"
                class="row justify-content-center align-items-group mt-2 pb-2"
                style="border-bottom: 1px solid lightgray;">
                <!-- CHECKBOX -->
                <!-- <div class="checkboxPadding col-auto me-2 me-md-4">
                    <div class="form-check" style="margin-top: 0.5rem;">
                        <input class="form-check-input" type="checkbox" formControlName="action" id="action-{{i}}"
                            (change)="formLogic()">
                    </div>
                </div>

                <div class="col-10 col-sm-11">
                    <div class="row justify-content-start align-items-center"> -->

                <!-- UNITA' -->
                <div class="articleColumn col-3 col-sm-2 col-lg-1">
                    <label class="form-label" for="quantity-{{i}}">
                        Unità
                    </label>
                    <input name="quantity-{{i}}" id="quantity-{{i}}" class="form-control" formControlName="quantity">
                </div>

                <div class="articleColumn col-3 col-sm-2 col-md-1" style="margin-top: 1.6rem;">
                    <i class="bi bi-pencil iconMargin iconSize" (click)="modifyPopUp(item.getRawValue())"></i>
                    <i class="bi bi-trash iconSize" style="color: red;" (click)="deletePopUp(item.getRawValue())"></i>
                </div>

                <!-- SERIAL NUMBER ON SMALL SCREEN -->
                <div class="col-6 d-md-none articleColumn">
                    <label class="form-label" for="serialnumber-{{i}}">
                        SN
                    </label>
                    <input class="form-control" type="text" name="serialnumber-{{i}}" id="serialnumber-{{i}}"
                        formControlName="serialnumber">
                </div>

                <div class="articleColumn col-5 col-sm-4 col-xl-2 pe-1">
                    <label class="form-label" for="taxablepurchase-{{i}}">
                        <span *ngIf="!isSmall; else smallBlockA">
                            Imponibile Acquisto
                        </span>
                        <ng-template #smallBlockA>
                            <span>
                                Imp. Acq.
                            </span>
                        </ng-template>
                        <i class="bi bi-info-circle" matTooltip="Imponibile di acquisto relativo alla singola unità"
                            style="font-size: small;"></i>
                    </label>
                    <div class="input-group">
                        <input class="form-control" type="text" name="taxablepurchase-{{i}}" id="taxablepurchase-{{i}}"
                            formControlName="taxablepurchase">
                        <span class="input-group-text" id="taxablepurchase-{{i}}">€</span>
                    </div>
                </div>

                <div class="articleColumn col-3 col-sm-2 col-xl-1 ps-0">
                    <label class="form-label" for="vatpurchase-{{i}}">
                        IVA
                    </label>
                    <div class="input-group">
                        <input class="form-control vatPadding" type="text" name="vatpurchase-{{i}}"
                            id="vatpurchase-{{i}}" formControlName="vatpurchase">
                        <span class="input-group-text vatPadding" id="vatpurchase-{{i}}">%</span>
                    </div>
                </div>


                <div class="articleColumn col-4 col-md-3 col-lg-2">
                    <label class="form-label" for="pricesale-{{i}}">
                        <span *ngIf="!isSmall; else smallBlockPA">
                            Prezzo Acquisto
                        </span>
                        <ng-template #smallBlockPA>
                            <span>
                                Prz. Acq.
                            </span>
                        </ng-template>
                    </label>
                    <div class="input-group">
                        <input class="form-control" type="text" name="pricesale-{{i}}" id="pricesale-{{i}}"
                            formControlName="pricesale">
                        <span class="input-group-text" id="pricesale-{{i}}">€</span>
                    </div>
                </div>

                <div class="articleColumn col-4 col-md-3 col-lg-2">
                    <label class="form-label" for="stored_qnt-{{i}}">
                        <span *ngIf="!isSmall; else smallBlockPA">
                            Quantità Magazzino
                        </span>
                        <ng-template #smallBlockPA>
                            <span>
                                Qnt. Mag.
                            </span>
                        </ng-template>
                    </label>
                    <div class="input-group">
                        <input class="form-control" type="text" name="stored_qnt-{{i}}" id="stored_qnt-{{i}}"
                            formControlName="stored_qnt">
                        <span class="input-group-text" id="stored_qnt-{{i}}">€</span>
                    </div>
                </div>

                <!-- BREAK COLUMN -->
                <div *ngIf="manage_qnt && manage_sn" class="col-12"></div>

                <!-- SERIAL NUMBER MD SCREEN -->
                <div class="articleColumn col-5 col-md-3 col-lg-2 d-none d-md-inline">
                    <label class="form-label" for="serialnumber-{{i}}">
                        SN
                    </label>
                    <input class="form-control" type="text" name="serialnumber-{{i}}" id="serialnumber-{{i}}"
                        formControlName="serialnumber">
                </div>

                <!-- TAXABLE RECOMMENDED -->
                <div class="articleColumn col-5 col-sm-4 col-xl-2 pe-1">
                    <label class="form-label" for="taxablerecommended-{{i}}">
                        <span *ngIf="!isSmall; else smallBlockC">
                            Imponibile Consigliato
                        </span>
                        <ng-template #smallBlockC>
                            <span>
                                Imp. Cons.
                            </span>
                        </ng-template>
                        <i class="bi bi-info-circle" matTooltip="Imponibile consigliato relativo alla singola unità"
                            style="font-size: small;"></i>
                    </label>
                    <div class="input-group">
                        <input class="form-control" type="text" name="taxablerecommended-{{i}}"
                            id="taxablerecommended-{{i}}" formControlName="taxablerecommended">
                        <span class="input-group-text" id="taxablerecommended-{{i}}">€</span>
                    </div>
                </div>

                <!-- VAT RECOMMENDED -->
                <div class="articleColumn col-3 col-sm-2 col-xl-1 ps-0">
                    <label class="form-label" for="vatrecommended-{{i}}">
                        IVA
                    </label>
                    <div class="input-group">
                        <input class="form-control vatPadding" type="text" name="vatrecommended-{{i}}"
                            id="vatrecommended-{{i}}" formControlName="vatrecommended">
                        <span class="input-group-text vatPadding" id="vatrecommended-{{i}}">%</span>
                    </div>
                </div>

                <!-- PRICE RECOMMENDED -->
                <div class="articleColumn col-4 col-md-3 col-lg-2">
                    <label class="form-label" for="pricerecommended-{{i}}">
                        <span *ngIf="!isSmall; else smallBlockPC">
                            Prezzo Consigliato
                        </span>
                        <ng-template #smallBlockPC>
                            <span>
                                Prz. Cons.
                            </span>
                        </ng-template>
                    </label>
                    <div class="input-group">
                        <input class="form-control" type="text" name="pricerecommended-{{i}}"
                            id="pricerecommended-{{i}}" formControlName="pricerecommended">
                        <span class="input-group-text" id="pricerecommended-{{i}}">€</span>
                    </div>
                </div>

                <div class="articleColumn col-4 col-md-3 col-lg-2">
                    <label class="form-label" for="available_qnt-{{i}}">
                        <span *ngIf="!isSmall; else smallBlockPA">
                            Quantità Disponibile
                        </span>
                        <ng-template #smallBlockPA>
                            <span>
                                Qnt. Disp.
                            </span>
                        </ng-template>
                    </label>
                    <div class="input-group">
                        <input class="form-control" type="text" name="available_qnt-{{i}}" id="available_qnt-{{i}}"
                            formControlName="available_qnt">
                        <span class="input-group-text" id="available_qnt-{{i}}">€</span>
                    </div>
                </div>
                <!-- </div>
                </div> -->
            </div>
        </ng-container>

    </form>
</div>