<div class="container-fluid p-2 p-md-3 p-lg-4" style="min-width: 1200px; max-width: 2000px;">
    <div class="row justify-content-center mb-3">
        <div [formGroup]="filterForm" class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 text-center">
            <label class="form-label" for="serialnumber">
                {{"ARTICLE.ARTICLESTORAGE.SEARCHSERIALNUMBER" | translate}}
            </label>
            <div class="input-group">
                <input class="form-control" type="text" id="serialnumber" formControlName="serialnumber"
                    [class.is-invalid]="filterForm.invalid && submitted">
                <button class="btn btn-outline-dark" (click)="filter()">
                    {{"ARTICLE.ARTICLESTORAGE.FILTER" | translate}}
                </button>
            </div>
        </div>
        <div *ngIf="filterForm.invalid && submitted" class="col-12 text-center mt-1">
            <span style="font-size: small; color: red;">
                {{"ARTICLE.ARTICLESTORAGE.INVALIDSERIALNUMBER" | translate}}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <!-- PAGINATOR -->
            <div class="row justify-content-center p-3" style="border: 1px solid lightgray; background-color: white;">
                <div class="d-none d-md-inline col-4 text-start">
                    <span style="font-size: small;">
                        {{"ARTICLE.ARTICLESTORAGE.TOTALRESULTS" | translate}}:
                        {{totalResults}}
                    </span>
                </div>

                <div class="d-none d-md-inline col-4 text-center">
                    <span style="font-size: small;">
                        {{"ARTICLE.ARTICLESTORAGE.RESULTPERPAGE" | translate}}:
                        {{itemsPerPage}}
                    </span>
                </div>

                <div class="col-12 col-md-4 text-end">
                    <span>
                        <button [disabled]="currentPage == 1" class="btn btn-link me-2 p-0" (click)="prevPage()">
                            <i class="bi bi-caret-left"></i>
                        </button>
                        <span style="font-size: small;">
                            {{"ARTICLE.ARTICLESTORAGE.PAGE" | translate}} {{currentPage}} 
                            {{"ARTICLE.ARTICLESTORAGE.OF" | translate}} {{totalPages}}
                        </span>
                        <button [disabled]="currentPage == totalPages" class="btn btn-link ms-2 p-0"
                            (click)="nextPage()">
                            <i class="bi bi-caret-right"></i>
                        </button>
                    </span>
                </div>
            </div>


            <div class="row">
                <div class="col-12 p-0">
                    <table mat-table [dataSource]="dataSource" class="mat-table" style="width: 100%;">

                        <!-- Serial Number -->
                        <ng-container matColumnDef="serialnumber">
                            <th mat-header-cell *matHeaderCellDef>
                                {{"ARTICLE.ARTICLESTORAGE.SERIALNUMBER" | translate}}
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-center">{{ element.serialnumber }}</td>
                        </ng-container>

                        <!-- Unità Magazzino -->
                        <ng-container matColumnDef="unit_storage">
                            <th mat-header-cell *matHeaderCellDef>
                                {{"ARTICLE.ARTICLESTORAGE.STORAGEUNIT" | translate}}
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-center">{{ element.unit_storage }}</td>
                        </ng-container>

                        <!-- Unità Disponibile -->
                        <ng-container matColumnDef="unit_available">
                            <th mat-header-cell *matHeaderCellDef>
                                {{"ARTICLE.ARTICLESTORAGE.AVAILABLEUNIT" | translate}}
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-center">{{ element.unit_available }}</td>
                        </ng-container>

                        <!-- Quantità Magazzino -->
                        <ng-container matColumnDef="qnt_storage">
                            <th mat-header-cell *matHeaderCellDef>
                                {{"ARTICLE.ARTICLESTORAGE.STORAGEQNT" | translate}}
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-center">{{ element.qnt_storage }}</td>
                        </ng-container>

                        <!-- Quantità Disponibile -->
                        <ng-container matColumnDef="qnt_available">
                            <th mat-header-cell *matHeaderCellDef>
                                {{"ARTICLE.ARTICLESTORAGE.AVAILABLEQNT" | translate}}
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-center">{{ element.qnt_available }}</td>
                        </ng-container>

                        <!-- Imponibile Acquisto Unità -->
                        <ng-container matColumnDef="unit_taxablepurchase">
                            <th mat-header-cell *matHeaderCellDef>
                                {{"ARTICLE.ARTICLESTORAGE.TAXABLEPURCHASEUNIT" | translate}}
                            </th>
                            <td mat-cell *matCellDef="let element">{{ element.unit_taxablepurchase }} €</td>
                        </ng-container>

                        <!-- Imponibile Consigliato Unità -->
                        <ng-container matColumnDef="unit_taxablerecommended">
                            <th mat-header-cell *matHeaderCellDef>
                                {{"ARTICLE.ARTICLESTORAGE.TAXABLERECOMMENDEDUNIT" | translate}}
                            </th>
                            <td mat-cell *matCellDef="let element">{{ element.unit_taxablerecommended }} €</td>
                        </ng-container>

                        <!-- Imponibile Acquisto Quantità -->
                        <ng-container matColumnDef="qnt_taxablepurchase">
                            <th mat-header-cell *matHeaderCellDef>
                                {{"ARTICLE.ARTICLESTORAGE.TAXABLEPURCHASEQNT" | translate}}
                            </th>
                            <td mat-cell *matCellDef="let element">{{ element.qnt_taxablepurchase }} €</td>
                        </ng-container>

                        <!-- Imponibile Consigliato Quantità -->
                        <ng-container matColumnDef="qnt_taxablerecommended">
                            <th mat-header-cell *matHeaderCellDef>
                                {{"ARTICLE.ARTICLESTORAGE.TAXABLERECOMMENDEDQNT" | translate}}
                            </th>
                            <td mat-cell *matCellDef="let element">{{ element.qnt_taxablerecommended }} €</td>
                        </ng-container>

                        <!-- IVA Acquisto -->
                        <ng-container matColumnDef="vatpurchase">
                            <th mat-header-cell *matHeaderCellDef>
                                {{"ARTICLE.ARTICLESTORAGE.VATPURCHASE" | translate}}
                            </th>
                            <td mat-cell *matCellDef="let element">{{ element.vatpurchase }} %</td>
                        </ng-container>

                        <!-- IVA Consigliata -->
                        <ng-container matColumnDef="vatrecommended">
                            <th mat-header-cell *matHeaderCellDef>
                                {{"ARTICLE.ARTICLESTORAGE.VATRECOMMENDED" | translate}}
                            </th>
                            <td mat-cell *matCellDef="let element">{{ element.vatrecommended }} %</td>
                        </ng-container>

                        <!-- Azioni -->
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef class="text-center" style="width: 100px;">
                                {{"ARTICLE.ARTICLESTORAGE.ACTIONS" | translate}}
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-6 text-center">
                                        <i class="bi bi-pencil actionIcon" (click)="modifyPopUp(element)"></i>
                                    </div>
                                    <div class="col-6 text-center">
                                        <i class="bi bi-trash actionIcon" style="color: red;"
                                            (click)="deletePopUp(element)"></i>
                                    </div>
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>