<div class="container-fluid" style="max-width: 1000px; min-width: 350px;">
    <div class="row justify-content-center align-items-center pt-4">
        <div class="col-auto ps-3 pe-3 pt-1 pb-1 titleColumn">
            <span class="title">
                {{"CUSTOMER.INSERTCUSTOMER" | translate}}
            </span>
        </div>
    </div>

    <ng-container [formGroup]="customerForm">
        <div class="row justify-content-center mt-2">
            <!-- NATURAL PERSON -->
            <div class="col-12 form-check ps-2">
                <label class="form-check-label ms-2" for="naturalPerson">
                    {{"CUSTOMER.NATURALPERSON" | translate}}
                </label>
                <input class="form-check-input mt-2 ms-1" type="checkbox" id="naturalPerson"
                    formControlName="naturalPerson">
            </div>

            <!-- NAME -->
            <div class="col-12 col-sm-6">
                <label class="form-label" for="name">
                    {{"CUSTOMER.NAME" | translate}}
                </label>
                <input class="form-control" type="text" id="name" formControlName="name"
                    [class.is-invalid]="customerForm.get('name')?.invalid && submitted">
            </div>

            <!-- SURNAME -->
            <div class="col-12 col-sm-6">
                <label class="form-label" for="surname">
                    {{"CUSTOMER.SURNAME" | translate}}
                </label>
                <input class="form-control" type="text" id="surname" formControlName="surname"
                    [class.is-invalid]="customerForm.get('surname')?.invalid && submitted">
            </div>

            <!-- BUSINESSNAME -->
            <div class="col-12">
                <label class="form-label" for="businessName">
                    {{"CUSTOMER.BUSINESSNAME" | translate}}
                </label>
                <input class="form-control" type="text" id="businessName" formControlName="businessName"
                    [class.is-invalid]="customerForm.get('businessName')?.invalid && submitted">
            </div>

            <div *ngIf="customerForm.invalid && submitted" class="col-12 text-center mt-2">
                <span style="font-size: small; color: red;">
                    {{"CUSTOMER.MISSINGFIELDS" | translate}}
                </span>
            </div>
        </div>

        <div class="row mt-4 mb-3" style="position: relative; border-bottom: 1px solid lightgray;">
            <!-- <div>
                <i class="bi bi-caret-down-fill" style="position: absolute; right: -1px; top: -8px;"></i>
            </div> -->
        </div>

        <div class="row justify-content-start align-items-center additionalFields" appInViewport>
            <!-- SAME CODE -->
            <div class="col-12 ps-2 form-check">
                <label class="form-check-label ms-2" for="sameCode">
                    {{"CUSTOMER.SAMECODE" | translate}}
                </label>
                <input class="form-check-input mt-2 ms-1" type="checkbox" id="sameCode" formControlName="sameCode"
                    style="height: 20px; width: 20px;">
            </div>

            <!-- FISCAL CODE -->
            <div class="col-12 col-sm-8 col-md-4">
                <label class="form-label" for="fiscalcode">
                    {{"CUSTOMER.FISCALCODE" | translate}}
                </label>
                <input class="form-control" type="text" id="fiscalcode" formControlName="fiscalcode">
            </div>

            <!-- VAT -->
            <div class="col-12 col-sm-8 col-md-5">
                <label class="form-label" for="vat">
                    {{"CUSTOMER.VAT" | translate}}
                </label>
                <input class="form-control" type="text" id="vat" formControlName="vat">
            </div>

            <!-- COUNTRY -->
            <div class="col-12 col-sm-4 col-md-3">
                <label class="form-label" for="country">
                    {{"CUSTOMER.COUNTRY" | translate}}
                </label>
                <select class="form-select" id="country" formControlName="country">
                    <option [ngValue]="null">
                        --
                    </option>
                    <option *ngFor="let country of countriesList" [ngValue]="country.id">
                        {{country.common_name}}
                    </option>
                </select>
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-12 text-center">
                <button class="btn btn-outline-dark" (click)="addCustomer()">
                    {{"CUSTOMER.ADD" | translate}}
                </button>
            </div>
        </div>
    </ng-container>
</div>