<div class="container-fluid" style="position: relative; min-width: 350px;">
    <div class="row justify-content-center align-items-center pt-4">
        <div class="col-auto text-center ps-3 pe-3 pt-1 pb-1 titleColumn">
            <span class="title">
                {{"PAYMENTCONDITIONS.PAYMENTCONDITIONS" | translate}}
            </span>
        </div>
    </div>

    <app-payment-table (modifyPayment)="duplicatePopup($event)" (deletePayment)="deletePopup($event)"
        [dataSource]="dataSource" (overviewPayment)="overviewPopup($event)"></app-payment-table>

    <button class="btn btn-outline-primary stickyButton btn-circle sticky-footer"
        (click)="duplicatePopup()">
        <i class="bi bi-plus-lg"></i>
    </button>
</div>