.title {
    font-size: xx-large;
    font-weight: bold;
    color: white;
}

.titleColumn {
    background-color: #002D5D;
    border-radius: 18px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

