<div class="container-fluid pe-0 ps-0 pb-2">
    <div *ngIf="customer; else noCustomerBlock" class="row justify-content-center align-items-center">
        <div class="col-12">
            <span class="title me-2">
                {{'INVOICE.INFO.CUSTOMERCOMPONENT.TYPE' | translate}}:
            </span>
            <span class="content">
                <ng-container *ngIf="customer.naturalPerson == 1">
                    {{'INVOICE.INFO.CUSTOMERCOMPONENT.PERSON' | translate}}
                </ng-container>
                <ng-container *ngIf="customer.naturalPerson == 0">
                    {{'INVOICE.INFO.CUSTOMERCOMPONENT.COMPANY' | translate}}
                </ng-container>
            </span>
        </div>

        <div class="col-12">
            <span class="title me-2">
                {{'INVOICE.INFO.CUSTOMERCOMPONENT.NAME' | translate}}:
            </span>
            <span class="content">
                {{customer.denomination}}
            </span>
        </div>

        <div class="col-12 col-sm-6">
            <span class="title me-2">
                {{'INVOICE.INFO.CUSTOMERCOMPONENT.FISCALCODE' | translate}}:
            </span>
            <span class="content">
                {{customer.fiscalcode}}
            </span>
        </div>

        <div class="col-12 col-sm-6">
            <span class="title me-2">
                {{'INVOICE.INFO.CUSTOMERCOMPONENT.VAT' | translate}}:
            </span>
            <span class="content">
                {{customer.vat}}
            </span>
        </div>

        <div class="col-12 col-sm-8 col-md-6">
            <span class="title me-2">
                {{'INVOICE.INFO.CUSTOMERCOMPONENT.ADDRESS' | translate}}:
            </span>
            <span class="content">
                {{customer.obj_location?.street}}
            </span>
        </div>

        <div class="col-12 col-sm-4 col-md-3">
            <span *ngIf="!isSmallScreen; else numberBlock" class="title me-2">
                {{'INVOICE.INFO.CUSTOMERCOMPONENT.NUMBER' | translate}}:
            </span>
            <ng-template #numberBlock>
                <span class="title me-2">
                    {{'INVOICE.INFO.CUSTOMERCOMPONENT.NUMBERSHORT' | translate}}:
                </span>
            </ng-template>
            
            <span class="content">
                {{customer.obj_location?.street_number}}
            </span>
        </div>

        <div class="col-12 col-sm-6 col-md-3">
            <span class="title me-2">
                {{'INVOICE.INFO.CUSTOMERCOMPONENT.POSTALCODE' | translate}}:
            </span>
            <span class="content">
                {{customer.obj_location?.postalcode}}
            </span>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <span class="title me-2">
                {{'INVOICE.INFO.CUSTOMERCOMPONENT.CITY' | translate}}:
            </span>
            <span class="content">
                {{customer.obj_location?.city || customer.obj_location?.city_it?.name}}
            </span>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <span class="title me-2">
                {{'INVOICE.INFO.CUSTOMERCOMPONENT.PROVINCE' | translate}}:
            </span>
            <span class="content">
                {{customer.obj_location?.city_it?.province_name}}
            </span>
        </div>


        <div class="col-12 col-sm-6 col-lg-3">
            <span class="title me-2">
                {{'INVOICE.INFO.CUSTOMERCOMPONENT.REGION' | translate}}:
            </span>
            <span class="content">
                {{customer.obj_location?.city || customer.obj_location?.city_it?.name}}
            </span>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <span class="title me-2">
                {{'INVOICE.INFO.CUSTOMERCOMPONENT.COUNTRY' | translate}}:
            </span>
            <span class="content">
                {{customer.obj_location?.country?.name}}
            </span>
        </div>

        <div class="col-12 col-sm-6">
            <span class="title me-2">
                {{'INVOICE.INFO.CUSTOMERCOMPONENT.PEC' | translate}}:
            </span>
            <span class="content">
                {{customer.pec}}
            </span>
        </div>

        <div class="col-12 col-sm-6">
            <span class="title me-2">
                {{'INVOICE.INFO.CUSTOMERCOMPONENT.SDI' | translate}}:
            </span>
            <span class="content">
                {{customer.sdi}}
            </span>
        </div>
    </div>
    <ng-template #noCustomerBlock>
        <div class="row row justify-content-center align-items-center mt-2">
            <div class="col-12 text-center">
                <span style="color: gray; font-style: italic; font-weight: 150;">
                    {{'INVOICE.INFO.NOCUSTOMERDATA' | translate}}
                </span>
            </div>
        </div>
    </ng-template>
</div>