.title {
    font-size: xx-large;
    font-weight: bold;
}

.subtitle {
    font-weight: bold;
}

.addBorder {
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
    border-bottom: 1px solid lightgray;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.btn-outline-dark {
    color: #002D5D;
    border-color: #002D5D;
}

.btn-outline-dark:hover {
    background-color: #002D5D;
    color: white;
}

.element {
    padding-top: 0.4rem;

    @media screen and (min-width: 768px) {
        padding-top: 0.6rem;
    }

    @media screen and (min-width: 992px) {
        padding-top: 1rem;
    }
}

.form-label {
    margin-bottom: 0.3rem;
}