.form-label {
    font-size: small;
    font-weight: 800;
    margin-top: 0.3rem;
    margin-bottom: 0rem;
}

input,
textarea,
select {
    font-weight: 150;
}

.columnElement {
    @media screen and (min-width: 768px) {
        padding-left: 0.1rem;
        padding-right: 0.1rem;
    }
}

.umElement {
    @media screen and (min-width: 768px) {
        padding-left: 0.75rem;
        padding-right: 0.1rem;
    }

    @media screen and (min-width: 992px) {
        padding-left: 0.1rem;
        padding-right: 0.1rem;
    }
}

.descriptionElement {
    padding-left: 0.75rem;
    padding-right: 0.75rem;

    @media screen and (min-width: 1200px) {
        padding-left: 0;
        padding-right: 0.1rem;
    }
}

.vatElement {
    padding-left: 0.75rem;
    padding-right: 0.75rem;

    @media screen and (min-width: 768px) {
        padding-left: 0.1rem;
    }

    @media screen and (min-width: 992px) {
        padding-left: 0rem;
    }
}

.vatField {
    padding-left: 0.75rem;
    padding-right: 1.6rem;

    @media screen and (min-width: 992px) {
        padding-left: 0.2rem;
    }

    @media screen and (min-width: 1200px) {
        padding-left: 0.5rem;
    }
}

.columnTitle {
    font-size: medium;
    font-weight: bold;
}

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    background-color: #002D5D;
    border-color: #002D5D;
    scale: 1;
    transition: scale 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.btn-circle:hover {
    border-color: green;
    background-color: green;
    scale: 1.2;
}

.btn-outline-dark {
    color: #002D5D;
    border-color: #002D5D;
}

.btn-outline-dark:hover {
    background-color: #002D5D;
    color: white;
}

.drag-container {
    border: 1px dashed #ccc;
    padding: 10px;
    border-radius: 5px;
}

.cdk-drag-placeholder {
    opacity: 0.9;
    filter: blur(3px);
    transition: filter 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

[cdkDrag] {
    transition: background-color 0.2s ease filter 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

[cdkDrag]:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.bi-trash, .bi-caret-down-fill, .bi-copy {
    cursor: pointer;
}

.bi-arrows-move, .drag-handle {
    cursor: grab;
}

.bi {
    font-size: 20px;
}

.additionalInfo {
    transform: translateY(-60px);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.additionalInfo.visible {
    transform: translateY(0px);
    opacity: 1;
}