<div class="container-fluid ps-1 pe-1 pb-2 ps-md-2 pe-md-2 ps-xl-3 pe-xl-3">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-6">
            <span class="title me-2">
                {{'INVOICE.INFO.HEADINGCOMPONENT.TYPE' | translate}}:
            </span>
            <span class="content">
                {{payment?.type}}
            </span>
        </div>

        <div class="col-12 col-md-6">
            <span class="title me-2">
                {{'INVOICE.INFO.HEADINGCOMPONENT.FORMAT' | translate}}:
            </span>
            <span class="content">
                {{payment?.condition}}
            </span>
        </div>

        <div *ngFor="let line of payment?.lines" class="row">
            <div class="col-12 col-md-6">
                <span class="title me-2">
                    {{'INVOICE.INFO.HEADINGCOMPONENT.NUMBER' | translate}}:
                </span>
                <span class="content">
                    {{line?.type}}
                </span>
            </div>

            <div class="col-12 col-md-6">
                <span class="title me-2">
                    {{'INVOICE.INFO.HEADINGCOMPONENT.CONFORMITY' | translate}}:
                </span>
                <span class="content">
                    {{line?.deadline}}
                </span>
            </div>

            <div class="col-12 col-md-6">
                <span class="title me-2">
                    {{'INVOICE.INFO.HEADINGCOMPONENT.DATE' | translate}}:
                </span>
                <span class="content">
                    {{line?.amount}}
                </span>
            </div>
        </div>
    </div>
</div>