<div style="min-width: 600px;">
    <h2 mat-dialog-title class="bg-primary bg-gradient text-light">
        {{"SYSTEM.SYSTEMMANAGEMENT.WARRANTYPOPUP.REPLY" | translate}}
    </h2>

    <mat-dialog-content class="pt-2 pb-2 mt-2">
        <div class="container-fluid">
            <div [formGroup]="warrantyForm" class="row align-items-center">
                <!-- CHECKBOX 1 -->
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="customer_modification"
                            formControlName="customer_modification">
                        <label class="form-check-label" for="customer_modification"
                            style="color: black; font-weight: bold;">
                            {{"SYSTEM.SYSTEMMANAGEMENT.WARRANTYPOPUP.REQUESTMODIFICATION" | translate}}
                        </label>
                    </div>
                </div>
                <!-- TEXTAREA 1 -->
                <div class="col-12 mt-2">
                    <textarea class="form-control" placeholder="Leave a comment here" id="modification_text"
                        formControlName="modification_text"></textarea>
                    <label for="modification_text" style="font-size: small; color: lightgrey;">
                        {{"SYSTEM.SYSTEMMANAGEMENT.WARRANTYPOPUP.ATTENTION" | translate}}
                    </label>
                </div>

                <div class="col-12 mt-5" style="border-bottom: 1px solid lightgray;"></div>

                <!-- INVERTER TABLE -->
                <div class="col-12 col-md-10 col-lg-8 col-xl-6 mt-2" style="max-width: 550px;">
                    <span style="color: lightgray;">
                        Inverter List
                    </span>
                    <table class="table table-bordered table-striped table-hover mb-0">
                        <thead class="table-light">
                          <tr>
                            <th scope="col">Serial Number (SN)</th>
                            <th scope="col">Date</th>
                            <th scope="col">Limit Extension</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let element of systemInfo?.listInverter">
                            <td style="padding: 0 0 0 5px;">{{ element.serialnumber }}</td>
                            <td style="padding: 0 0 0 5px;">{{ element.date_inverter }}</td>
                            <td style="padding: 0 0 0 5px;">{{ element.warranty_limit }}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>

                <!-- EXTEND WARRANTY -->
                <div class="col-12 mt-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="extend_warranty"
                            formControlName="extend_warranty">
                        <label class="form-check-label" for="extend_warranty" style="color: black; font-weight: bold;">
                            {{"SYSTEM.SYSTEMMANAGEMENT.WARRANTYPOPUP.EXTENDWARRANTY" | translate}}
                            <span class="ms-2" *ngIf="systemInfo?.check_warrantyextended == 2"
                                style="color: red; font-size: small;">
                                &#40;impossibile estendere garanzia poichè fuori range massimo&#41;
                            </span>
                        </label>
                    </div>
                </div>
                <!-- TEXTAREA 2 -->
                <div *ngIf="systemInfo?.check_warrantyextended != 2" class="col-12 mt-2">
                    <textarea class="form-control" placeholder="Leave a comment here" id="extend_text"
                        formControlName="extend_text"></textarea>
                    <label for="extend_text" style="font-size: small; color: lightgrey;">
                        {{"SYSTEM.SYSTEMMANAGEMENT.WARRANTYPOPUP.ATTENTION" | translate}}
                    </label>
                </div>

                <!-- DON'T EXTEND WARRANTY -->
                <div class="col-12 mt-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="refuse_warranty"
                            formControlName="refuse_warranty">
                        <label class="form-check-label" for="refuse_warranty" style="color: black; font-weight: bold;">
                            {{"SYSTEM.SYSTEMMANAGEMENT.WARRANTYPOPUP.REFUSEWARRANTY" | translate}}
                        </label>
                    </div>
                </div>
                <!-- TEXTAREA 3 -->
                <div class="col-12 mt-2">
                    <textarea class="form-control" placeholder="Leave a comment here" id="refuse_text"
                        formControlName="refuse_text"></textarea>
                    <label for="refuse_text" style="font-size: small; color: lightgrey;">
                        {{"SYSTEM.SYSTEMMANAGEMENT.WARRANTYPOPUP.ATTENTION" | translate}}
                    </label>
                </div>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions class="justify-content-end">
        <button class="btn btn-outline-success me-2" (click)="onConfirm()">
            {{"SYSTEM.SYSTEMMANAGEMENT.WARRANTYPOPUP.SAVE" | translate}}
        </button>
        <button class="btn btn-outline-danger" (click)="onCancel()">
            {{"SYSTEM.SYSTEMMANAGEMENT.WARRANTYPOPUP.CANCEL" | translate}}
        </button>
    </mat-dialog-actions>
</div>