<div style="min-width: 100%; min-height: 100vh; background-color: whitesmoke;">
    <div class="container-fluid" style="max-width: 1300px; min-width: 350px; padding-bottom: 10rem;">
        <div class="row justify-content-center align-items-center mt-2 mb-4" style="position: relative;">
            <div class="col-auto ps-3 pe-3 pt-1 pb-1 text-center titleColumn">
                <span class="title">
                    {{'INVOICE.INFO.INVOICE' | translate}}
                </span>
            </div>
            <div style="position: absolute; top: 10px; left: 20px;">
                <button class="btn btn-outline-dark" (click)="goBack()">
                    <i class="bi bi-arrow-left"></i>
                </button>
            </div>
        </div>

        <!-- CUSTOMER INFO -->
        <div class="row justify-content-start align-items-center mb-4">
            <div class="col-12">
                <div class="cardElement pt-1 pb-2 ps-3 pe-3 ps-md-4 pe-md-4">
                    <div class="row justify-content-center">
                        <div class="selectCustomer col-12">
                            {{'INVOICE.INFO.CUSTOMERDATA' | translate}}
                            <span class="ms-3 me-2">
                                <i class="bi bi-search me-3 iconField search" (click)="selectCustomer()"
                                    [matTooltip]="'INVOICE.INFO.SEARCHCUSTOMER' | translate"></i>
                                <i *ngIf="customer" class="bi bi-file-text me-3 iconField file"
                                    (click)="modifyCustomerData()"
                                    [matTooltip]="'INVOICE.INFO.MODIFYCUSTOMER' | translate"></i>
                                <i *ngIf="customer" class="bi bi-x-circle me-3 iconField xCircle"
                                    (click)="removeCustomer()"
                                    [matTooltip]="'INVOICE.INFO.DELETECUSTOMERINFO' | translate"></i>
                            </span>
                        </div>
                        <div class="col-12 ps-3 pe-3">
                            <app-customer-data [customer]="customer"></app-customer-data>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- HEADING -->
        <div class="row justify-content-start align-items-center mb-4">
            <div class="col-12">
                <div class="cardElement pt-1 pb-2 ps-3 pe-3 ps-md-4 pe-md-4">
                    <div class="row">
                        <div class="selectCustomer col-12">
                            {{'INVOICE.INFO.HEADING' | translate}}
                        </div>
                        <div class="col-12 ps-0 pe-0">
                            <app-heading [heading]="heading" [typeList]="typeList" [formatList]="formatList"
                                [currencyList]="currencyList"></app-heading>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- BODY -->
        <div class="row justify-content-start align-items-center mb-4">
            <div class="col-12">
                <div class="cardElement pt-1 pb-2 ps-3 pe-3 ps-md-4 pe-md-4">
                    <div class="row">
                        <div class="selectCustomer col-12">
                            {{'INVOICE.INFO.BODY' | translate}}
                        </div>
                        <div class="col-12 ps-0 pe-0">
                            <app-body [umList]="umList" [vatList]="vatList" (totalSummary)="changedTotalSummary($event)"
                                (vatSummary)="changedVatSummary($event)" #bodyComponent></app-body>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- VAT & PAYMENT & TOTAL -->
        <div class="row justify-content-start align-items-top mb-5">
            <div class="col-12 col-lg-7 col-xl-8 mb-4">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="cardElement pt-1 pb-2 ps-3 pe-3 ps-md-4 pe-md-4">
                            <div class="row">
                                <div class="selectCustomer col-12">
                                    {{'INVOICE.INFO.VAT' | translate}}
                                </div>
                                <div class="col-12 ps-0 pe-0">
                                    <app-vat [vatSummary]="vatSummary" #vatComponent></app-vat>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="cardElement pt-1 pb-2 ps-3 pe-3 ps-md-4 pe-md-4">
                            <div class="row">
                                <div class="selectCustomer col-12">
                                    {{'INVOICE.INFO.PAYMENTS' | translate}}
                                </div>
                                <div class="col-12 ps-0 pe-0">
                                    <app-payments [typeList]="paymentType" [conditionsList]="paymentCondition"
                                        [paymentTotal]="paymentTotal" [paymentTypeList]="paymentTypeList" 
                                        #paymentsComponent></app-payments>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5 col-xl-4">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="cardElement pt-1 pb-2 ps-3 pe-3 ps-md-4 pe-md-4">
                            <div class="row">
                                <div class="selectCustomer col-12">
                                    {{'INVOICE.INFO.STAMP' | translate}}
                                </div>
                                <div class="col-12 ps-0 pe-0">
                                    <app-stamp [vatList]="vatList" (deleteStampLine)="deleteStampLine()" 
                                        (addStampLine)="addStampLine($event)" (changeStampLine)="changeStampLine($event)"></app-stamp>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="cardElement pt-1 pb-2 ps-3 pe-3 ps-md-4 pe-md-4">
                            <div class="row">
                                <div class="selectCustomer col-12">
                                    {{'INVOICE.INFO.TOTAL' | translate}}
                                </div>
                                <div class="col-12 ps-0 pe-0">
                                    <app-total [totalSummary]="totalSummary" (totalChanged)="changedTotal($event)"
                                        #totalComponent></app-total>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>