.title {
    font-size: xx-large;
    font-weight: bold;
    color: white;
}

.titleColumn {
    background-color: #002D5D; 
    border-radius: 18px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

.iconField {
    font-size: 20px;
    transition: all 0.5s ease !important;
    // position: absolute;
    // top: 12px;
}

.iconField:hover {
    font-size: 22px;
    cursor: pointer;
}

.btn-outline-dark {
    color: #002D5D;
    border-color: #002D5D;
}

.btn-outline-dark:hover {
    background-color: #002D5D;
    color: white;
}

// .search {
//     left: 16%;

//     @media screen and (max-width: 1000px) {
//         left: 18%;
//     }

//     @media screen and (max-width: 900px) {
//         left: 22%;
//     }
// }

// .file {
//     left: 20%;

//     @media screen and (max-width: 1000px) {
//         left: 22%;
//     }

//     @media screen and (max-width: 900px) {
//         left: 24%;
//     }
// }

// .xCircle {
//     left: 24%;

//     @media screen and (max-width: 1000px) {
//         left: 26%;
//     }

//     @media screen and (max-width: 900px) {
//         left: 28%;
//     }
// }

.selectCustomer {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: large;
    font-weight: bold;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid lightgray;

    @media screen and (min-width: 768px) {
        padding-left: 0.6rem;
        padding-right: 0.6rem;
        font-size: x-large;
    }
}

.cardElement {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 0.50rem;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
}