.smallInfo {
    font-size: small;
    color: gray;
    font-style: italic;
}

.titleLines {
    font-size: x-large;
    font-weight: bold;
    color: #002D5D;
}

.form-label, .form-check-label {
    font-size: medium;
    font-weight: bold;
    margin-top: 0.3rem;
    margin-bottom: 0rem;
}

input, textarea, select {
    font-weight: 150;
}

.formColumn {
    padding-left: 0.75rem;
    padding-right: 0.75rem;

    @media screen and (min-width: 992px) {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
}

.bi:hover {
    cursor: pointer;
}