<div [formGroup]="additionalInfoForm" class="container-fluid">
    <div formArrayName="discounts" class="row justify-content-start align-items-center">
        <!-- DISCOUNT -->
        <div *ngFor="let discount of discounts.controls; let i = index" [formGroupName]="i"
            class="col-6 col-md-3 col-md-2 pe-1 mt-1 ps-0">
            <div class="row">
                <div class="col-6 pe-0">
                    <select class="form-select ps-1" name="isDiscount-{{i}}" id="isDiscount-{{i}}" style="border-top-right-radius: 0; border-bottom-right-radius: 0;"
                        formControlName="isDiscount"> 
                        <option [value]="true">Sconto</option>
                        <option [value]="false" >Maggiorazione</option>
                    </select>
                </div>
                <div class="col-6 ps-0">
                    <input type="text" class="form-control" id="value-{{i}}" formControlName="value"
                        [class.is-invalid]="discount.get('value')?.invalid" style="border-top-left-radius: 0; border-bottom-left-radius: 0;">
                </div>
            </div>
        </div>
        <div class="col-2 mt-1">
            <button class="btn btn-dark btn-circle">
                <i class="bi bi-plus" (click)="addDiscountLine()"></i>
            </button>
        </div>
    </div>
</div>