<div class="container-fluid p-1 p-md-2 p-lg-3" style="position: relative;">
    <div class="row justify-content-center align-items-center mt-2 mb-2" style="position: relative;">
        <!-- Status Card -->
        <div class="col-12 col-sm-6 col-lg-3 text-center order-2 order-lg-1 mt-4">
            <div class="card text-center" style="border-color: #002D5D;">
                <div class="card-header"
                    style="background-color: #002D5D; color: white; position: relative; font-weight: bold;">
                    <i class="bi bi-circle-fill mt-2 me-2" [ngStyle]="{ 'color': status?.color}"
                        style="position: absolute; left: 20%; top: 0; left: 20%;">
                    </i>
                    Status
                    <sup class="modifySup ms-2" (click)="modifyPopup(1)" style="position: absolute; top: 70%;">
                        <i class="bi bi-pencil modifyIcon" style="color: white;"></i>
                    </sup>
                </div>
                <div class="card-body p-1">
                    <p class="card-text" style="position: relative;">
                        {{status?.name}}<br>
                        <span *ngIf="status?.substatus?.id" class=""
                            style="font-size: small;">{{status?.substatus?.name}}</span>
                        <span *ngIf="!status?.substatus?.id" class="" style="font-size: small;">-</span><br>
                    </p>
                </div>
            </div>
        </div>

        <!-- Title and Description -->
        <div class="col-12 col-lg-6 text-center order-1 order-lg-2">
            <div class="col-12 text-center">
                <span class="ticketTitle">{{ticketGeneralForm.get("title")?.value}}</span>
                <sup class="modifySup ms-2" (click)="modifyPopup(0)">
                    <i class="bi bi-pencil modifyIcon"></i>
                </sup>
            </div>
            <div class="col-12 text-center mt-3">
                <span class="ticketDescription"
                    style="font-size: small;">{{ticketGeneralForm.get("description")?.value}}</span>
            </div>
        </div>

        <!-- Client Card -->
        <div class="col-12 col-sm-6 col-lg-3 text-center order-3 mt-4">
            <div class="card text-center" style="border-color: #002D5D;">
                <div class="card-header" style="background-color: #002D5D; color: white; font-weight: bold;">
                    Customer
                </div>
                <div class="card-body p-1">
                    <p class="card-text">
                        <span *ngIf="internal; else externalBlock" class="mt-2">Internal</span>
                        <ng-template #externalBlock>
                            <span>{{ticketInfo?.customer?.denominazione}}</span><br>
                        </ng-template>
                        <span *ngIf="ticketInfo?.location">{{ticketInfo?.location}}</span>
                        <span *ngIf="!ticketInfo?.location">-</span>
                    </p>
                </div>
            </div>
        </div>

        <button class="btn btn-primary" [matMenuTriggerFor]="menu" style="position: absolute; right: 20px; top: 200px; width: 50px; z-index: 100;">
            +
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
            </button>
            <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
            </button>
        </mat-menu>
    </div>

    <mat-tab-group class="equal-width-tabs">
        <mat-tab class="justify-content-center text-center">
            <ng-template mat-tab-label>
                <span class="title">Ticket Info</span>
                <i class="bi bi-info-circle titleIcon"></i>
            </ng-template>
            <ng-template matTabContent>
                <app-ticket-info *ngIf="ticketInfo" [data]="ticketInfo!"></app-ticket-info>
            </ng-template>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <span class="title">Works & Messages</span>
                <i class="bi bi-chat-left-text titleIcon"></i>
            </ng-template>
            <ng-template matTabContent>
                <app-ticket-timeline></app-ticket-timeline>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
    <!-- 
    <mat-tab-group dynamicHeight>
        <mat-tab label="Short tab">
            <div class="example-small-box mat-elevation-z4">
                Small content
            </div>
        </mat-tab>
        <mat-tab label="Long tab">
            <div class="example-large-box mat-elevation-z4">
                Large content
            </div>
        </mat-tab>
    </mat-tab-group> -->


</div>