.panelTitle {
    font-size: x-large;
    font-weight: bold;
}

.bi-plus-circle {
    font-size: 20px;
    transform: scale(1);
    color: black;
    transition: transform 1s ease, color 1s ease;
    display: inline-block;
}

.bi-plus-circle:hover {
    transform: scale(1.4);
    color: green;
}

.truncate-text {
    display: -webkit-box;
    word-break: break-word;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 4.5em;
    line-height: 1.5em;
    padding-top: 0.3rem;

    /* Rimuove il bordo indesiderato */
    outline: none;
    border: none;
    background-color: transparent;
    /* Assicura che lo sfondo sia trasparente */

    /* Evita eventuali stili di focus indesiderati */
    &:focus,
    &:active {
        outline: none;
        border: none;
    }
}

/* Contenitore scrollabile */
.table-container {
    width: 1500px;
    height: 600px;
    max-width: 100%;
    overflow-x: auto;
    position: relative;
}

/* Imposta la larghezza minima della tabella per attivare lo scroll */
.mat-table {
    width: 1500px;
    table-layout: fixed;
    /* Impedisce il ridimensionamento dinamico delle colonne */
}

th,
td {
    border: 1px solid lightgrey;
    white-space: nowrap;
}

tr {
    border-bottom: 1px solid lightgray;
}

.clickableElement {
    color: blue;
    text-decoration: underline;
}

.clickableElement:hover {
    cursor: pointer;
}