<div class="container-fluid mt-2 p-1 p-md-2 p-lg-3 p-xxl-4 mb-5"
    style="max-width: 1400px; min-width: 400px; position: relative; min-height: 74vh;">
    <div class="row text-center">
        <div class="col-md-4 order-2 order-lg-1 mt-2">
            <div class="btn-group">
                <div class="btn btn-outline-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                    (viewDateChange)="closeOpenMonthViewDay()">
                    <i class="bi bi-chevron-left"></i>
                </div>
                <div class="btn btn-outline-primary" mwlCalendarToday [(viewDate)]="viewDate">
                    {{"CALENDAR.TODAY" | translate}}
                </div>
                <div class="btn btn-outline-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                    (viewDateChange)="closeOpenMonthViewDay()">
                    <i class="bi bi-chevron-right"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4 order-1 order-lg-2">   
            <h3 class="mb-1" style="color: #002D5D;">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        </div>
        <div class="col-md-4 order-3 mt-2">
            <div class="btn-group">
                <div class="btn btn-outline-primary date-type" (click)="setView(CalendarView.Month)"
                    [class.active]="view === CalendarView.Month">
                    {{"CALENDAR.MONTH" | translate}}
                </div>
                <div class="btn btn-outline-primary date-type" (click)="setView(CalendarView.Week)"
                    [class.active]="view === CalendarView.Week">
                    {{"CALENDAR.WEEK" | translate}}
                </div>
                <!-- <div class="btn btn-outline-primary date-type" (click)="setView(CalendarView.Day)"
                    [class.active]="view === CalendarView.Day">
                    {{"CALENDAR.DAY" | translate}}
                </div> -->
            </div>
        </div>
    </div>
    <br/>
    <div [ngSwitch]="view">
        <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" [weekStartsOn]="weekStartsOn" 
            (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" 
            (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh" [weekStartsOn]="weekStartsOn" (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-day-view>
    </div>
</div>

<button class="btn btn-circle btn-sticky" (click)="editOrCreateEventPopup()">
    <i class="bi bi-plus-lg"></i>
</button>

<!-- Template personalizzato per gli eventi -->
<ng-template #customEventTemplate let-event="event">
    <div class="custom-event">
        {{ event.title }}
    </div>
</ng-template>