<section class="timeline_area section_padding_130">
    <div class="container-fluid" >
        <!-- Section Heading-->
        <!-- <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <div class="section_heading text-center">
                    <h6>Our History</h6>
                    <h3>A brief stories of our 2 years company journey</h3>
                    <div class="line"></div>
                </div>
            </div>
        </div> -->

        <div class="row mt-2 mx-auto justify-content-end" style="max-width: 1500px; min-width: 350px;">
            <div class="col-auto responsiveColumn">
                <mat-chip-listbox class="mat-chip-container" multiple>
                    <mat-chip-option *ngFor="let filter of translatedFilters" (selectionChange)="onSelectionChange($event, filter.offset)" selected>
                        <span class="d-none d-md-inline">
                            {{filter.label}}
                        </span>
                        <i class="bi bi-{{filter.icon}} ms-md-1"></i>
                    </mat-chip-option>
                </mat-chip-listbox> 
            </div>
        </div>

        <div class="row p-1 mt-2">
            <div class="col-12" style="max-width: 1500px; min-width: 350px; margin: 0 auto; overflow-y: hidden;">
                <!-- Timeline Area-->
                <div class="apland-timeline-area">
                    <div *ngFor="let line of lines; let i = index; trackBy: trackById">
                        <app-ticket-work *ngIf="line.type_line == 1 && translatedFilters[4].value == 1" [ticketId]="ticketId" [work]="line" [hours]="hours" [minutes]="minutes"
                            [index]="i" (delete)="deleteLine($event)" (getLine)="getLine($event)">
                        </app-ticket-work>
                        <app-ticket-article *ngIf="line.type_line == 2 && translatedFilters[0].value == 1" [ticketId]="ticketId" [article]="line" [measurmentUnit]="measurmentUnit"
                            [index]="i" (delete)="deleteLine($event)" (getLine)="getLine($event)">
                        </app-ticket-article>
                        <app-ticket-message *ngIf="line.type_line == 3 && translatedFilters[2].value == 1" [ticketId]="ticketId" [message]="line"
                            [index]="i" (delete)="deleteLine($event)" (getLine)="getLine($event)">
                        </app-ticket-message>
                        <app-ticket-status-card *ngIf="line.type_line == 4 && translatedFilters[3].value == 1" [ticketId]="ticketId"
                            [status]="line">
                        </app-ticket-status-card>
                        <app-ticket-incharge-card *ngIf="line.type_line == 5 && translatedFilters[1].value == 1" [ticketId]="ticketId"
                            [incharge]="line">
                        </app-ticket-incharge-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>