<section class="timeline_area section_padding_130">
    <div class="container-fluid">
        <!-- Section Heading-->
        <!-- <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <div class="section_heading text-center">
                    <h6>Our History</h6>
                    <h3>A brief stories of our 2 years company journey</h3>
                    <div class="line"></div>
                </div>
            </div>
        </div> -->
        <div class="row p-1 mt-4">
            <div class="col-12">
                <!-- Timeline Area-->
                <div class="apland-timeline-area">
                    <app-ticket-work></app-ticket-work>
                </div>
            </div>
        </div>
    </div>
</section>