.btn-outline-dark {
    border-color: #002D5D;
    color: #002D5D;
}

.btn-outline-dark:hover {
    background-color: #002D5D;
    color: white;
}

.form-check-label {
    font-weight: bold;
    margin-left: 0.5rem;
}