.userInfo {
    color: gray;
    font-size: x-small;
    font-style: italic;
}

.btn-outline-dark {
    border-color: #002D5D;
    color: #002D5D;
}

.btn-outline-dark:hover {
    background-color: #002D5D;
    color: white;
}