.form-label {
    font-weight: bold;
    margin-bottom: 0.1rem;
    margin-top: 0.5rem;
    font-size: x-small;

    @media screen and (min-width: 750px) {
        font-size: small;
    }

    @media screen and (min-width: 1000px) {
        font-size: medium;
    }

}

.btn-outline-dark {
    border-color: #002D5D;
    color: #002D5D;
}

.btn-outline-dark:hover {
    background-color: #002D5D;
    color: white;
}

.vatPadding {
    padding-left: 0.1rem;
    padding-right: 0.1rem;

    @media screen and (min-width: 500px) {
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    }

    @media screen and (min-width: 600px) {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
}