<h2 mat-dialog-title align="center" class="justify-content-center" style="background-color: #002D5D;">
    <span style="color: white; font-weight: bold; font-size: x-large;">
        {{"ARTICLE.MODAL.UPDATEQUANTITY" | translate}}
    </span>
</h2>

<mat-dialog-content style="overflow-y: auto; overflow-x: hidden;">
    <form [formGroup]="updateForm">
        <div class="row justify-content-center align-items-center p-1">

            <div class="col-12 text-center p-1">
                <span style="font-weight: bold; font-size: small;">
                    NB:
                </span>
                <span style="font-size: small;">
                    La quantità verrà aggiunta all'articolo
                </span>
            </div>

            <div class="col-2 p-1">
                <label class="form-label" for="quantity">
                    <span *ngIf="!isSmall; else smallBlockQ">
                        Quantità
                    </span>
                    <ng-template #smallBlockQ>
                        <span>
                            Qnt.
                        </span>
                    </ng-template>
                </label>
                <input class="form-control vatPadding" type="text" id="quantity" formControlName="quantity">
            </div>

            <div class="col-3 p-1">
                <label class="form-label" for="taxablepurchase">
                    <span *ngIf="!isSmall; else smallBlockA">
                        Imponibile Acquisto
                    </span>
                    <ng-template #smallBlockA>
                        <span>
                            Imp. Acq.
                        </span>
                    </ng-template>
                </label>
                <div class="input-group">
                    <input class="form-control" type="text" id="taxablepurchase" formControlName="taxablepurchase">
                    <span *ngIf="!isSmall" class="input-group-text" id="taxablepurchase">€</span>
                </div>
            </div>
            <div class="col-2 p-1">
                <label class="form-label" for="vatpurchase">
                    IVA
                </label>
                <div class="input-group">
                    <input class="form-control vatPadding" type="text" id="vatpurchase"
                        formControlName="vatpurchase">
                    <span *ngIf="!isSmall" class="input-group-text" id="vatpurchase">%</span>
                </div>
            </div>
            <div class="col-3 p-1">
                <label class="form-label" for="taxablerecommended">
                    <span *ngIf="!isSmall; else smallBlockC">
                        Imponibile Consigliato
                    </span>
                    <ng-template #smallBlockC>
                        <span>
                            Imp. Cons.
                        </span>
                    </ng-template>
                </label>
                <div class="input-group">
                    <input class="form-control" type="text" id="taxablerecommended"
                        formControlName="taxablerecommended">
                    <span *ngIf="!isSmall" class="input-group-text" id="taxablerecommended">€</span>
                </div>
            </div>
            <div class="col-2 p-1">
                <label class="form-label" for="vatrecommended">
                    IVA
                </label>
                <div class="input-group">
                    <input class="form-control vatPadding" type="text" id="vatrecommended"
                        formControlName="vatrecommended">
                    <span *ngIf="!isSmall" class="input-group-text" id="vatrecommended">%</span>
                </div>
            </div>
        </div>

        <div class="row justify-content-center align-items-center mt-2 ps-2">
            <div class="col-12 form-check">
                <label class="form-check-label" for="isSerialNumber">
                    Inserire un Serial number per gli articoli?
                </label>
                <input class="form-check-input" type="checkbox" role="switch" id="isSerialNumber"
                    formControlName="isSerialNumber">
            </div>
            <div *ngIf="updateForm.get('isSerialNumber')?.value == true;" class="col-12 form-check">
                <label class="form-check-label" for="preCompiledArticles">
                    Le righe devono essere precompilate con il precedente imponibile?
                </label>
                <input class="form-check-input" type="checkbox" role="switch" id="preCompiledArticles"
                    formControlName="preCompiledArticles">
            </div>
        </div>
    </form>

    <form *ngIf="generated" [formGroup]="serialNumberForm">
        <ng-container formArrayName="articles">
            <div *ngFor="let item of articles.controls; let i = index" [formGroupName]="i"
                class="row justify-content-center align-items-center pb-1" style="border-bottom: 1px solid lightgray;">
                <div class="col-4 col-sm-3 col-md-2 p-1">
                    <label class="form-label" for="serialnumber-{{i}}">
                        <span *ngIf="!isSmall; else smallBlockS">
                            Serial Number
                        </span>
                        <ng-template #smallBlockS>
                            <span>
                                SN
                            </span>
                        </ng-template>
                    </label>
                    <input class="form-control vatPadding" type="text" id="serialnumber-{{i}}"
                        formControlName="serialnumber">
                </div>
                <div class="col-3 pe-0 pe-sm-1 p-1">
                    <label class="form-label" for="taxablepurchase-{{i}}">
                        <span *ngIf="!isSmall; else smallBlockA2">
                            Imponibile Acquisto
                        </span>
                        <ng-template #smallBlockA2>
                            <span>
                                Imp. Acq.
                            </span>
                        </ng-template>
                    </label>
                    <div class="input-group">
                        <input class="form-control" type="text" id="taxablepurchase-{{i}}"
                            formControlName="taxablepurchase">
                        <span *ngIf="!isSmall" class="input-group-text" id="taxablepurchase-{{i}}">€</span>
                    </div>
                </div>
                <div class="col-1 col-sm-2 p-0 p-sm-1">
                    <label class="form-label" for="vatpurchase-{{i}}">
                        IVA
                    </label>
                    <div class="input-group">
                        <input class="form-control vatPadding" type="text" id="vatpurchase-{{i}}"
                            formControlName="vatpurchase">
                        <span *ngIf="!isSmall" class="input-group-text" id="vatpurchase-{{i}}">%</span>
                    </div>
                </div>
                <div class="col-3 pe-0 pe-sm-1 p-1">
                    <label class="form-label" for="taxablerecommended-{{i}}">
                        <span *ngIf="!isSmall; else smallBlockC2">
                            Imponibile Consigliato
                        </span>
                        <ng-template #smallBlockC2>
                            <span>
                                Imp. Cons.
                            </span>
                        </ng-template>
                    </label>
                    <div class="input-group">
                        <input class="form-control" type="text" id="taxablerecommended-{{i}}"
                            formControlName="taxablerecommended">
                        <span *ngIf="!isSmall" class="input-group-text" id="taxablerecommended-{{i}}">€</span>
                    </div>
                </div>
                <div class="col-1 col-sm-2 p-0 p-sm-1">
                    <label class="form-label" for="vatrecommended-{{i}}">
                        IVA
                    </label>
                    <div class="input-group">
                        <input class="form-control vatPadding" type="text" id="vatrecommended-{{i}}"
                            formControlName="vatrecommended">
                        <span *ngIf="!isSmall" class="input-group-text" id="vatrecommended-{{i}}">%</span>
                    </div>
                </div>
            </div>
        </ng-container>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end" style="border-top: 1px solid lightgray;">
    <ng-container *ngIf="!generated">
        <button class="btn btn-outline-dark me-2" (click)="close()">
            Chiudi
        </button>
        <button class="btn btn-outline-success me-2" (click)="generateArticles()">
            Genera
        </button>
    </ng-container>

    <ng-container *ngIf="generated">
        <button class="btn btn-outline-dark me-2" style="width: 100px;" (click)="close()">
            {{"ARTICLE.MODAL.CANCEL" | translate }}
        </button>
        <button class="btn btn-outline-success me-2" style="width: 100px;" (click)="modifyArticle()">
            {{"ARTICLE.MODAL.CONFIRM" | translate }}
        </button>
    </ng-container>
</mat-dialog-actions>