.form-label {
    font-weight: bold;
    margin-bottom: 0.1rem;
    margin-top: 0.5rem;
}

.btn-outline-dark {
    border-color: #002D5D;
    color: #002D5D;
}

.btn-outline-dark:hover {
    background-color: #002D5D;
    color: white;
}

.errorTxt {
    color: red;
    font-size: small;
}