.form-label {
    font-weight: bold;
    margin-bottom: 0.1rem;
}

.btn-outline-dark {
    border-color: #002D5D;
    color: #002D5D;
}

.btn-outline-dark:hover {
    background-color: #002D5D;
    color: white;
}

.userInfo {
    color: gray;
    font-size: small;
    font-style: italic;
}

.mat-mdc-tab-group {
    --mdc-tab-indicator-active-indicator-color: #002D5D;
    --mat-tab-header-active-label-text-color: #002D5D;
    --mat-tab-header-active-ripple-color: #002D5D;
    --mat-tab-header-inactive-ripple-color: #002D5D;
    --mat-tab-header-active-focus-label-text-color: #002D5D;
    --mat-tab-header-active-hover-label-text-color: #002D5D;
    --mat-tab-header-active-focus-indicator-color: #002D5D;
    --mat-tab-header-active-hover-indicator-color: #002D5D;
}

.titleIcon {
    font-size: 20px;
    margin-left: 1rem;
}

.title {
    font-size: large;
}

.form-label {
    font-size: small;

    @media screen and (min-width: 1000px) {
        font-size: medium;
    }
}

.elementPadding {
    padding: 0.2rem;
}

.unitMeasurement {
    padding-left: 0.4rem;
}

.settingsIcon {
    position: absolute; 
    font-size: 20px;
    top: 66px;
    left: 0;

    @media screen and (min-width: 577px) {
        top: 50px; 
        left: 48%;
    }
}

.errorTxt {
    color: red;
    font-size: small;
}