<div class="container-fluid ps-1 pe-1 pb-2 ps-md-2 pe-md-2 ps-xl-3 pe-xl-3">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-4 col-lg-12">
            <span class="title me-2">
                {{"INVOICE.INFO.STAMPCOMPONENT.INCHARGE" | translate}}: 
            </span>
            <span class="content">
                {{stamp?.inCharge}}
            </span>
        </div>

        <div class="col-12 col-md-4 col-lg-12">
            <span class="title me-2">
                {{"INVOICE.INFO.STAMPCOMPONENT.AMOUNT" | translate}}:
            </span>
            <span class="content">
                {{stamp?.total}}
            </span>
        </div>

        <div class="col-12 col-md-4 col-lg-12">
            <span class="title me-2">
                {{"INVOICE.INFO.STAMPCOMPONENT.VATNATURE" | translate}}:
            </span>
            <span class="content">
                {{stamp?.vat}}
            </span>
        </div>
    </div>
</div>