<h2 mat-dialog-title align="center" class="justify-content-center" style="background-color: #002D5D;">
    <span style="color: white; font-weight: bold; font-size: x-large;">
        {{"INVOICE.MODAL.UPDATEORHISTORICIZE" | translate }}
    </span>
</h2>

<mat-dialog-content>
    <div class="row justify-content-start align-items-center mt-1 pb-2">
        <div class="col-12 mt-1">
            <span class="smallInfo">
                {{"INVOICE.CUSTOMER.ORGANIZATION.INFOUPDATE" | translate}}
            </span>
        </div>

        <div class="col-12 mt-2">
            <span class="smallInfo">
                {{"INVOICE.CUSTOMER.ORGANIZATION.INFOHISTORICIZE" | translate}}
            </span>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end" style="border-top: 1px solid lightgray;">
    <button class="btn btn-outline-success me-2" (click)="update()">
        {{"INVOICE.MODAL.UPDATE" | translate }}
    </button>
    <button class="btn btn-outline-success me-2" (click)="historicize()">
        {{"INVOICE.MODAL.HISTORICIZE" | translate }}
    </button>
    <button class="btn btn-outline-dark me-2" (click)="close()">
        {{"INVOICE.MODAL.CANCEL" | translate }}
    </button>
</mat-dialog-actions>