<div class="container-fluid p-1 p-sm-2 p-md-3 p-lg-4" style="min-width: 375px; min-height: 90vh;">
    <div class="row justify-content-center align-items-center mt-2 mb-2">
        <div class="col-12 text-center title">
            <label class="me-3">Tickets</label>
            <button class="btn btn-outline-primary stickyButton btn-circle sticky-footer" (click)="newTicket()">
                <i class="bi bi-plus-lg"></i>
            </button>
        </div>
    </div>

    <div class="row justify-content-center align-items-center p-3">
        <app-filters (filterEmit)="getTicketList()"></app-filters>
    </div>

    <div class="row justify-content-center align-items-center p-3 mt-4">
        <div class="col-12 p-0" style="max-width: 1100px;">
            <div class="mat-elevation-z8" style="position: relative;">

                <!-- <div class="d-none d-md-inline" style="position: absolute; top: 15px; left: 20px;">
                    <span style="font-size: small;">
                        Ordina Data per:
                    </span>
                    
                    <button class="btn btn-sm btn-outline-dark" (click)="changeOrder()"> 
                        <span *ngIf="orderby == 'asc' || orderby == 'null'">
                            Discendente
                            <i class="bi bi-caret-down"></i>
                        </span>
                        <span *ngIf="orderby == 'desc'">
                            Ascendente
                            <i class="bi bi-caret-up"></i>
                        </span>
                    </button>
                </div> -->

                <div class="row justify-content-center p-3">
                    <div class="d-none d-md-inline col-4 text-start">
                        <span style="font-size: small;">Risultati Totali: {{totalResults}}</span>
                    </div>

                    <div class="d-none d-md-inline col-4 text-center">
                        <span style="font-size: small;">Oggetti per pagina: {{itemsPerPage}}</span>
                    </div>

                    <div class="col-12 col-md-4 text-end">
                        <span>
                            <button [disabled]="currentPage == 1" class="btn btn-link me-2 p-0" (click)="prevPage()">
                                <i class="bi bi-caret-left"></i>
                            </button>
                            <span style="font-size: small;">Pagina {{currentPage}} di {{totalPages}}</span>
                            <button [disabled]="currentPage == totalPages" class="btn btn-link ms-2 p-0" (click)="nextPage()">
                                <i class="bi bi-caret-right"></i>
                            </button>
                        </span>
                    </div>
                    
                </div>

                <table mat-table [dataSource]="ticketList" class="mat-table" matSort #sort="matSort"
                    matSortActive="creation" matSortDirection="desc" matSortDisableClear>

                    <!-- Numero Column -->
                    <ng-container matColumnDef="creation">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Apertura </th>
                        <td mat-cell *matCellDef="let element"> {{ element.creation }} </td>
                    </ng-container>

                    <!-- Data Column -->
                    <ng-container matColumnDef="customer">
                        <th mat-header-cell *matHeaderCellDef> Cliente </th>
                        <td mat-cell *matCellDef="let element"> {{ element.customer.denominazione }} </td>
                    </ng-container>

                    <!-- Cliente Column -->
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef> Descrizione </th>
                        <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
                    </ng-container>

                    <!-- Stato Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Stato </th>
                        <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
                    </ng-container>

                    <!-- Ultimo Aggiornamento Column -->
                    <ng-container matColumnDef="lastupdate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Ultimo Aggiornamento </th>
                        <td mat-cell *matCellDef="let element"> {{ element.lastupdate }} </td>
                    </ng-container>

                    <!-- Note Column -->
                    <ng-container matColumnDef="info">
                        <th mat-header-cell *matHeaderCellDef class="d-none d-sm-table-cell" style="width: 100px;"> Info </th>
                        <td mat-cell *matCellDef="let element" class="d-none d-sm-table-cell">
                            <i *ngIf="element.incharge; else notInChargeBlock" class="bi bi-person me-2" [matTooltip]="element.incharge"></i>
                            <ng-template #notInChargeBlock>
                                <i class="bi bi-person-x me-2" matTooltip="Non In Carica"></i>
                            </ng-template>
                            <i *ngIf="element.incharge; else noNotesBlock" class="bi bi-info-circle" [matTooltip]="element.notes"></i>
                            <ng-template #noNotesBlock>
                                <i class="bi bi-info-circle" matTooltip="Nessuna Nota"></i>
                            </ng-template>
                        </td>
                    </ng-container>

                    <!-- Header and Row Definitions -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="rowHover"
                        (click)="gotoTicket(row)"></tr>
                </table>
            </div>
        </div>
    </div>
</div>