<h2 mat-dialog-title align="center" class="justify-content-center" style="background-color: #002D5D;">
    <span *ngIf="idPopup == 1; else deletePopup" style="color: white; font-weight: bold; font-size: x-large;">
        {{"CUSTOMER.MODAL.MODIFYADDRESS" | translate }}
    </span>
    <ng-template #deletePopup>
        <span style="color: white; font-weight: bold; font-size: x-large;">
            {{"CUSTOMER.MODAL.DELETEADDRESS" | translate }}
        </span>
    </ng-template>
</h2>

<mat-dialog-content *ngIf="idPopup == 1">
    <div [formGroup]="addressForm" class="row justify-content-center align-items-center mt-1">

        <!-- DESCRIPTION -->
        <div class="col-12 col-lg-6">
            <label class="form-label" for="description">
                {{"CUSTOMER.ADDRESS.DESCRIPTION" | translate}}
            </label>
            <textarea class="form-control" type="text" id="description" formControlName="description"
                [rows]="descriptionRows"></textarea>
        </div>

        <!-- COUNTRY -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <label class="form-label" for="country2">
                {{"CUSTOMER.ADDRESS.COUNTRY" | translate}}
            </label>
            <select class="form-select" id="country2" formControlName="country"
                [class.is-invalid]="addressForm.get('country')?.invalid && submitted">
                <option [ngValue]="null">
                    --
                </option>
                <option *ngFor="let country of countriesList" [ngValue]="country.id">
                    {{country.common_name}}
                </option>
            </select>
        </div>

        <!-- CITY -->
        <div *ngIf="addressForm.get('country')?.value == 12; else notItalianBlock"
            class="col-12 col-sm-6 col-md-4 col-lg-3">
            <label class="form-label" for="city_it">{{"CUSTOMER.ADDRESS.MUNICIPALITY" | translate }}</label>
            <input type="text" matInput [matAutocomplete]="city" class="form-control" id="city_it"
                formControlName="city_it" [class.is-invalid]="addressForm.get('city_it')?.invalid && submitted">
            <mat-autocomplete #city="matAutocomplete" [displayWith]="displayCityName">
                <mat-option *ngFor="let option of filteredCities$ | async" [value]="option">
                    <div>
                        {{option.name}}
                    </div>
                </mat-option>
            </mat-autocomplete>
        </div>
        <ng-template #notItalianBlock>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <label class="form-label" for="city">
                    {{"CUSTOMER.ADDRESS.CITY" | translate}}
                </label>
                <input class="form-control" type="text" id="city" formControlName="city"
                    [class.is-invalid]="addressForm.get('city')?.invalid && submitted">
            </div>
        </ng-template>

        <!-- PROVINCE -->
        <div class="col-12 col-sm-8 col-md-4 col-lg-3">
            <label class="form-label" for="province">
                {{"CUSTOMER.ADDRESS.PROVINCE" | translate}}
            </label>
            <input class="form-control" type="text" id="province" formControlName="province"
                [class.is-invalid]="addressForm.get('province')?.invalid && submitted">
        </div>

        <!-- CAP -->
        <div class="col-12 col-sm-4 col-md-3 col-lg-2">
            <label class="form-label" for="postalcode">
                {{"CUSTOMER.ADDRESS.POSTALCODE" | translate}}
            </label>
            <input class="form-control" type="text" id="postalcode" formControlName="postalcode"
                [class.is-invalid]="addressForm.get('postalcode')?.invalid && submitted">
        </div>

        <!-- STREET -->
        <div class="col-12 col-sm-9 col-md-7 col-lg-6">
            <label class="form-label" for="street">
                {{"CUSTOMER.ADDRESS.STREET" | translate}}
            </label>
            <input class="form-control" type="text" id="street" formControlName="street"
                [class.is-invalid]="addressForm.get('street')?.invalid && submitted">
        </div>

        <!-- NUMBER -->
        <div class="col-12 col-sm-3 col-md-2 col-lg-1">
            <label class="form-label" for="street_number">
                {{"CUSTOMER.ADDRESS.NUMBER" | translate}}
            </label>
            <input class="form-control" type="text" id="street_number" formControlName="street_number"
                [class.is-invalid]="addressForm.get('street_number')?.invalid && submitted">
        </div>

        <!-- LEGAL OFFICE -->
        <div class="col-12 col-sm-6 ps-2 form-check">
            <label class="form-check-label ms-2" for="legalOffice">
                {{"CUSTOMER.ADDRESS.LEGALOFFICE" | translate}}
            </label>
            <input class="form-check-input mt-2 ms-1" type="checkbox" id="legalOffice" formControlName="legalOffice"
                style="height: 20px; width: 20px;">
        </div>

        <!-- MAIN OFFICE -->
        <div class="col-12 col-sm-6 ps-2 form-check">
            <label class="form-check-label ms-2" for="mainOffice">
                {{"CUSTOMER.ADDRESS.MAINOFFICE" | translate}}
            </label>
            <input class="form-check-input mt-2 ms-1" type="checkbox" id="mainOffice" formControlName="mainOffice"
                style="height: 20px; width: 20px;">
        </div>
    </div>

    <div *ngIf="addressForm.invalid" class="row mt-2">
        <div *ngIf="addressForm.get('country')?.value == null" class="col-12 text-center">
            <span class="errorText">
                {{"CUSTOMER.ADDRESS.ERRORSELECTCOUNTRY" | translate}}
            </span>
        </div>

        <div *ngIf="addressForm.get('country')?.value != null && submitted" class="col-12 text-center">
            <span class="errorText">
                {{"CUSTOMER.ADDRESS.MANDATORYFIELDS" | translate}}
            </span>
        </div>

        <div *ngIf="addressForm.get('country')?.value == 12 && submitted && addressForm.get('city_it')?.hasError('invalidCity')"
            class="col-12 text-center">
            <span class="errorText">
                {{"CUSTOMER.ADDRESS.INVALIDCITY" | translate}}
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mt-1">
            <span style="font-size: small; color: gray; font-style: italic;">
                {{'COMPANY.POPUP.NBHISTORICIZE' | translate}}<br>
                {{'COMPANY.POPUP.NBUPDATE' | translate}}
            </span>
        </div>
    </div>

    <!-- ACTIONS -->
    <div class="row pt-2 mt-2" style="border-top: 1px solid lightgray;">
        <ng-container *ngIf="addressForm.get('idlocation')?.value != 0; else newAddressBlock">
            <div class="col-4 text-start">
                <button class="btn btn-outline-success me-2" (click)="update()">
                    {{"CUSTOMER.MODAL.UPDATE" | translate }}
                </button>
            </div>
            <div class="col-4 text-center">
                <button class="btn btn-outline-success me-2" (click)="historicize()">
                    {{"CUSTOMER.MODAL.HISTORICIZE" | translate }}
                </button>
            </div>
        </ng-container>

        <ng-template #newAddressBlock>
            <div class="col-8 text-start">
                <button class="btn btn-outline-success me-2" (click)="add()">
                    {{"CUSTOMER.MODAL.ADD" | translate }}
                </button>
            </div>
        </ng-template>


        <div class="col-4 text-end">
            <button class="btn btn-outline-dark me-2" (click)="close()">
                {{"CUSTOMER.MODAL.CANCEL" | translate }}
            </button>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-content *ngIf="idPopup == 2">
    <div class="row">
        <div class="col-12 text-center p-2">
            <span>
                {{"CUSTOMER.MODAL.DELETEMSG" | translate }}
            </span>
        </div>
    </div>

    <!-- ACTIONS -->
    <div class="row pt-2 mt-2" style="border-top: 1px solid lightgray;">
        <div class="col-6 text-start">
            <button class="btn btn-outline-danger me-2" (click)="deleteAddress()">
                {{"CUSTOMER.MODAL.DELETE" | translate }}
            </button>
        </div>
        <div class="col-6 text-end">
            <button class="btn btn-outline-dark me-2" (click)="close()">
                {{"CUSTOMER.MODAL.CANCEL" | translate }}
            </button>
        </div>
    </div>
</mat-dialog-content>